Repository pytroll/satpy, pull requests merged in 2018-10, with the labels that each got.

#441 Fix metop reader
  satpy/readers/eps_l1b.py
  satpy/readers/xmlformat.py
Labels: component:readers, enhancement

#447 Fix masking in DayNightCompositor when composites have partial missing data
  satpy/composites/__init__.py
  satpy/tests/compositor_tests/__init__.py
Labels: component:compositors, hacktoberfest

#446 Bugfix nc_nwcsaf_msg reader projection units handling
  satpy/readers/nc_nwcsaf.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_nc_nwcsaf.py
Labels: component:readers, hacktoberfest

#448 Fix saving a dataset with a prerequisites attrs to netcdf
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: bug, component:writers

#468 Fix native resampling when RGBs are resampled
  satpy/resample.py
  satpy/tests/test_resample.py
Labels: bug, component:resampling

#469 Fix attributes not being preserved when adding overlays or decorations
  satpy/writers/__init__.py
Labels: bug, component:writers

#471 Fix offset between VIS+IR and HRV navigation for hrit seviri
  satpy/readers/hrit_msg.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_hrit_msg.py
Labels: bug, component:readers

#458 Fix the slstr reader for consistency and tir view
  satpy/etc/composites/slstr.yaml
  satpy/etc/readers/nc_slstr.yaml
Labels: bug, component:compositors, component:readers

#477 Add additional metadata to ABI L1B DataArrays
  AUTHORS.md
  satpy/etc/readers/abi_l1b.yaml
  satpy/readers/abi_l1b.py
  satpy/tests/reader_tests/test_abi_l1b.py
Labels: component:readers, enhancement

#478 Allow writers to create output directories if they don't exist
  doc/source/conf.py
  satpy/plugin_base.py
  satpy/tests/test_writers.py
  satpy/writers/__init__.py
  setup.py
Labels: component:writers, enhancement

#463 MSG Level1.5 NetCDF Reader (code and yaml file) for VIS/IR Channels
  satpy/etc/readers/nc_seviri_l1b.yaml
  satpy/readers/nc_seviri_l1b.py
Labels: component:readers, enhancement
