Repository pytroll/satpy, pull requests merged in 2018-12, with the labels that each got.

#530 Add reader for Goes15 netcdf Eumetsat format
  satpy/etc/composites/goes_imager.yaml
  satpy/etc/readers/nc_goes.yaml
  satpy/readers/nc_goes.py
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/test_nc_goes.py
  satpy/tests/test_yaml_reader.py
Labels: PCW, component:readers, enhancement

#519 Add xarray/dask bilinear resampling
  satpy/resample.py
  satpy/tests/test_resample.py
Labels: PCW, component:resampling, enhancement

#507 Change default enhancement for reflectance data to square root (gamma 1.5)
  satpy/etc/enhancements/generic.yaml
Labels: backwards-incompatibility, component:enhancements, enhancement, optimization

#542 Fix palette application for pps 2018 products
  satpy/composites/__init__.py
  satpy/composites/cloud_products.py
  satpy/readers/nc_nwcsaf.py
  satpy/tests/compositor_tests/__init__.py
Labels: bug, component:compositors, component:readers

#548 Fix ratio sharpening compositors when the ratio is negative
  satpy/composites/__init__.py
  satpy/tests/compositor_tests/__init__.py
Labels: bug, component:compositors

#547 Fix EWA resampling for new versions of pyresample
  satpy/resample.py
Labels: bug, component:resampling

#549 Fix nwcpps ct palette from v2018 to be backwards compatible
  satpy/readers/nc_nwcsaf.py
Labels: component:readers, enhancement

#508 Fix the cf_writer to accept single-valued time coordinate variable
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: bug, component:writers, work in progress

#533 Fix copy/paste error in readers table for viirs_l1b
  doc/source/index.rst
Labels: documentation

#545 Add configurable parameters to solar zenith correctors
  satpy/composites/__init__.py
  satpy/composites/viirs.py
  satpy/etc/composites/visir.yaml
  satpy/tests/compositor_tests/__init__.py
  satpy/utils.py
  setup.py
Labels: component:compositors, enhancement

#550 Fix AHI HRIT file patterns so area's ID is correct
  satpy/etc/readers/ahi_hrit.yaml
Labels: bug, component:readers

#556 Fix turning off enhancements in writers for float data
  satpy/tests/test_writers.py
  satpy/writers/__init__.py
  satpy/writers/mitiff.py
Labels: bug, component:enhancements

#505 Allow use of non-dask pyresample get_proj_vectors method
  satpy/readers/yaml_reader.py
  satpy/resample.py
Labels: component:readers, component:resampling, optimization

#551 Fix image overlays for single band data (requires trollimage 1.6+)
  .travis.yml
  appveyor.yml
  doc/source/conf.py
  satpy/tests/test_writers.py
  satpy/writers/__init__.py
Labels: component:writers, enhancement

#559 Fix generic_image tests to make expected uint8 images
  satpy/tests/reader_tests/test_generic_image.py
Labels: component:readers

#558 Make counts available in ahi_hsd
  satpy/etc/readers/ahi_hsd.yaml
  satpy/readers/ahi_hsd.py
  satpy/tests/reader_tests/test_ahi_hsd.py
Labels: component:readers, enhancement

#560 Fix available_composite_ids including inline comp dependencies
  satpy/composites/__init__.py
  satpy/scene.py
  satpy/tests/compositor_tests/__init__.py
Labels: bug, component:compositors, component:scene
