Repository pytroll/satpy, pull requests merged in 2018-11, with the labels that each got.

#481 Refactor SCMI writer to be dask friendly
  satpy/etc/writers/scmi.yaml
  satpy/tests/writer_tests/test_scmi.py
  satpy/writers/scmi.py
Labels: component:writers, enhancement

#430 Implement fast modis lon/lat and angles interpolation
  satpy/etc/readers/hdfeos_l1b.yaml
  satpy/readers/hdfeos_l1b.py
  setup.py
Labels: component:readers, enhancement

#485 Deprecate 'enhancement_config' keyword argument in favor of 'enhance'
  satpy/scene.py
  satpy/tests/test_scene.py
  satpy/tests/test_writers.py
  satpy/tests/writer_tests/test_mitiff.py
  satpy/writers/__init__.py
  satpy/writers/geotiff.py
  satpy/writers/mitiff.py
  satpy/writers/scmi.py
Labels: backwards-incompatibility, component:enhancements, component:writers, refactor

#496 Add more descriptive names to AHI readers AreaDefinition names
  satpy/etc/readers/hrit_jma.yaml
  satpy/readers/ahi_hsd.py
  satpy/readers/hrit_jma.py
Labels: bug, component:readers

#501 Add DOI role and reference to Zinke DNB method
  RELEASING.md
  doc/source/conf.py
  doc/source/doi_role.py
  satpy/composites/viirs.py
  satpy/writers/__init__.py
Labels: documentation

#492 Fix thinned modis reading in 'hdfeos_l1b' reader
  satpy/composites/__init__.py
  satpy/etc/composites/modis.yaml
  satpy/etc/readers/hdfeos_l1b.yaml
  satpy/readers/hdfeos_l1b.py
  satpy/tests/compositor_tests/__init__.py
  setup.py
Labels: bug, component:readers

#504 Change unnecessary warning messages to debug
  .travis.yml
  doc/source/conf.py
  satpy/etc/readers/abi_l1b.yaml
  satpy/readers/abi_l1b.py
  satpy/scene.py
  satpy/tests/test_enhancements.py
Labels: bug

#488 Add the check_satpy function to find missing dependencies
  .github/ISSUE_TEMPLATE/bug_report.md
  doc/source/quickstart.rst
  satpy/config.py
  satpy/tests/test_writers.py
Labels: enhancement

#506 Remove dependency on nc_nwcsaf_msg
  doc/source/index.rst
  satpy/etc/readers/nc_nwcsaf_msg.yaml
  satpy/readers/nc_nwcsaf_msg.py
Labels: bug, component:readers

#489 Add a first version on how to write a custom reader
  doc/source/dev_guide/custom_reader.rst
  doc/source/dev_guide/index.rst
  doc/source/readers.rst
Labels: component:readers, documentation, help wanted

#436 Allow on-the-fly decompression of xRIT files in xRIT readers
  doc/source/readers.rst
  satpy/etc/readers/hrit_electrol.yaml
  satpy/etc/readers/hrit_goes.yaml
  satpy/etc/readers/hrit_msg.yaml
  satpy/readers/hrit_base.py
  satpy/readers/hrit_electrol.py
  satpy/readers/hrit_goes.py
  satpy/readers/hrit_jma.py
  satpy/readers/hrit_msg.py
  satpy/tests/reader_tests/test_hrit_base.py
Labels: component:readers, enhancement, help wanted

#510 Make sure a discrete data type is preserved through resampling
  satpy/resample.py
  satpy/tests/test_resample.py
  setup.py
Labels: bug, component:resampling

#498 Make it possible to configure in-line composites
  satpy/composites/__init__.py
  satpy/composites/viirs.py
  satpy/etc/composites/abi.yaml
  satpy/etc/composites/ahi.yaml
  satpy/etc/composites/modis.yaml
  satpy/etc/composites/seviri.yaml
  satpy/etc/composites/viirs.yaml
  satpy/etc/composites/visir.yaml
  satpy/tests/compositor_tests/__init__.py
Labels: component:compositors, enhancement

#503 Add two luminance sharpening compositors
  satpy/composites/__init__.py
  satpy/etc/composites/seviri.yaml
  satpy/etc/enhancements/generic.yaml
  satpy/tests/compositor_tests/__init__.py
Labels: component:compositors, enhancement

#515 Fix all flake8 errors in satpy package code
  .stickler.yml
  satpy/composites/__init__.py
  satpy/composites/abi.py
  satpy/composites/crefl_utils.py
  satpy/composites/viirs.py
  satpy/etc/readers/geocat.yaml
  satpy/readers/abi_l1b.py
  satpy/readers/acspo.py
  satpy/readers/amsr2_l1b.py
  satpy/readers/fci_fdhsi.py
  satpy/readers/file_handlers.py
  satpy/readers/gac_lac_l1.py
  satpy/readers/geocat.py
  satpy/readers/ghrsst_osisaf.py
  satpy/readers/li_l2.py
  satpy/readers/nc_goes.py
  satpy/readers/nc_olci.py
  satpy/readers/scatsat1_l2b.py
  satpy/tests/features/steps/steps-load.py
  satpy/tests/reader_tests/test_abi_l1b.py
  satpy/tests/reader_tests/test_acspo.py
  satpy/tests/reader_tests/test_amsr2_l1b.py
  satpy/tests/reader_tests/test_geocat.py
  satpy/tests/reader_tests/test_hdf4_utils.py
  satpy/tests/reader_tests/test_hdf5_utils.py
  satpy/tests/reader_tests/test_iasi_l2.py
  satpy/tests/reader_tests/test_msg_base.py
  satpy/tests/reader_tests/test_netcdf_utils.py
  satpy/tests/reader_tests/test_nucaps.py
  satpy/tests/reader_tests/test_utils.py
  satpy/tests/reader_tests/test_viirs_l1b.py
  satpy/tests/reader_tests/test_viirs_sdr.py
  satpy/tests/test_file_handlers.py
  satpy/tests/test_plugin.py
  satpy/tests/test_readers.py
  satpy/tests/test_scene.py
  satpy/tests/test_utils.py
  satpy/tests/utils.py
  satpy/tests/writer_tests/__init__.py
  satpy/tests/writer_tests/test_geotiff.py
  satpy/tests/writer_tests/test_mitiff.py
  satpy/tests/writer_tests/test_ninjotiff.py
  satpy/tests/writer_tests/test_scmi.py
  satpy/tests/writer_tests/test_simple_image.py
  satpy/writers/mitiff.py
  satpy/writers/ninjotiff.py
  satpy/writers/scmi.py
  setup.cfg
Labels: documentation

#520 Fix 'get_filename' call in 'ninjo' writer
  satpy/writers/ninjotiff.py
Labels: PCW
