Repository pytroll/satpy, pull requests merged in 2018-05, with the labels that each got.

#276 Support reducing data for geos areas
  satpy/composites/__init__.py
  satpy/etc/composites/ahi.yaml
  satpy/readers/file_handlers.py
  satpy/scene.py
  setup.py
Labels: component:resampling, enhancement

#280 Fix CLAVR-x reader to work with xarray
  .travis.yml
  satpy/etc/readers/clavrx.yaml
  satpy/etc/readers/geocat.yaml
  satpy/readers/clavrx.py
  satpy/readers/file_handlers.py
  satpy/readers/geocat.py
  satpy/readers/hdf4_utils.py
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_clavrx.py
  satpy/tests/reader_tests/test_hdf4_utils.py
  satpy/tests/test_yaml_reader.py
Labels: bug, component:readers

#282 Fix native_msg reader for ROI input and multi-part order file patterns
  satpy/etc/areas.def
  satpy/etc/readers/native_msg.yaml
  satpy/readers/native_msg.py
  satpy/readers/native_msg_hdr.py
Labels: bug, component:readers

#285 Fix native_msg calibration bug
  satpy/readers/native_msg.py
  satpy/scene.py
Labels: bug, component:readers

#283 Add GRIB Reader
  README.rst
  doc/source/index.rst
  satpy/dataset.py
  satpy/etc/readers/grib.yaml
  satpy/readers/__init__.py
  satpy/readers/grib.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_clavrx.py
  satpy/tests/reader_tests/test_geocat.py
  satpy/tests/reader_tests/test_grib.py
  satpy/tests/reader_tests/test_hdf4_utils.py
  satpy/tests/reader_tests/test_hdf5_utils.py
  satpy/tests/reader_tests/test_netcdf_utils.py
  satpy/tests/test_readers.py
  setup.py
Labels: component:readers, enhancement

#281 Port the maia reader to dask/xarray
  satpy/readers/maia.py
  satpy/resample.py
Labels: component:readers, enhancement

#292 Use pyresample's boundary classes
  satpy/readers/utils.py
  satpy/readers/yaml_reader.py
  satpy/tests/test_yaml_reader.py
  setup.py
Labels: component:resampling, component:scene, enhancement

#294 Add the ocean color product to olci
  satpy/etc/composites/olci.yaml
  satpy/etc/enhancements/generic.yaml
  satpy/etc/readers/nc_olci_l1b.yaml
Labels: component:compositors, component:enhancements, enhancement

#298 Implement sentinel 2 MSI reader
  satpy/etc/composites/msi.yaml
  satpy/etc/readers/safe_msi.yaml
  satpy/readers/safe_msi.py
Labels: component:readers, enhancement

#302 Workaround the LinearNDInterpolator thread-safety issue for Sentinel 1 SAR geolocation
  satpy/readers/safe_sar_c.py
Labels: component:readers, enhancement

#303 Fix hrit goes to support python 3
  satpy/readers/hrit_goes.py
Labels: bug, component:readers

#305 Add support for geolocation and angles to msi reader
  satpy/composites/__init__.py
  satpy/etc/readers/safe_msi.yaml
  satpy/readers/safe_msi.py
Labels: component:readers, enhancement

#301 Factorize header definitions between hrit_msg and native_msg. Fix a bug in header definition.
  satpy/etc/readers/hrit_msg.yaml
  satpy/etc/readers/native_msg.yaml
  satpy/readers/eum_base.py
  satpy/readers/hrit_base.py
  satpy/readers/hrit_goes.py
  satpy/readers/hrit_msg.py
  satpy/readers/msg_base.py
  satpy/readers/native_msg.py
  satpy/readers/native_msg_hdr.py
  satpy/tests/reader_tests/test_eum_base.py
  satpy/tests/reader_tests/test_hrit_base.py
  satpy/tests/reader_tests/test_hrit_goes.py
  satpy/tests/reader_tests/test_hrit_msg.py
  satpy/tests/reader_tests/test_msg_base.py
  satpy/tests/reader_tests/test_native_msg.py
Labels: component:readers, enhancement

#153 [WIP] Improve compatibility of cf_writer with CF-conventions
  satpy/tests/writer_tests/__init__.py
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: component:writers, enhancement

#312 Allow custom regions in ahi-hsd file patterns
  satpy/etc/readers/ahi_hsd.yaml
Labels: bug, component:readers
