Repository pytroll/satpy, pull requests merged in 2018-06, with the labels that each got.

#319 Fix msi reader delayed
  satpy/etc/readers/safe_msi.yaml
  satpy/readers/safe_msi.py
Labels: bug, component:readers

#318 Fix nir reflectance to use XArray
  satpy/composites/__init__.py
  satpy/readers/hrit_msg.py
Labels: bug, component:compositors

#307 Fix projections in cf writer
  satpy/tests/writer_tests/__init__.py
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: component:writers, enhancement

#315 Add slicing to Scene
  satpy/etc/readers/grib.yaml
  satpy/readers/grib.py
  satpy/scene.py
  satpy/tests/reader_tests/test_grib.py
  satpy/tests/test_scene.py
  satpy/writers/geotiff.py
  satpy/writers/scmi.py
Labels: enhancement

#325 Fix exception when Scene is given reader and base_dir
  satpy/readers/__init__.py
  satpy/tests/test_readers.py
Labels: bug

#322 Update MultiScene to work with xarray/dask
  .travis.yml
  appveyor.yml
  doc/source/conf.py
  doc/source/dev_guide/xarray_migration.rst
  doc/source/index.rst
  doc/source/multiscene.rst
  doc/source/overview.rst
  doc/source/quickstart.rst
  satpy/__init__.py
  satpy/dataset.py
  satpy/multiscene.py
  satpy/readers/__init__.py
  satpy/scene.py
  satpy/tests/__init__.py
  satpy/tests/test_dataset.py
  satpy/tests/test_multiscene.py
  satpy/tests/test_scene.py
  setup.py
Labels: component:scene

#192 Clip day and night composites after enhancement
  satpy/composites/__init__.py
Labels: bug, component:compositors

#314 Feature mitiff writer
  .travis.yml
  appveyor.yml
  satpy/etc/writers/mitiff.yaml
  satpy/scene.py
  satpy/tests/writer_tests/__init__.py
  satpy/tests/writer_tests/test_mitiff.py
  satpy/writers/mitiff.py
  setup.py
Labels: component:writers, enhancement

#329 issue#328: fixed bugs loading JMA HRIT files
  satpy/readers/hrit_base.py
  satpy/readers/hrit_jma.py
Labels: bug, component:readers

#326 Fix nucaps reader for NUCAPS EDR v2 files
  satpy/readers/file_handlers.py
  satpy/readers/netcdf_utils.py
  satpy/readers/nucaps.py
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/test_nucaps.py
Labels: bug, component:readers

#327 Add 'mask' to nearest neighbor resampler
  doc/README
  doc/examples/geo_hrit.py
  doc/examples/polar_aapp1b.py
  doc/examples/polar_maia.py
  doc/examples/polar_segments.py
  doc/source/api/satpy.composites.rst
  doc/source/api/satpy.enhancements.rst
  doc/source/api/satpy.readers.rst
  doc/source/api/satpy.rst
  doc/source/api/satpy.writers.rst
  doc/source/examples.rst
  doc/source/index.rst
  doc/source/install.rst
  doc/source/multiscene.rst
  doc/source/quickstart.rst
  doc/source/resample.rst
  satpy/etc/readers/nucaps.yaml
  satpy/resample.py
  satpy/scene.py
  satpy/tests/test_resample.py
  satpy/utils.py
  satpy/writers/__init__.py
  setup.py
Labels: component:resampling

#340 Cut radiances array depending on number of scans
  satpy/readers/viirs_compact.py
Labels: bug, component:readers

#342 Fix Scene save_datasets to only save datasets from the wishlist
  satpy/scene.py
  satpy/tests/test_scene.py
Labels: bug, component:scene

#343 Fix shape assertion after resampling
  satpy/scene.py
Labels: bug, component:resampling

#349 Fix datetime-based file selection when filename only has a start time
  satpy/readers/__init__.py
  satpy/readers/yaml_reader.py
  satpy/tests/test_yaml_reader.py
Labels: bug, component:readers

#351 Fix AMSR-2 L1B reader loading bytes incorrectly
  satpy/etc/composites/amsr2.yaml
  satpy/readers/amsr2_l1b.py
  satpy/readers/utils.py
  satpy/readers/viirs_sdr.py
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/test_amsr2_l1b.py
Labels: bug, component:readers
