Repository pytroll/satpy, pull requests merged in 2019-08, with the labels that each got.

#751 Add a reader for FY-4A AGRI level 1 data
  AUTHORS.md
  doc/source/api/satpy.readers.rst
  doc/source/index.rst
  satpy/etc/composites/agri.yaml
  satpy/etc/readers/agri_l1.yaml
  satpy/readers/agri_l1.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_agri_l1.py
Labels: component:readers, enhancement

#849 Make composites available to FCI FDHSI L1C
  satpy/etc/composites/fci.yaml
  satpy/tests/reader_tests/test_fci_l1c_fdhsi.py
Labels: component:compositors, enhancement

#847 Update 'generic_image' reader to use rasterio for area creation
  satpy/readers/generic_image.py
  satpy/tests/reader_tests/test_generic_image.py
Labels: component:readers, enhancement

#877 Fix standard_name and units for T4/T13 in viirs_edr_active_fires reader
  .travis.yml
  appveyor.yml
  satpy/etc/readers/viirs_edr_active_fires.yaml
  satpy/readers/viirs_edr_active_fires.py
  satpy/tests/reader_tests/test_viirs_edr_active_fires.py
Labels: bug, component:readers

#875 Fix error in hncc_dnb composite test
  satpy/tests/compositor_tests/test_viirs.py
Labels: bug

#872 Fix ABI L1B coordinates to be equivalent at all resolutions
  satpy/readers/abi_l1b.py
Labels: component:readers, enhancement, optimization

#874 Hardcoding of mersi2 l1b reader valid_range for channel 24 and 25 as these are wrong in the HDF data
  satpy/readers/mersi2_l1b.py
Labels: component:readers, enhancement

#882 Bug in mitiff writer; calibration information is not written in the imagedescription
  satpy/tests/writer_tests/test_mitiff.py
  satpy/writers/mitiff.py
Labels: bug, component:writers

#867 Fix attribute datatypes in CF Writer
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: bug, component:writers

#887 Add more reader metadata like long_name and description
  doc/source/dev_guide/custom_reader.rst
  satpy/etc/readers/abi_l1b.yaml
  satpy/etc/readers/ahi_hrit.yaml
  satpy/etc/readers/ahi_hsd.yaml
  satpy/etc/readers/goes-imager_hrit.yaml
  satpy/etc/readers/goes-imager_nc.yaml
  satpy/etc/readers/jami_hrit.yaml
  satpy/etc/readers/mtsat2-imager_hrit.yaml
  satpy/etc/readers/seviri_l1b_hrit.yaml
  satpy/etc/readers/seviri_l1b_native.yaml
  satpy/etc/readers/seviri_l1b_nc.yaml
Labels: component:readers, documentation

#890 Fix MERSI-2 and VIRR readers being recognized by pyspectral
  satpy/etc/composites/mersi-2.yaml
  satpy/etc/composites/virr.yaml
  satpy/etc/readers/mersi2_l1b.yaml
  satpy/etc/readers/virr_l1b.yaml
  satpy/readers/mersi2_l1b.py
  satpy/readers/virr_l1b.py
  satpy/tests/reader_tests/test_virr_l1b.py
Labels: backwards-incompatibility, bug, component:compositors, component:readers, enhancement

#884 Update mersi2_l1b sensor name to mersi-2 to match pyspectral
  satpy/etc/composites/mersi-2.yaml
  satpy/etc/readers/mersi2_l1b.yaml
  satpy/readers/mersi2_l1b.py
Labels: bug, component:compositors, component:readers

#873 Add mersi2 level 1b ears data file names to the reader
  satpy/etc/readers/mersi2_l1b.yaml
Labels: component:readers, enhancement

#891 Fix HDF4 reading utility using dtype classes instead of instances
  satpy/readers/hdf4_utils.py
  satpy/tests/reader_tests/test_hdf4_utils.py
Labels: bug, component:readers

#892 Update coefficients for FY-3B VIRR reflectance calibration
  satpy/readers/virr_l1b.py
  satpy/tests/reader_tests/test_virr_l1b.py
Labels: component:readers, enhancement
