Repository pytroll/satpy, pull requests merged in 2019-09, with the labels that each got.

#856 Switch to setuptools_scm for automatic version numbers from git tags
  .git_archival.txt
  .gitattributes
  .gitignore
  MANIFEST.in
  doc/source/conf.py
  satpy/__init__.py
  satpy/version.py
  setup.cfg
  setup.py
  versioneer.py
Labels: enhancement

#880 Replace Numpy files with zarr for resampling LUT caching
  satpy/resample.py
  satpy/tests/test_resample.py
  setup.py
Labels: component:resampling, enhancement, help wanted, work in progress

#895 Add the possibility to pad the HRV in the seviri hrit reader
  satpy/readers/seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit.py
Labels: component:readers, enhancement, help wanted

#903 Fix HRV area definition tests
  satpy/readers/utils.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit.py
  satpy/tests/test_config.py
Labels: component:readers, enhancement

#897 Cache slicing arrays in bilinear resampler
  .travis.yml
  appveyor.yml
  satpy/readers/generic_image.py
  satpy/resample.py
  satpy/tests/test_resample.py
  setup.py
Labels: component:resampling, enhancement, help wanted, optimization, refactor

#898 Add night lights compositor and SEVIRI day/night composite
  satpy/composites/__init__.py
  satpy/etc/composites/seviri.yaml
  satpy/etc/composites/visir.yaml
  satpy/etc/enhancements/generic.yaml
Labels: component:compositors, enhancement

#906 Avoid xarray 0.13.0
  .travis.yml
  setup.py
Labels: enhancement

#901 Fix compact viirs angle interpolation at the poles
  satpy/readers/viirs_compact.py
  satpy/tests/test_utils.py
  satpy/utils.py
Labels: bug, component:readers

#881 Make it possible to reverse a built-in colormap in enhancements
  satpy/enhancements/__init__.py
  satpy/tests/enhancement_tests/test_enhancements.py
  setup.py
Labels: component:enhancements, enhancement

#871 Fix FY-4 naming to follow WMO Oscar naming
  satpy/readers/agri_l1.py
Labels: bug, component:readers

#790 Modify the SLSTR file pattern to support stripe and frame products
  AUTHORS.md
  satpy/etc/readers/slstr_l1b.yaml
Labels: bug, component:readers

#768 Expose bucket resampling from Pyresample
  satpy/resample.py
  satpy/tests/test_resample.py
Labels: PCW, component:resampling

#907 Handle bad orbit coefficients in SEVIRI HRIT header
  satpy/readers/seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit.py
Labels: component:readers, enhancement

#869 Fix the nwcsaf-nc reader to drop scale and offset once data is scaled
  satpy/readers/nwcsaf_nc.py
  satpy/tests/reader_tests/test_nwcsaf_nc.py
Labels: bug, component:readers

#915 Fix CRS object being recreated when adding CRS coordinate
  satpy/resample.py
  satpy/tests/test_resample.py
Labels: bug

#910 Add near real-time and reprocessed file patterns to TROPOMI L1b reader
  satpy/etc/readers/tropomi_l2.yaml
Labels: component:readers, enhancement

#905 Fix ABI L2 reader not scaling and masking data
  satpy/etc/enhancements/abi.yaml
  satpy/etc/readers/abi_l2_nc.yaml
  satpy/readers/abi_base.py
  satpy/readers/abi_l2_nc.py
Labels: bug, component:readers

#889 Fix the ninjotiff writer to provide correct scale and offset
  satpy/composites/__init__.py
  satpy/tests/compositor_tests/__init__.py
  satpy/tests/writer_tests/__init__.py
  satpy/tests/writer_tests/test_ninjotiff.py
  satpy/writers/ninjotiff.py
  setup.py
Labels: bug, component:writers

#916 Update orbit coefficient docstrings in seviri_l1b_hrit
  satpy/readers/seviri_l1b_hrit.py
Labels: documentation
