Repository pytroll/satpy, pull requests merged in 2019-07, with the labels that each got.

#838 Fix 'abi_l1b' reader keeping _Unsigned attribute
  satpy/readers/abi_l1b.py
Labels: bug, component:readers

#836 Fix composites not being recorded with desired resolution in deptree
  satpy/dataset.py
  satpy/node.py
  satpy/tests/test_scene.py
Labels: bug, component:dep_tree

#841 Temporarily remove longitude/latitude 2D xarray coordinates
  satpy/composites/__init__.py
  satpy/readers/yaml_reader.py
  satpy/resample.py
  satpy/tests/test_resample.py
Labels: bug, component:readers, component:resampling

#842 Fix cviirs reader to be more dask-friendly
  satpy/readers/viirs_compact.py
Labels: component:readers, enhancement

#844 Change default CF writer engine to follow xarray defaults
  doc/source/conf.py
  satpy/readers/modis_l2.py
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: backwards-incompatibility, component:writers
