Repository pytroll/satpy, pull requests merged in 2019-05, with the labels that each got.

#750 Add missing warnings import to geotiff writer
  satpy/writers/geotiff.py
Labels: bug, component:writers

#754 Fix optional modifier dependencies being unloaded for delayed composites
  satpy/scene.py
  satpy/tests/test_scene.py
  satpy/tests/utils.py
Labels: bug, component:dep_tree

#739 Refactor available datasets logic to be more flexible
  satpy/readers/clavrx.py
  satpy/readers/file_handlers.py
  satpy/readers/geocat.py
  satpy/readers/goes_imager_nc.py
  satpy/readers/grib.py
  satpy/readers/nucaps.py
  satpy/readers/viirs_sdr.py
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/test_clavrx.py
  satpy/tests/reader_tests/test_viirs_sdr.py
  satpy/tests/test_scene.py
  satpy/tests/test_yaml_reader.py
  satpy/tests/utils.py
  satpy/writers/__init__.py
Labels: component:dep_tree, component:readers, enhancement, refactor

#752 Add scanline timestamps to seviri_l1b_hrit
  satpy/readers/seviri_base.py
  satpy/readers/seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_seviri_base.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit.py
Labels: component:readers, enhancement

#728 Add VIIRS Fire Temperature rgb
  satpy/etc/composites/viirs.yaml
  satpy/etc/composites/visir.yaml
  satpy/etc/enhancements/generic.yaml
  satpy/tests/features/feature-real-load-process-write.feature
Labels: component:compositors, component:enhancements

#611 Modis l2 reader
  satpy/etc/readers/modis_l2.yaml
  satpy/readers/hdfeos_base.py
  satpy/readers/modis_l1b.py
  satpy/readers/modis_l2.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_hdfeos_base.py
  satpy/tests/reader_tests/test_modis_l2.py
Labels: component:readers, enhancement

#711 Replace usage of deprecated get_proj_coords_dask
  satpy/readers/utils.py
  setup.py
Labels: component:readers, enhancement

#732 Fix coord2area_def.py utillity script for python 3
  utils/coord2area_def.py
Labels: component:enhancements

#740 Add FY-3D MERSI-2 L1B Reader (mersi2_l1b)
  doc/source/index.rst
  satpy/etc/composites/mersi2.yaml
  satpy/etc/readers/mersi2_l1b.yaml
  satpy/etc/readers/virr_l1b.yaml
  satpy/readers/hdf5_utils.py
  satpy/readers/mersi2_l1b.py
  satpy/readers/virr_l1b.py
  satpy/scene.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_mersi2_l1b.py
  satpy/tests/reader_tests/test_virr_l1b.py
Labels: component:readers, enhancement, work in progress

#757 Fix MODIS L1B and L2 readers not reading geolocation properly
  satpy/etc/readers/modis_l1b.yaml
  satpy/etc/readers/modis_l2.yaml
  satpy/readers/hdfeos_base.py
  satpy/readers/mersi2_l1b.py
Labels: bug, component:readers

#733 Update VIIRS EDR Active Fires
  satpy/etc/readers/viirs_edr_active_fires.yaml
  satpy/readers/viirs_edr_active_fires.py
  satpy/tests/reader_tests/test_viirs_edr_active_fires.py
Labels: component:readers, enhancement

#580 Allow colormaps to be saved with geotiff writer
  satpy/enhancements/__init__.py
  satpy/tests/writer_tests/test_geotiff.py
  satpy/writers/geotiff.py
Labels: component:writers, enhancement

#532 Add enhancement for VIIRS flood reader
  satpy/enhancements/viirs.py
  satpy/etc/enhancements/viirs.yaml
  satpy/etc/readers/viirs_edr_flood.yaml
  satpy/readers/viirs_edr_flood.py
  satpy/tests/__init__.py
  satpy/tests/enhancement_tests/__init__.py
  satpy/tests/enhancement_tests/test_enhancements.py
  satpy/tests/enhancement_tests/test_viirs.py
Labels: component:enhancements, enhancement

#747 Update index page introduction
  doc/source/index.rst
Labels: documentation

#761 Fix mersi2_l1b reader setting sensor as a set object
  satpy/readers/mersi2_l1b.py
Labels: bug

#759 Fix the avhrr_l1b_gaclac to support angles, units and avhrr variants
  satpy/etc/readers/avhrr_l1b_gaclac.yaml
  satpy/readers/avhrr_l1b_gaclac.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_avhrr_l1b_gaclac.py
  satpy/tests/reader_tests/test_viirs_sdr.py
Labels: component:readers, enhancement

#760 Avoid leaking file objects in NetCDF4FileHandler
  satpy/readers/netcdf_utils.py
Labels: PCW, bug, component:readers, optimization

#470 Switched `xarray.unfuncs` to `numpy`
  doc/source/dev_guide/xarray_migration.rst
  satpy/composites/__init__.py
  satpy/composites/sar.py
  satpy/enhancements/__init__.py
  satpy/readers/abi_l1b.py
  satpy/readers/goes_imager_nc.py
  satpy/readers/modis_l1b.py
  satpy/readers/seviri_base.py
  satpy/readers/viirs_compact.py
  satpy/utils.py
Labels: enhancement

#770 Fix typo for mersi2/abi/ahi using bidirection instead of bidirectional
  satpy/etc/composites/abi.yaml
  satpy/etc/composites/ahi.yaml
  satpy/etc/readers/mersi2_l1b.yaml
Labels: bug, component:readers

#763 Fix AVHRR tests importing external mock on Python 3
  satpy/tests/reader_tests/test_avhrr_l1b_gaclac.py
Labels: bug

#775 Fix 'abi_l1b' reader not updating long_name when calibrating
  AUTHORS.md
  satpy/readers/abi_l1b.py
  satpy/tests/reader_tests/test_abi_l1b.py
Labels: bug, component:readers

#773 Improve Scene.show documentation
  satpy/scene.py
Labels: documentation

#771 Update pull request template to include AUTHORS and flake8 changes
  .github/PULL_REQUEST_TEMPLATE.md
  satpy/readers/clavrx.py
  satpy/readers/geocat.py
  satpy/readers/viirs_edr_active_fires.py
Labels: documentation

#755 Update MTG FCI FDHSI L1C reader for latest data format
  AUTHORS.md
  satpy/etc/readers/fci_l1c_fdhsi.yaml
  satpy/readers/fci_l1c_fdhsi.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_fci_l1c_fdhsi.py
Labels: component:readers, enhancement

#781 Fix longitude/latitude being swapped in modis readers
  satpy/readers/hdfeos_base.py
  satpy/tests/reader_tests/test_modis_l2.py
Labels: bug, component:readers

#780 Fix builtin areas to be compatible with rasterio
  satpy/etc/areas.yaml
  satpy/tests/test_config.py
Labels: bug, component:resampling

#778 Fix NullHandler not allowing warning/error logs to be printed to console
  AUTHORS.md
  satpy/utils.py
Labels: bug

#764 Modify colorized_ir_clouds enhancement to Tropical
  satpy/etc/enhancements/generic.yaml
Labels: PCW, component:enhancements, optimization
