Repository pytroll/satpy, pull requests merged in 2019-03, with the labels that each got.

#635 Add local caching of slicing for data reduction
  satpy/scene.py
  satpy/tests/test_scene.py
Labels: component:resampling, component:scene, enhancement

#638 Add processing-mode and disposition-mode to the avhrr-l1b-eps file name
  satpy/etc/readers/avhrr_l1b_eps.yaml
Labels: component:readers, enhancement

#557 Improve the SAR-C reading and Ice composite
  satpy/__init__.py
  satpy/composites/sar.py
  satpy/etc/composites/sar.yaml
  satpy/etc/enhancements/generic.yaml
  satpy/etc/readers/sar-c_safe.yaml
  satpy/readers/goes_imager_nc.py
  satpy/readers/sar_c_safe.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_sar_c_safe.py
Labels: component:compositors, component:readers, enhancement

#644 Fix the modis overview not to sun normalize the IR channel
  satpy/etc/composites/modis.yaml
Labels: bug, component:compositors

#647 Switch python-hdf4 dependencies to pyhdf
  appveyor.yml
  setup.py
Labels: enhancement

#543 Calibration mode can now be passed via a keyword argument
  satpy/readers/__init__.py
  satpy/readers/seviri_l1b_native.py
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/test_seviri_l1b_native.py
Labels: component:readers, enhancement

#651 Rename changelog for releases before 0.9.0
  changelog_pre0.9.0.rst
Labels: documentation

#652 Fix resampling of ancillary variables when also first class datasets
  satpy/scene.py
  satpy/tests/test_scene.py
Labels: bug, component:resampling

#653 DOC: Fix small typos in documentation
  doc/source/dev_guide/custom_reader.rst
  doc/source/dev_guide/xarray_migration.rst
  doc/source/overview.rst
  satpy/resample.py
Labels: documentation

#597 Deprecate old reader names so they produce an exception
  satpy/readers/__init__.py
  satpy/tests/test_readers.py
Labels: backwards-incompatibility, component:readers

#655 Fix yaml load to be compatible with pyyaml 5.1
  satpy/composites/__init__.py
  satpy/config.py
  satpy/plugin_base.py
  satpy/readers/__init__.py
  satpy/readers/yaml_reader.py
  satpy/writers/__init__.py
  utils/convert_to_ninjotiff.py
Labels: bug

#642 Bugfix pps2018 cpp products
  satpy/etc/composites/visir.yaml
  satpy/etc/readers/nwcsaf-pps_nc.yaml
  satpy/readers/nwcsaf_nc.py
Labels: component:compositors, component:readers, enhancement

#636 Facilitate selection of calibration coefficients in seviri_l1b_hrit
  satpy/readers/seviri_base.py
  satpy/readers/seviri_l1b_hrit.py
  satpy/readers/seviri_l1b_native.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit.py
Labels: component:readers, enhancement

#643 In cira_strech clip values less or equal to 0 to avoid nans and -inf.
  satpy/enhancements/__init__.py
  satpy/tests/test_enhancements.py
Labels: component:enhancements, enhancement

#660 Fix seviri_l1b_hrit prologue/epilogue readers
  satpy/readers/seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit.py
Labels: bug, component:readers

#661 Fix CTTH composite not to mark invalid data as cloud-free
  satpy/composites/cloud_products.py
  satpy/tests/compositor_tests/__init__.py
Labels: bug, component:compositors

#538 Support CLASS packed viirs files in viirs_sdr reader
  satpy/composites/viirs.py
  satpy/etc/readers/viirs_sdr.yaml
  satpy/multiscene.py
  satpy/readers/viirs_sdr.py
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/test_ahi_hsd.py
  satpy/tests/reader_tests/test_goes_imager_nc.py
  satpy/tests/reader_tests/test_viirs_sdr.py
  satpy/writers/geotiff.py
Labels: component:readers, enhancement

#662 Fix masked resampling when dataset dtype is integer
  satpy/resample.py
  satpy/tests/test_resample.py
Labels: bug, component:resampling

#664 Fix Scene.crop with RGBs and multidimensional data
  satpy/scene.py
  satpy/tests/test_scene.py
Labels: bug, component:scene

#673 Add information about GDAL_CACHEMAX to FAQ
  doc/source/faq.rst
  satpy/writers/geotiff.py
Labels: component:writers, documentation

#669 Add ocean-color for viirs and modis
  satpy/etc/composites/modis.yaml
  satpy/etc/composites/viirs.yaml
Labels: component:compositors, enhancement

#674 Use platform ID to choose the right reader for AVHRR GAC data
  satpy/readers/avhrr_l1b_gaclac.py
Labels: component:readers, enhancement

#676 Feature add nightfog modis
  satpy/etc/composites/modis.yaml
Labels: component:compositors, enhancement

#675 Do not pass `filter_parameters` to the filehandler creation
  satpy/readers/__init__.py
  satpy/scene.py
  satpy/tests/test_scene.py
Labels: bug, component:scene

#671 Add satellite position to dataset attributes (seviri_l1b_hrit)
  satpy/readers/hrit_base.py
  satpy/readers/seviri_base.py
  satpy/readers/seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_seviri_base.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit.py
  setup.py
Labels: component:readers, enhancement

#677 Fix MultiScene save_animation when distributed isn't installed
  satpy/multiscene.py
  satpy/tests/test_multiscene.py
Labels: bug
