Repository pytroll/satpy, pull requests merged in 2019-04, with the labels that each got.

#685 Fix bug in Scene.resample causing AssertionError
  satpy/scene.py
  satpy/tests/test_scene.py
Labels: bug, component:resampling, component:scene

#688 Fix offset correction in seviri_l1b_hrit
  satpy/readers/seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit.py
Labels: bug, component:readers

#665 Add reader for VIIRS Active Fires
  .gitignore
  AUTHORS.md
  doc/source/api/satpy.readers.rst
  doc/source/index.rst
  satpy/etc/readers/viirs_edr_active_fires.yaml
  satpy/readers/viirs_edr_active_fires.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_viirs_edr_active_fires.py
Labels: component:readers, enhancement

#689 Fix Himawari HSD reader's incorrect header information
  satpy/readers/ahi_hsd.py
Labels: bug, component:readers

#693 Fix VIIRS SDR reading of visible channels at nighttime
  satpy/readers/viirs_sdr.py
  satpy/tests/reader_tests/test_viirs_sdr.py
Labels: bug, component:readers

#663 Feature add nwcsaf precipclouds composite
  satpy/composites/__init__.py
  satpy/composites/cloud_products.py
  satpy/etc/composites/visir.yaml
Labels: component:enhancements

#565 Add reader for FY-3 VIRR
  doc/source/index.rst
  satpy/etc/composites/virr.yaml
  satpy/etc/readers/virr_l1b.yaml
  satpy/readers/hdf5_utils.py
  satpy/readers/virr_l1b.py
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_virr_l1b.py
Labels: component:readers, enhancement, work in progress

#686 Add demo subpackage to simplify test data download
  doc/source/api/satpy.demo.rst
  doc/source/api/satpy.rst
  satpy/demo/__init__.py
  satpy/demo/google_cloud_platform.py
  satpy/tests/__init__.py
  satpy/tests/test_demo.py
Labels: enhancement

#699 Rename SatPy to Satpy throughout documentation
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.rst
  README.rst
  RELEASING.md
  doc/README
  doc/source/conf.py
  doc/source/data_download.rst
  doc/source/dev_guide/custom_reader.rst
  doc/source/dev_guide/index.rst
  doc/source/dev_guide/xarray_migration.rst
  doc/source/examples.rst
  doc/source/faq.rst
  doc/source/index.rst
  doc/source/install.rst
  doc/source/multiscene.rst
  doc/source/overview.rst
  doc/source/quickstart.rst
  doc/source/readers.rst
  doc/source/writers.rst
  satpy/__init__.py
  satpy/config.py
  satpy/dataset.py
  satpy/demo/__init__.py
  satpy/demo/google_cloud_platform.py
  satpy/etc/writers/scmi.yaml
  satpy/readers/__init__.py
  satpy/readers/abi_l1b.py
  satpy/readers/generic_image.py
  satpy/readers/scmi.py
  satpy/readers/viirs_edr_active_fires.py
  satpy/readers/virr_l1b.py
  satpy/resample.py
  satpy/tests/reader_tests/test_viirs_edr_active_fires.py
  satpy/tests/reader_tests/test_virr_l1b.py
  satpy/tests/test_dataset.py
  satpy/tests/test_demo.py
  satpy/tests/writer_tests/test_scmi.py
  satpy/writers/scmi.py
Labels: documentation

#700 Mask out invalid values in the precipitation probability product
  satpy/composites/cloud_products.py
  satpy/tests/compositor_tests/__init__.py
Labels: bug, component:compositors

#701 Clarify release instructions
  RELEASING.md
Labels: documentation

#705 Document composites
  doc/source/composites.rst
  doc/source/conf.py
  doc/source/enhancements.rst
  doc/source/index.rst
  satpy/composites/__init__.py
Labels: component:compositors, documentation, enhancement

#668 Add grid/graticules to add_overlay function.
  satpy/writers/__init__.py
Labels: component:scene, enhancement

#645 Reader for the SAR OCN L2 wind product in SAFE format.
  satpy/etc/readers/safe_sar_l2_ocn.yaml
  satpy/readers/safe_sar_l2_ocn.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_safe_sar_l2_ocn.py
Labels: component:readers, enhancement, work in progress

#691 Add Scene.aggregate method (python 3 only)
  satpy/resample.py
  satpy/scene.py
  satpy/tests/test_scene.py
Labels: component:scene, enhancement

#707 Add ABI Meso demo data case and clean up documentation
  doc/source/api/satpy.demo.rst
  doc/source/api/satpy.readers.rst
  doc/source/data_download.rst
  satpy/demo/__init__.py
  satpy/demo/_google_cloud_platform.py
  satpy/readers/viirs_edr_active_fires.py
  satpy/readers/viirs_sdr.py
  satpy/tests/test_demo.py
  satpy/tests/test_writers.py
Labels: documentation

#529 Add dask support to NIRReflectance modifier
  satpy/composites/__init__.py
  satpy/tests/compositor_tests/__init__.py
  setup.py
Labels: PCW, enhancement

#708 Align SEVIRI area defs from YAML and readers
  satpy/etc/areas.yaml
Labels: enhancement

#713 Add links to source from API documentation
  doc/source/conf.py
Labels: documentation

#715 Fix hurricane florence demo download to only include M1 files
  satpy/demo/__init__.py
Labels: bug

#712 MITIFF writer: Need to clip enhanced data before scaling to 8 bit values
  satpy/tests/writer_tests/test_mitiff.py
  satpy/writers/mitiff.py
Labels: bug, component:writers

#718 seviri_l1b_hrit: Make satpos computation pyproj 2 compatible
  satpy/readers/seviri_l1b_hrit.py
Labels: bug, component:readers

#717 Fix 'viirs_compact' and 'viirs_l1b' readers to return WMO/Oscar platform name
  satpy/readers/viirs_compact.py
  satpy/readers/viirs_l1b.py
Labels: bug, component:readers

#721 Consistent platform id attribute across NAT + HRIT SEVIRI readers
  satpy/readers/seviri_l1b_native.py
Labels: bug

#729 Add "extras" checks to check_satpy utility function
  satpy/config.py
  satpy/tests/__init__.py
  satpy/tests/test_config.py
  satpy/tests/test_crefl_utils.py
Labels: enhancement

#731 Fix viirs sdr reader to allow ivcdb files in the sdr directory
  satpy/readers/viirs_sdr.py
Labels: bug, component:readers

#738 Remove unused area slice-based filtering in the base reader
  satpy/readers/yaml_reader.py
Labels: component:readers, enhancement, refactor
