Repository pytroll/satpy, pull requests merged in 2019-12, with the labels that each got.

#989 Fix generation of solar and satellite angles when lon/lats are invalid
  satpy/composites/__init__.py
  satpy/composites/viirs.py
  satpy/tests/compositor_tests/__init__.py
  satpy/tests/compositor_tests/test_viirs.py
Labels: bug

#993 Fix VIIRS EDR Flood file patterns not working for AOI files
  satpy/etc/readers/viirs_edr_flood.yaml
  satpy/tests/reader_tests/test_viirs_edr_flood.py
Labels: bug

#1001 Get travis badge from master branch
  README.rst
Labels: documentation

#980 Read the meta_data dictionary from pygac
  satpy/readers/avhrr_l1b_gaclac.py
  satpy/tests/reader_tests/test_avhrr_l1b_gaclac.py
  setup.py
Labels: component:readers, enhancement

#998 Add platform name to attributes of sar_c_safe reader
  satpy/readers/sar_c_safe.py
Labels: component:readers, enhancement

#968 Add information about multi-threaded compression with geotiff creation
  doc/source/faq.rst
  satpy/writers/geotiff.py
Labels: documentation

#985 Add HRV full disk navigation for `seviri_l1b_native`-reader
  AUTHORS.md
  satpy/readers/seviri_l1b_native.py
  satpy/tests/reader_tests/test_seviri_l1b_native.py
Labels: component:readers, enhancement

#999 Add FCI L1C reader short and long name metadata
  satpy/etc/readers/fci_l1c_fdhsi.yaml
Labels: component:readers, documentation

#994 Add LAC support to the avhrr-gac-lac reader
  satpy/etc/readers/avhrr_l1b_gaclac.yaml
  satpy/readers/avhrr_l1b_gaclac.py
  satpy/tests/reader_tests/test_avhrr_l1b_gaclac.py
  setup.py
Labels: component:readers, enhancement

#978 Factorize area computation in hrit_jma
  satpy/readers/hrit_jma.py
  satpy/tests/reader_tests/test_ahi_hrit.py
Labels: component:readers, enhancement

#1003 Update copyright header in readers. Add and fix docstrings.
  satpy/readers/_geos_area.py
  satpy/readers/abi_base.py
  satpy/readers/ami_l1b.py
  satpy/readers/caliop_l2_cloud.py
  satpy/readers/electrol_hrit.py
  satpy/readers/eps_l1b.py
  satpy/readers/fci_l1c_fdhsi.py
  satpy/readers/file_handlers.py
  satpy/readers/generic_image.py
  satpy/readers/geocat.py
  satpy/readers/ghrsst_l3c_sst.py
  satpy/readers/goes_imager_hrit.py
  satpy/readers/hdf4_utils.py
  satpy/readers/hdf5_utils.py
  satpy/readers/hrit_base.py
  satpy/readers/netcdf_utils.py
  satpy/readers/nucaps.py
  satpy/readers/nwcsaf_msg2013_hdf5.py
  satpy/readers/seviri_l2_bufr.py
  satpy/readers/tropomi_l2.py
  satpy/readers/viirs_edr_flood.py
  satpy/readers/viirs_l1b.py
  satpy/readers/viirs_sdr.py
Labels: documentation, enhancement

#1005 Remove unused reader xslice/yslice keyword arguments
  satpy/readers/acspo.py
  satpy/readers/geocat.py
  satpy/readers/li_l2.py
Labels: component:readers, enhancement

#992 Add hrv_clouds, hrv_fog and natural_with_night_fog composites to seviri.yaml
  AUTHORS.md
  satpy/etc/composites/seviri.yaml
  satpy/etc/enhancements/generic.yaml
Labels: component:compositors, component:enhancements, enhancement

#981 Optionally cache small data variables and file handles
  satpy/readers/fci_l1c_fdhsi.py
  satpy/readers/netcdf_utils.py
  satpy/tests/reader_tests/test_netcdf_utils.py
Labels: component:readers, enhancement

#984 Add on-the-fly decompression to the AHI HSD reader
  satpy/etc/readers/ahi_hsd.yaml
  satpy/readers/ahi_hsd.py
  satpy/readers/utils.py
  satpy/tests/reader_tests/test_ahi_hsd.py
  satpy/tests/reader_tests/test_utils.py
Labels: component:readers, enhancement

#977 Add a YAMLReader to pad segmented geo data
  doc/source/readers.rst
  satpy/etc/readers/ahi_hrit.yaml
  satpy/etc/readers/ahi_hsd.yaml
  satpy/etc/readers/fci_l1c_fdhsi.yaml
  satpy/etc/readers/goes-imager_hrit.yaml
  satpy/etc/readers/mtsat2-imager_hrit.yaml
  satpy/etc/readers/seviri_l1b_hrit.yaml
  satpy/readers/yaml_reader.py
  satpy/tests/test_yaml_reader.py
Labels: component:readers, enhancement

#1007 Fix `ahi_hrit` expected segments
  satpy/etc/readers/ahi_hrit.yaml
  satpy/readers/yaml_reader.py
Labels: bug, component:readers

#1006 Rename standard_name for various readers to be consistent
  satpy/etc/readers/avhrr_l1b_aapp.yaml
  satpy/etc/readers/avhrr_l1b_eps.yaml
  satpy/etc/readers/avhrr_l1b_gaclac.yaml
  satpy/etc/readers/avhrr_l1b_hrpt.yaml
  satpy/etc/readers/electrol_hrit.yaml
  satpy/etc/readers/goes-imager_hrit.yaml
  satpy/etc/readers/goes-imager_nc.yaml
  satpy/etc/readers/seviri_l1b_hrit.yaml
  satpy/etc/readers/seviri_l2_bufr.yaml
Labels: bug, component:readers

#1010 Fix missing part in ahi_hrit file pattern
  satpy/etc/readers/ahi_hrit.yaml
Labels: bug, component:readers

#997 Add check if prerequisites is used
  satpy/tests/writer_tests/test_mitiff.py
  satpy/writers/mitiff.py
Labels: component:writers, enhancement

#976 CF Writer Improvements
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: PCW, bug, component:writers, enhancement

#982 Add simple masking compositor
  AUTHORS.md
  satpy/composites/__init__.py
  satpy/etc/composites/avhrr-3.yaml
  satpy/etc/composites/seviri.yaml
  satpy/tests/compositor_tests/__init__.py
  satpy/tests/utils.py
Labels: component:compositors, enhancement

#854 Add GOES-R GLM L2 Gridded product reader and small ABI L1b changes
  AUTHORS.md
  doc/source/index.rst
  satpy/etc/composites/glm.yaml
  satpy/etc/enhancements/glm.yaml
  satpy/etc/readers/abi_l2_nc.yaml
  satpy/etc/readers/glm_l2.yaml
  satpy/readers/__init__.py
  satpy/readers/abi_base.py
  satpy/readers/abi_l1b.py
  satpy/readers/abi_l2_nc.py
  satpy/readers/glm_l2.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_abi_l1b.py
  satpy/tests/reader_tests/test_abi_l2_nc.py
  satpy/tests/reader_tests/test_glm_l2.py
  satpy/tests/test_readers.py
Labels: component:readers, enhancement

#1012 Implement a small cviirs speedup
  satpy/readers/viirs_compact.py
Labels: component:readers, enhancement

#1008 Add documentation for combine_metadata function
  doc/source/quickstart.rst
Labels: documentation

#920 Transverse Mercator section added in cf writer
  AUTHORS.md
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: component:writers, enhancement

#1011 Provide only dask arrays to pyspectral's nir reflectance computation
  satpy/composites/__init__.py
  satpy/tests/compositor_tests/__init__.py
Labels: component:compositors, enhancement

#1025 Switch to configuration file for readthedocs
  .readthedocs.yml
  doc/rtd_environment.yml
  doc/source/conf.py
Labels: documentation

#1019 Add more information about creating custom readers
  doc/source/dev_guide/custom_reader.rst
  satpy/readers/olci_nc.py
Labels: documentation

#1009 Add support for SEVIRI data from icare
  satpy/etc/readers/seviri_l1b_icare.yaml
  satpy/readers/seviri_l1b_icare.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_seviri_l1b_icare.py
Labels: component:readers, enhancement, work in progress

#1021 Fix padding of segmented geostationary images
  satpy/etc/readers/ahi_hsd.yaml
  satpy/etc/readers/mtsat2-imager_hrit.yaml
  satpy/readers/ahi_hsd.py
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/test_ahi_hsd.py
Labels: bug, component:readers

#908 Add interface to pyresample gradient resampler
  satpy/composites/__init__.py
  satpy/resample.py
  satpy/scene.py
Labels: component:resampling, enhancement

#961 Fix default radius_of_influence for lon/lat AreaDefintions
  satpy/resample.py
Labels: component:resampling, enhancement

#1018 Add information to Quickstart on basics of getting measurement values and navigation
  doc/source/quickstart.rst
Labels: documentation

#858 Mimic TPW Reader
  satpy/enhancements/mimic.py
  satpy/etc/enhancements/mimic.yaml
  satpy/etc/readers/mimicTPW2_comp.yaml
  satpy/readers/mimic_TPW2_nc.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_mimic_TPW2_nc.py
Labels: component:readers, enhancement

#987 scene.aggregate will now handle a SwathDefinition
  satpy/scene.py
Labels: blocked, component:scene, enhancement

#931 Update coord2area_def.py
  AUTHORS.md
  utils/coord2area_def.py
Labels: bug

#962 add support for meteo file in OLCI L1B reader
  AUTHORS.md
  satpy/etc/readers/olci_l1b.yaml
  satpy/readers/olci_nc.py
  satpy/tests/reader_tests/test_olci_nc.py
Labels: component:readers, enhancement
