Repository pytroll/satpy, pull requests merged in 2019-11, with the labels that each got.

#947 Feature mitiff palette
  satpy/tests/writer_tests/test_mitiff.py
  satpy/writers/mitiff.py
Labels: component:writers, enhancement

#769 Added initial version of an MSG BUFR reader and TOZ product yaml file
  .travis.yml
  doc/source/index.rst
  satpy/etc/readers/seviri_l2_bufr.yaml
  satpy/readers/seviri_l2_bufr.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_seviri_l2_bufr.py
  setup.py
Labels: PCW, component:readers, enhancement

#886 Reader for NWCSAF/MSG 2013 format
  satpy/composites/__init__.py
  satpy/etc/readers/nwcsaf-msg2013-hdf5.yaml
  satpy/etc/readers/nwcsaf-pps_nc.yaml
  satpy/readers/hdf5_utils.py
  satpy/readers/nwcsaf_msg2013_hdf5.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_hdf5_utils.py
  satpy/tests/reader_tests/test_nwcsaf_msg.py
Labels: component:readers, enhancement

#955 Code clean-up for SEVIRI L2 BUFR-reader
  satpy/etc/readers/seviri_l2_bufr.yaml
  satpy/readers/eum_base.py
  satpy/readers/seviri_base.py
  satpy/readers/seviri_l2_bufr.py
  satpy/tests/reader_tests/test_seviri_l2_bufr.py
Labels: component:readers, enhancement

#959 Fix `grid` argument handling in overlaying
  satpy/tests/test_writers.py
  satpy/writers/__init__.py
Labels: bug, component:writers

#966 Add the fire temperature products to AHI
  satpy/etc/composites/ahi.yaml
  satpy/readers/hrit_jma.py
  satpy/tests/reader_tests/test_ahi_hrit.py
Labels: bug, component:compositors, component:readers, enhancement

#969 Fix HDF4 handling of scalar attributes
  satpy/readers/hdf4_utils.py
  satpy/tests/reader_tests/test_hdf4_utils.py
Labels: bug

#952 Adds a common function for geostationary projection / area definition calculations
  satpy/readers/_geos_area.py
  satpy/readers/agri_l1.py
  satpy/readers/ahi_hsd.py
  satpy/readers/ami_l1b.py
  satpy/readers/electrol_hrit.py
  satpy/readers/seviri_l1b_hrit.py
  satpy/readers/seviri_l1b_native.py
  satpy/readers/seviri_l1b_nc.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_agri_l1.py
  satpy/tests/reader_tests/test_ahi_hsd.py
  satpy/tests/reader_tests/test_geos_area.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_seviri_l1b_native.py
Labels: component:readers, enhancement

#974 Fix available_composite_names including night_background static images
  satpy/etc/composites/seviri.yaml
  satpy/etc/composites/visir.yaml
Labels: bug
