Repository pytroll/satpy, pull requests merged in 2019-10, with the labels that each got.

#917 Fix BackgroundCompositor not retaining input metadata
  satpy/composites/__init__.py
  satpy/etc/composites/seviri.yaml
  satpy/tests/compositor_tests/__init__.py
Labels: bug, component:compositors

#925 Fix area handling in StaticImageCompositor
  satpy/composites/__init__.py
  satpy/tests/compositor_tests/__init__.py
Labels: bug, component:compositors

#927 Fix resampler imports
  satpy/resample.py
  satpy/tests/test_resample.py
Labels: component:resampling, enhancement

#921 Fix Scene.available_composite_names showing unavailable composites
  satpy/node.py
  satpy/readers/yaml_reader.py
  satpy/scene.py
  satpy/tests/test_demo.py
  satpy/tests/test_doc.py
  satpy/tests/test_plugin.py
  satpy/tests/test_scene.py
Labels: backwards-incompatibility, bug, component:scene

#923 Make the olci l2 mask a bool array instead of floats
  satpy/readers/olci_nc.py
  satpy/tests/reader_tests/test_olci_nc.py
Labels: bug, component:readers

#942 Fix VIIRS EDR Active Fires not assigning a _FillValue to confidence_pct
  satpy/etc/readers/viirs_edr_active_fires.yaml
  satpy/tests/reader_tests/test_viirs_edr_active_fires.py
Labels: bug, component:readers

#939 Fix MERSI-2 natural_color composite using the wrong band for sharpening
  .travis.yml
  appveyor.yml
  satpy/etc/composites/mersi-2.yaml
Labels: bug, component:compositors

#938 Fix MultiScene.save_animation to work with new dask.distributed versions
  satpy/multiscene.py
  satpy/tests/test_multiscene.py
Labels: bug, component:multiscene

#586 Update to handling of colormaps read from file
  satpy/enhancements/__init__.py
  satpy/tests/enhancement_tests/test_enhancements.py
Labels: component:enhancements, enhancement

#943 Fix sphinx docs generation after setuptools_scm migration
  doc/source/api/satpy.composites.rst
  doc/source/api/satpy.demo.rst
  doc/source/api/satpy.enhancements.rst
  doc/source/api/satpy.readers.rst
  doc/source/api/satpy.rst
  doc/source/api/satpy.writers.rst
  doc/source/conf.py
  satpy/readers/modis_l2.py
  satpy/readers/seviri_l1b_hrit.py
Labels: documentation

#914 Cleaning up and adding MERSI-2 RGB composites
  satpy/etc/composites/mersi-2.yaml
  satpy/etc/enhancements/mersi-2.yaml
  satpy/etc/readers/mersi2_l1b.yaml
Labels: bug, component:compositors

#945 Fix bug in OLCI reader that caused multiple error messages to print
  satpy/readers/olci_nc.py
  satpy/tests/reader_tests/test_olci_nc.py
Labels: bug, component:readers

#911 Add GK-2A AMI L1B Reader
  doc/source/index.rst
  satpy/composites/__init__.py
  satpy/composites/ahi.py
  satpy/etc/composites/ami.yaml
  satpy/etc/readers/ami_l1b.yaml
  satpy/readers/ami_l1b.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_ami_l1b.py
Labels: component:readers, enhancement

#948 Add the possibility to include scale and offset in geotiffs
  satpy/tests/writer_tests/test_geotiff.py
  satpy/tests/writer_tests/test_ninjotiff.py
  satpy/writers/geotiff.py
  satpy/writers/ninjotiff.py
  satpy/writers/utils.py
Labels: component:writers, enhancement

#935 Adapt avhrr_l1b_gaclac to recent pygac changes
  satpy/etc/readers/avhrr_l1b_gaclac.yaml
  satpy/readers/avhrr_l1b_gaclac.py
  satpy/tests/reader_tests/test_avhrr_l1b_gaclac.py
  setup.py
Labels: component:readers, enhancement

#934 Update add_overlay to make use of the full pycoast capabilities
  .travis.yml
  appveyor.yml
  satpy/config.py
  satpy/tests/test_writers.py
  satpy/writers/__init__.py
  setup.py
Labels: component:writers, enhancement

#941 Speed up cviirs tiepoint interpolation
  satpy/readers/utils.py
  satpy/readers/viirs_compact.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_viirs_compact.py
Labels: component:readers, enhancement, help wanted

#953 Encode header attributes in CF writer
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: bug, component:writers, enhancement
