Repository pytroll/satpy, pull requests merged in 2020-12, with the labels that each got.

#1439 Add support for s3 buckets in OLCI and ABI l1 readers
  satpy/_compat.py
  satpy/readers/__init__.py
  satpy/readers/abi_base.py
  satpy/readers/file_handlers.py
  satpy/readers/olci_nc.py
  satpy/tests/reader_tests/test_abi_l1b.py
  satpy/tests/reader_tests/test_olci_nc.py
  satpy/tests/test_file_handlers.py
  satpy/tests/test_readers.py
Labels: component:readers, enhancement

#1466 Fix wavelength range print out to use regular nbsp
  satpy/dataset/dataid.py
  satpy/tests/test_dataset.py
Labels: bug, component:scene

#1462 Fixes to read VII testdata
  satpy/etc/readers/vii_l1b_nc.yaml
  satpy/readers/vii_base_nc.py
  satpy/readers/vii_l1b_nc.py
  satpy/tests/reader_tests/test_vii_l1b_nc.py
Labels: component:readers

#1473 Fix '::' erroneous for dicts syntax in docstrings
  AUTHORS.md
  satpy/readers/ahi_hsd.py
  satpy/readers/ami_l1b.py
  satpy/readers/slstr_l1b.py
Labels: bug, documentation

#1427 Add reader for FIDUCEO MVIRI FCDR data
  doc/source/api/satpy.readers.rst
  doc/source/index.rst
  satpy/etc/readers/mviri_l1b_fiduceo_nc.yaml
  satpy/readers/_geos_area.py
  satpy/readers/mviri_l1b_fiduceo_nc.py
  satpy/tests/reader_tests/test_geos_area.py
  satpy/tests/reader_tests/test_mviri_l1b_fiduceo_nc.py
Labels: component:readers, enhancement

#1380 Add arbitrary filename suffix to ABI L1B reader
  satpy/etc/readers/abi_l1b.yaml
  satpy/readers/abi_l1b.py
  satpy/tests/reader_tests/test_abi_l1b.py
Labels: component:readers, enhancement

#1438 Full disk padding feature for SEVIRI Native data
  doc/source/index.rst
  satpy/readers/seviri_base.py
  satpy/readers/seviri_l1b_hrit.py
  satpy/readers/seviri_l1b_native.py
  satpy/tests/reader_tests/test_seviri_base.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_seviri_l1b_native.py
Labels: component:readers, enhancement

#1478 Improve FCI geolocation computation, harmonize area_id, add geolocation tests
  satpy/etc/areas.yaml
  satpy/readers/fci_l1c_fdhsi.py
  satpy/tests/reader_tests/test_fci_l1c_fdhsi.py
Labels: component:readers, enhancement

#1481 Remove x/y coordinates in mviri_l1b_fiduceo_nc
  satpy/readers/mviri_l1b_fiduceo_nc.py
  satpy/tests/reader_tests/test_mviri_l1b_fiduceo_nc.py
Labels: bug, component:readers

#1476 Add support for multiple values in the DecisionTree used for enhancements
  satpy/tests/test_writers.py
  satpy/writers/__init__.py
Labels: component:enhancements, enhancement

#1457 Harmonize calibration in SEVIRI readers
  doc/source/readers.rst
  satpy/readers/seviri_base.py
  satpy/readers/seviri_l1b_hrit.py
  satpy/readers/seviri_l1b_native.py
  satpy/readers/seviri_l1b_nc.py
  satpy/tests/reader_tests/test_seviri_base.py
  satpy/tests/reader_tests/test_seviri_l1b_calibration.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_seviri_l1b_native.py
  satpy/tests/reader_tests/test_seviri_l1b_nc.py
Labels: component:readers, enhancement

#1393 Fix sar-c calibration and add support for dB units
  satpy/composites/sar.py
  satpy/etc/readers/sar-c_safe.yaml
  satpy/readers/sar_c_safe.py
  satpy/scene.py
  satpy/tests/compositor_tests/test_sar.py
  satpy/tests/reader_tests/test_sar_c_safe.py
  satpy/tests/test_scene.py
Labels: component:readers, enhancement

#1402 Add ability to create complex tiled AWIPS NetCDF files (formerly SCMI writer)
  .github/CODEOWNERS
  doc/source/api/satpy.writers.rst
  doc/source/writers.rst
  satpy/etc/readers/glm_l2.yaml
  satpy/etc/writers/awips_tiled.yaml
  satpy/etc/writers/scmi.yaml
  satpy/readers/glm_l2.py
  satpy/tests/reader_tests/test_glm_l2.py
  satpy/tests/writer_tests/test_awips_tiled.py
  satpy/tests/writer_tests/test_scmi.py
  satpy/writers/awips_tiled.py
  satpy/writers/scmi.py
  setup.py
Labels: component:writers, enhancement, refactor

#1421 Add reader for AMSR2 Level 2 data produced by GAASP software (amsr2_l2_gaasp)
  doc/source/index.rst
  satpy/etc/enhancements/amsr2.yaml
  satpy/etc/readers/amsr2_l2.yaml
  satpy/etc/readers/amsr2_l2_gaasp.yaml
  satpy/readers/amsr2_l2_gaasp.py
  satpy/tests/reader_tests/test_amsr2_l2_gaasp.py
Labels: component:readers, enhancement

#937 Add GLM + ABI highlight composite
  satpy/composites/glm.py
  satpy/etc/composites/abi.yaml
  satpy/etc/composites/glm.yaml
  satpy/etc/enhancements/abi.yaml
  satpy/etc/enhancements/glm.yaml
  satpy/tests/compositor_tests/test_glm.py
Labels: component:compositors, enhancement

#1465 Updates to FCI reader to include CT, CTTH, GII and the latest filenam…
  satpy/etc/readers/fci_l2_nc.yaml
  satpy/readers/fci_l2_nc.py
  satpy/tests/reader_tests/test_fci_l2_nc.py
Labels: component:readers, enhancement

#1351 Refactor Scene loading and dependency tree
  satpy/dependency_tree.py
  satpy/node.py
  satpy/scene.py
  satpy/tests/test_node.py
  satpy/tests/test_scene.py
  satpy/tests/utils.py
Labels: component:scene, enhancement, refactor

#1491 Fix missing coordinates for bucket resamplers
  satpy/resample.py
  satpy/tests/test_resample.py
Labels: bug, component:resampling
