Repository pytroll/satpy, pull requests merged in 2020-05, with the labels that each got.

#1176 Provide platform_name in FCI L1C FDHSI reader.
  satpy/readers/fci_l1c_fdhsi.py
  satpy/tests/reader_tests/test_fci_l1c_fdhsi.py
Labels: component:readers, enhancement

#1135 Fix reflectance and BT calibration in FCI FDHSI reader
  satpy/readers/fci_l1c_fdhsi.py
  satpy/tests/reader_tests/test_fci_l1c_fdhsi.py
Labels: component:readers, enhancement

#1180 Migrate FCI tests to pytest
  satpy/tests/reader_tests/test_fci_l1c_fdhsi.py
Labels: component:readers, enhancement

#1181 Add more explicit error message when string is passed to Scene.load
  satpy/scene.py
  satpy/tests/test_scene.py
Labels: component:scene, enhancement

#1183 Add options for creating geotiff overviews
  doc/source/conf.py
  satpy/writers/geotiff.py
Labels: component:writers, enhancement

#1178 Optimize readers searching for matching filenames
  satpy/readers/__init__.py
  satpy/readers/yaml_reader.py
  satpy/tests/test_readers.py
  satpy/tests/test_yaml_reader.py
Labels: component:readers, enhancement, optimization

#1186 Fix SEVIRI native reader flipping
  satpy/etc/readers/seviri_l1b_native.yaml
  satpy/readers/seviri_l1b_native.py
  satpy/tests/reader_tests/test_seviri_l1b_native.py
Labels: component:readers, enhancement

#1051 Return counts from satpy/avhrr_l1b_gaclac reader
  AUTHORS.md
  satpy/etc/readers/avhrr_l1b_gaclac.yaml
  satpy/readers/avhrr_l1b_gaclac.py
  satpy/tests/reader_tests/test_avhrr_l1b_gaclac.py
Labels: component:readers, enhancement

#1202 Fix bad error message when Scene was given a bad reader name
  appveyor.yml
  satpy/readers/__init__.py
  satpy/tests/test_readers.py
Labels: bug, component:scene

#1195 Fix accessing uncached root group variable when using NetCDF4FileHandler in caching mode
  satpy/readers/netcdf_utils.py
  satpy/tests/reader_tests/test_netcdf_utils.py
Labels: bug, component:readers

#1170 Fix cf writing of 3d arrays
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: bug, component:writers

#1185 Add scanline acquisition times to hrit_jma
  doc/source/readers.rst
  satpy/readers/hrit_jma.py
  satpy/readers/seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_ahi_hrit.py
Labels: component:readers, enhancement

#1203 Add link to MTSAT sample data
  satpy/readers/hrit_jma.py
Labels: documentation

#1177 Add support for reading pixel_quality ancillary variables, FCI reader no longer logs warnings
  satpy/etc/readers/fci_l1c_fdhsi.yaml
  satpy/readers/fci_l1c_fdhsi.py
  satpy/tests/reader_tests/test_fci_l1c_fdhsi.py
Labels: component:readers, enhancement

#1199 Cache dimension per variable
  satpy/readers/netcdf_utils.py
  satpy/tests/reader_tests/test_netcdf_utils.py
Labels: component:readers, enhancement

#1169 Implement remote file search
  .travis.yml
  satpy/readers/__init__.py
  satpy/readers/yaml_reader.py
  satpy/tests/test_yaml_reader.py
  setup.py
Labels: component:scene, enhancement

#1212 GRIB: Add file pattern for NWCSAF input file names
  satpy/etc/readers/grib.yaml
  satpy/tests/reader_tests/test_grib.py
Labels: component:readers, enhancement

#1213 Remove invalid valid_range metadata from abi readers
  satpy/readers/abi_l1b.py
  satpy/readers/abi_l2_nc.py
  satpy/tests/reader_tests/test_abi_l1b.py
Labels: bug, component:readers

#1211 Fix "rows_per_scan" not being available from VIIRS SDR readers
  satpy/readers/viirs_compact.py
  satpy/readers/viirs_sdr.py
  satpy/tests/reader_tests/test_viirs_compact.py
  satpy/tests/reader_tests/test_viirs_l1b.py
  satpy/tests/reader_tests/test_viirs_sdr.py
Labels: bug, component:readers

#1175 Add more flexible masking
  satpy/composites/__init__.py
  satpy/etc/composites/avhrr-3.yaml
  satpy/etc/composites/seviri.yaml
  satpy/etc/enhancements/generic.yaml
  satpy/tests/test_composites.py
Labels: component:compositors, enhancement

#1216 Make combine_arrays understand non-numpy arrays
  satpy/dataset.py
  satpy/tests/test_dataset.py
Labels: bug, component:scene

#1223 Add FCI Natural Color example page to sphinx docs
  doc/source/examples/fci_l1c_natural_color.rst
  doc/source/examples/index.rst
  doc/source/index.rst
Labels: component:readers, documentation
