Repository pytroll/satpy, pull requests merged in 2020-04, with the labels that each got.

#1038 Switch to pyproj for projection to CF NetCDF grid mapping
  .travis.yml
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: bug, component:writers

#1129 Make the viirs_sdr reader return float32s
  satpy/readers/viirs_sdr.py
Labels: bug, component:readers

#1131 Fix geostationary utilities assuming a/b radii are always available
  satpy/readers/utils.py
  satpy/tests/reader_tests/test_ahi_hsd.py
  satpy/tests/reader_tests/test_geos_area.py
  satpy/tests/reader_tests/test_hrit_base.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_utils.py
Labels: bug, component:readers

#845 MTG: get projection and extent information from file
  satpy/readers/fci_l1c_fdhsi.py
  satpy/tests/reader_tests/test_fci_l1c_fdhsi.py
Labels: component:readers, enhancement

#1128 Add tm5_constant_a and tm5_constant_b for tropomi_l2
  satpy/etc/readers/tropomi_l2.yaml
Labels: component:readers, enhancement

#1126 Update omps edr reader and hdf5_utils to handle OMPS SO2 data from FMI
  doc/source/index.rst
  satpy/etc/readers/omps_edr.yaml
  satpy/readers/hdf5_utils.py
  satpy/readers/omps_edr.py
  satpy/tests/reader_tests/test_omps_edr.py
Labels: component:readers, enhancement

#1130 Add note about datatype in custom reader documentation
  doc/source/dev_guide/custom_reader.rst
Labels: documentation, enhancement

#1147 Fix incomplete group_files docstring
  satpy/readers/__init__.py
Labels: documentation

#1161 Add Effective_Pressure to NUCAPS reader
  satpy/etc/readers/nucaps.yaml
  satpy/tests/reader_tests/test_nucaps.py
Labels: component:readers, enhancement

#1155 Lowercase sensor of tropomi_l2
  satpy/readers/tropomi_l2.py
  satpy/tests/reader_tests/test_tropomi_l2.py
Labels: bug, component:readers

#1163 Add TROPOMI NO2 LEVEL2 composites
  satpy/etc/composites/tropomi.yaml
  satpy/etc/enhancements/tropomi.yaml
Labels: component:compositors, enhancement
