Repository pytroll/satpy, pull requests merged in 2020-07, with the labels that each got.

#1237 More flexible way of passing avhrr_l1b_gaclac reader kwargs to pygac
  satpy/readers/avhrr_l1b_gaclac.py
  satpy/tests/reader_tests/test_avhrr_l1b_gaclac.py
Labels: component:readers, enhancement

#1257 Add per-frame decoration to MultiScene
  doc/source/multiscene.rst
  satpy/multiscene.py
  satpy/tests/test_multiscene.py
Labels: component:multiscene, enhancement

#1259 Update safe_msi for new pyproj compatibility
  satpy/readers/msi_safe.py
Labels: bug, component:readers

#1264 Fix "see above" reference at start of enhance docs
  doc/source/composites.rst
  doc/source/enhancements.rst
Labels: component:enhancements, documentation

#1263 Add generic filepatterns for mersi2 reader
  satpy/etc/readers/mersi2_l1b.yaml
Labels: component:readers, enhancement

#1255 Add test utility to make a scene.
  satpy/tests/test_utils.py
  satpy/tests/utils.py
Labels: component:scene, enhancement

#564 Add new ABI composites
  satpy/etc/composites/abi.yaml
  satpy/etc/enhancements/abi.yaml
  satpy/etc/enhancements/generic.yaml
Labels: component:compositors, enhancement

#1269 Support multiple readers in group_files and MultiScene.from_files
  doc/source/multiscene.rst
  satpy/multiscene.py
  satpy/readers/__init__.py
  satpy/tests/test_multiscene.py
  satpy/tests/test_readers.py
Labels: component:multiscene, component:readers, enhancement
