Repository pytroll/satpy, pull requests merged in 2020-11, with the labels that each got.

#1420 Add support for Near-realtime VIIRS L1b data.
  satpy/etc/readers/viirs_l1b.yaml
Labels: component:readers, enhancement

#1388 Fix handling of new date string formats in NUCAPS reader
  satpy/readers/nucaps.py
  satpy/tests/reader_tests/test_nucaps.py
Labels: bug, component:readers

#1428 Bugfix NWC SAF GEO v2016 area definition
  satpy/readers/nwcsaf_nc.py
  satpy/readers/utils.py
  satpy/tests/reader_tests/test_nwcsaf_nc.py
Labels: bug, component:readers

#1430 Fix infer_mode not using the band coordinate
  satpy/composites/__init__.py
  satpy/tests/test_composites.py
Labels: bug, component:compositors

#1431 Fix crash when TLE files are missing
  satpy/readers/avhrr_l1b_gaclac.py
  satpy/tests/reader_tests/test_avhrr_l1b_gaclac.py
Labels: bug, component:readers

#1432 Fix enhance2dataset to support P-mode datasets
  satpy/composites/__init__.py
  satpy/tests/test_composites.py
Labels: bug, component:compositors

#1435 Fix tests for GEOFlippableFileYAMLReader after AreaDefinition.area_extent being immutable
  satpy/tests/test_yaml_reader.py
Labels: bug, component:readers

#1422 Fix HDF5 utility file handler not decoding byte arrays consistently
  satpy/readers/hdf5_utils.py
  satpy/readers/hy2_scat_l2b_h5.py
  satpy/readers/mersi2_l1b.py
  satpy/tests/reader_tests/test_hdf5_utils.py
  satpy/tests/reader_tests/test_mersi2_l1b.py
Labels: bug, component:readers

#1433 Fix cloud-free pixels in cloudtop height composite
  satpy/composites/cloud_products.py
  satpy/tests/test_composites.py
Labels: bug, component:compositors

#1406 Handle bilinear caching in Pyresample
  satpy/resample.py
  satpy/tests/test_resample.py
Labels: blocked, component:resampling, enhancement

#1401 Add function to the SLSTR L1 reader to enable correction of VIS radiances.
  satpy/readers/slstr_l1b.py
  satpy/tests/reader_tests/test_nc_slstr.py
  satpy/tests/reader_tests/test_slstr_l1b.py
Labels: component:readers, enhancement, hacktoberfest

#1394 Add satpy cf-reader and eumetsat gac reader
  doc/source/api/satpy.composites.rst
  doc/source/api/satpy.dataset.rst
  doc/source/api/satpy.enhancements.rst
  doc/source/api/satpy.readers.rst
  doc/source/api/satpy.rst
  doc/source/api/satpy.writers.rst
  doc/source/readers.rst
  satpy/etc/readers/avhrr_l1c_eum_gac_fdr_nc.yaml
  satpy/etc/readers/satpy_cf_nc.yaml
  satpy/readers/satpy_cf_nc.py
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/test_satpy_cf_nc.py
Labels: component:readers, enhancement

#1441 Add github workflow
  .github/workflows/ci.yaml
  .github/workflows/deploy-sdist.yaml
  .travis.yml
  README.rst
  continuous_integration/environment.yaml
Labels: enhancement

#1442 Switch ci coverage to xml for codecov compatibility
  .github/workflows/ci.yaml
Labels: enhancement
