Repository pytroll/satpy, pull requests merged in 2020-03, with the labels that each got.

#1098 Fix ninjotiff writer tests failing when pyninjotiff is installed
  satpy/tests/writer_tests/test_ninjotiff.py
Labels: bug

#919 Add support for the NWCSAF CMAPROB product
  satpy/composites/__init__.py
  satpy/composites/cloud_products.py
  satpy/etc/composites/visir.yaml
  satpy/etc/enhancements/generic.yaml
  satpy/etc/readers/nwcsaf-pps_nc.yaml
  satpy/readers/nwcsaf_nc.py
  satpy/tests/compositor_tests/__init__.py
Labels: component:compositors, component:enhancements

#1101 Fix eps l1b angles computation returning non deterministic results
  satpy/readers/eps_l1b.py
  satpy/tests/reader_tests/test_eps_l1b.py
Labels: bug, component:readers

#1106 Scale valid range if available.
  satpy/readers/nwcsaf_nc.py
  satpy/tests/reader_tests/test_nwcsaf_nc.py
Labels: bug, component:readers

#1071 Add SEVIRI L2 GRIB reader
  doc/source/index.rst
  satpy/etc/readers/seviri_l2_grib.yaml
  satpy/readers/seviri_base.py
  satpy/readers/seviri_l2_grib.py
  satpy/tests/reader_tests/test_seviri_l2_grib.py
  setup.py
Labels: component:readers, enhancement

#1113 Add sensor-name property to NWCSAF readers
  satpy/etc/composites/abi.yaml
  satpy/etc/composites/visir.yaml
  satpy/etc/readers/nwcsaf-geo.yaml
  satpy/readers/nwcsaf_nc.py
  satpy/tests/reader_tests/test_nwcsaf_nc.py
  setup.py
Labels: bug, component:compositors, enhancement

#1118 Fix supported Python version in devguide
  doc/source/dev_guide/index.rst
Labels: bug, documentation

#1116 Make an alias for the snow composite in viirs
  satpy/etc/composites/viirs.yaml
Labels: bug, component:dep_tree

#1109 Fix dask and attribute issue in seviri_l1b_nc reader
  satpy/readers/seviri_l1b_nc.py
  satpy/tests/reader_tests/test_seviri_l1b_nc.py
Labels: component:readers, enhancement

#1107 Raise an error if data and angle shapes don't match in NIRReflectance
  satpy/composites/__init__.py
  satpy/tests/test_composites.py
Labels: bug, component:compositors

#1115 Fix mitiff writer to support sensors as a set
  satpy/tests/writer_tests/test_mitiff.py
  satpy/writers/mitiff.py
Labels: bug, component:writers

#1091 Add assembled_lat_bounds, assembled_lon_bounds and time variables
  satpy/etc/readers/tropomi_l2.yaml
  satpy/readers/tropomi_l2.py
  satpy/tests/reader_tests/test_tropomi_l2.py
Labels: component:readers, enhancement

#1117 Add support for satpy.composites entry points
  doc/source/dev_guide/index.rst
  doc/source/dev_guide/plugins.rst
  satpy/composites/__init__.py
  satpy/config.py
  satpy/tests/test_config.py
Labels: component:compositors, enhancement

#1044 Set travis and appveyor numpy version back to 'stable'
  appveyor.yml
Labels: enhancement

#1089 Make sunz correction use available sunz dataset
  satpy/composites/__init__.py
  satpy/tests/test_composites.py
Labels: bug, component:compositors

#606 Add enhanced (more natural) version of natural colors composite
  satpy/composites/__init__.py
  satpy/etc/composites/seviri.yaml
  satpy/etc/composites/visir.yaml
  satpy/etc/enhancements/generic.yaml
  satpy/tests/compositor_tests/__init__.py
  satpy/tests/test_composites.py
Labels: component:compositors, enhancement, help wanted

#1125 Fix Scene.crop using PROJ definition to create target area definition
  satpy/scene.py
  satpy/tests/test_scene.py
Labels: bug, component:resampling

#1121 HY-2B scatterometer l2b hdf5 reader
  doc/source/index.rst
  satpy/etc/composites/scatterometer.yaml
  satpy/etc/enhancements/scatterometer.yaml
  satpy/etc/readers/hy2_scat_l2b_h5.yaml
  satpy/readers/hy2_scat_l2b_h5.py
  satpy/tests/reader_tests/test_hy2_scat_l2b_h5.py
Labels: component:readers, enhancement
