Repository pytroll/satpy, pull requests merged in 2020-09, with the labels that each got.

#1313 Fix true colors generation for AHI HSD data and refactor the dep tree code
  doc/source/dev_guide/satpy_internals.rst
  satpy/__init__.py
  satpy/dataset.py
  satpy/dependency_tree.py
  satpy/etc/composites/visir.yaml
  satpy/etc/readers/sar-c_safe.yaml
  satpy/etc/readers/slstr_l1b.yaml
  satpy/node.py
  satpy/readers/yaml_reader.py
  satpy/scene.py
  satpy/tests/test_dataset.py
  satpy/tests/test_dependency_tree.py
  satpy/tests/test_node.py
  satpy/tests/test_scene.py
  satpy/tests/utils.py
Labels: bug, component:scene, refactor

#1331 Fix auxiliary files for releasing and pr template
  .github/PULL_REQUEST_TEMPLATE.md
  RELEASING.md
Labels: documentation

#1332 Remove reference to datasetid in tests.utils.
  satpy/tests/utils.py
Labels: documentation

#1327 Refactor reader configuration loading to remove redundant code
  satpy/__init__.py
  satpy/composites/__init__.py
  satpy/dataset/__init__.py
  satpy/dataset/anc_vars.py
  satpy/dataset/data_dict.py
  satpy/dataset/dataid.py
  satpy/dataset/metadata.py
  satpy/dependency_tree.py
  satpy/readers/__init__.py
  satpy/readers/yaml_reader.py
  satpy/scene.py
  satpy/tests/reader_tests/test_agri_l1.py
  satpy/tests/reader_tests/test_mersi2_l1b.py
  satpy/tests/reader_tests/test_nc_slstr.py
  satpy/tests/test_dataset.py
  satpy/tests/test_dependency_tree.py
  satpy/tests/test_multiscene.py
  satpy/tests/test_readers.py
  satpy/tests/test_scene.py
  satpy/tests/test_yaml_reader.py
  satpy/tests/utils.py
Labels: backwards-incompatibility, cleanup, component:readers, enhancement, refactor

#1338 Fix exception to catch when new namedtuple syntax is used
  satpy/dataset/dataid.py
Labels: bug, component:scene

#1352 Reintroduce support for pyproj 1.9.6 in cf_writer
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: component:writers, enhancement

#1303 Fix nucaps reader failing when kwargs are passed
  satpy/readers/nucaps.py
  satpy/tests/reader_tests/test_netcdf_utils.py
  satpy/tests/reader_tests/test_nucaps.py
Labels: bug, component:readers

#1312 Add reader for gridded AHI data
  satpy/etc/readers/ahi_gridded.yaml
  satpy/readers/ahi_gridded.py
  satpy/tests/reader_tests/test_ahi_gridded.py
Labels: component:readers, enhancement

#1346 DOC: put pip install with extra dependency in quotation
  doc/source/install.rst
Labels: documentation

#1342 Update seviri icare tests
  satpy/tests/reader_tests/test_seviri_l1b_icare.py
Labels: cleanup, component:readers, enhancement

#1247 Fix time reading in vaisala_gld360 reader
  satpy/readers/vaisala_gld360.py
  satpy/tests/reader_tests/test_vaisala_gld360.py
Labels: bug, component:readers

#1333 Fix aapp_l1b reader to behave nicely on missing datasets
  satpy/readers/aapp_l1b.py
  satpy/tests/reader_tests/test_aapp_l1b.py
Labels: bug, component:readers

#1341 Add Sun-Earth distance corrector utility and apply in SEVIRI readers
  satpy/readers/seviri_base.py
  satpy/readers/seviri_l1b_hrit.py
  satpy/readers/seviri_l1b_native.py
  satpy/readers/seviri_l1b_nc.py
  satpy/readers/utils.py
  satpy/tests/reader_tests/test_seviri_base.py
  satpy/tests/reader_tests/test_seviri_l1b_calibration.py
  satpy/tests/reader_tests/test_utils.py
Labels: bug, refactor

#1204 Alter the way cf_writer handle hardcoded global attributes
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: component:writers, enhancement

#1353 Add_band workaround for dask bug
  satpy/composites/__init__.py
  satpy/tests/test_composites.py
Labels: bug, component:compositors

#1358 Daskify Earth-Sun distance correction.
  satpy/readers/utils.py
  satpy/tests/reader_tests/test_utils.py
Labels: bug, component:readers

#1354 Update name for gridded AHI reader
  doc/source/index.rst
  satpy/etc/readers/ahi_l1b_gridded_bin.yaml
  satpy/readers/ahi_l1b_gridded_bin.py
  satpy/tests/reader_tests/test_ahi_l1b_gridded_bin.py
Labels: bug, component:readers

#1366 Fixing a few typos in slstr_l1b yaml reader
  satpy/etc/readers/slstr_l1b.yaml
Labels: bug, component:readers

#1365 Fix leftovers from module splitting
  satpy/etc/readers/grib.yaml
  satpy/etc/readers/nucaps.yaml
  satpy/etc/readers/sar-c_safe.yaml
  satpy/etc/readers/slstr_l1b.yaml
Labels: bug, component:readers

#1357 Only add longitude/latitude variables in cf_writer if they are not included already.
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: bug, component:writers

#1368 Fix wrong number of scanlines in eps reader
  satpy/readers/eps_l1b.py
  satpy/tests/reader_tests/test_eps_l1b.py
Labels: bug, component:readers

#1284 add more RGB to FY4A
  AUTHORS.md
  satpy/etc/composites/agri.yaml
Labels: component:compositors, enhancement

#1251 Add ABI Fire Temperature, Day Convection, and Cloud Type composites.
  satpy/etc/composites/abi.yaml
  satpy/etc/enhancements/abi.yaml
Labels: component:readers, enhancement

#1254 Preserve chunks in CF Writer
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: component:writers, enhancement

#1373 Addresses issue 1372, fixes word order error in conda install instruc…
  doc/source/dev_guide/index.rst
Labels: documentation

#1376 Switch to travis for Windows testing
  .travis.yml
  README.rst
  appveyor.yml
Labels: component:tests
