Repository pytroll/satpy, pull requests merged in 2020-10, with the labels that each got.

#1390 Add support to Pyspectral NIRReflectance masking limit
  satpy/composites/__init__.py
  satpy/tests/test_composites.py
  setup.py
Labels: component:compositors, enhancement

#1407 Fix mersi 2 angles reading
  satpy/readers/mersi2_l1b.py
  satpy/tests/reader_tests/test_mersi2_l1b.py
Labels: bug, component:readers

#1405 Add FIR product to seviri_l2_grib reader
  AUTHORS.md
  doc/source/index.rst
  satpy/etc/readers/seviri_l2_grib.yaml
  satpy/readers/seviri_l2_bufr.py
  satpy/readers/seviri_l2_grib.py
Labels: component:readers, enhancement, hacktoberfest

#1411 Added MERSI-2 file pattern for data from NMSC
  satpy/etc/readers/mersi2_l1b.yaml
Labels: component:readers, enhancement

#1400 Improve customisation in multiscene creation
  satpy/multiscene.py
  satpy/tests/test_multiscene.py
Labels: component:multiscene, enhancement

#1392 Remove 1-D lat/lon variables from mimic reader's available datasets
  satpy/enhancements/mimic.py
  satpy/etc/enhancements/mimic.yaml
  satpy/etc/readers/mimicTPW2_comp.yaml
  satpy/readers/mimic_TPW2_nc.py
  satpy/tests/reader_tests/test_mimic_TPW2_lowres.py
  satpy/tests/reader_tests/test_mimic_TPW2_nc.py
Labels: bug, component:readers

#1413 Fix pyspectral link in the main doc page
  doc/source/index.rst
Labels: bug, documentation

#1360 Refactor compositor and modifier loading and structure
  satpy/composites/__init__.py
  satpy/composites/config_loader.py
  satpy/dataset/dataid.py
  satpy/dependency_tree.py
  satpy/etc/composites/abi.yaml
  satpy/etc/composites/ahi.yaml
  satpy/etc/composites/mersi-2.yaml
  satpy/etc/composites/modis.yaml
  satpy/etc/composites/msi.yaml
  satpy/etc/composites/olci.yaml
  satpy/etc/composites/seviri.yaml
  satpy/etc/composites/slstr.yaml
  satpy/etc/composites/viirs.yaml
  satpy/etc/composites/virr.yaml
  satpy/etc/composites/visir.yaml
  satpy/modifiers/__init__.py
  satpy/modifiers/atmosphere.py
  satpy/modifiers/base.py
  satpy/modifiers/geometry.py
  satpy/modifiers/spectral.py
  satpy/scene.py
  satpy/tests/compositor_tests/test_abi.py
  satpy/tests/compositor_tests/test_ahi.py
  satpy/tests/compositor_tests/test_viirs.py
  satpy/tests/reader_tests/test_fci_l1c_fdhsi.py
  satpy/tests/test_composites.py
  satpy/tests/test_dependency_tree.py
  satpy/tests/test_modifiers.py
  satpy/tests/test_scene.py
Labels: component:compositors, refactor

#1415 Update Code of Conduct contact email to groups.io address
  CODE_OF_CONDUCT.md
Labels: documentation

#1296 Fix grib reader handling for data on 0-360 longitude
  satpy/readers/grib.py
  satpy/tests/reader_tests/test_grib.py
Labels: bug, component:readers
