Repository pytroll/satpy, pull requests merged in 2020-02, with the labels that each got.

#839 Add support of colorbar
  satpy/tests/test_writers.py
  satpy/writers/__init__.py
Labels: component:writers, enhancement

#1058 Work around changes in xarray 0.15
  .travis.yml
  satpy/readers/abi_base.py
  satpy/readers/scmi.py
  satpy/scene.py
  satpy/tests/compositor_tests/__init__.py
Labels: bug

#1057 lowercase the sensor name
  satpy/readers/agri_l1.py
  satpy/tests/reader_tests/test_agri_l1.py
Labels: bug, component:readers

#1056 Fix name of natural_color composite in quickstart
  doc/source/quickstart.rst
Labels: documentation

#1068 Fix a typo in writer 'filename' documentation
  satpy/writers/__init__.py
Labels: documentation

#1064 Adjust default blending in DayNightCompositor
  doc/source/composites.rst
  satpy/composites/__init__.py
  satpy/resample.py
  satpy/tests/compositor_tests/__init__.py
Labels: component:compositors, component:enhancements

#1063 Fix eps infinite loop
  satpy/readers/eps_l1b.py
  satpy/readers/xmlformat.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_eps_l1b.py
Labels: bug, component:readers

#1065 Add AHI airmass, ash, dust, fog, and night_microphysics RGBs
  satpy/etc/composites/ahi.yaml
  satpy/etc/enhancements/abi.yaml
  satpy/etc/enhancements/ahi.yaml
  satpy/etc/enhancements/generic.yaml
Labels: component:compositors, enhancement

#1067 Add GOES-17 support to the 'geocat' reader
  satpy/etc/readers/geocat.yaml
  satpy/readers/geocat.py
  satpy/tests/reader_tests/test_geocat.py
Labels: component:readers, enhancement

#1066 Rename natural_color_sun to natural_color in generic VIS/IR RGB recipes
  doc/source/quickstart.rst
  satpy/etc/composites/mersi-2.yaml
  satpy/etc/composites/msi.yaml
  satpy/etc/composites/msu-gs.yaml
  satpy/etc/composites/seviri.yaml
  satpy/etc/composites/visir.yaml
Labels: backwards-incompatibility, component:compositors

#1061 Add support for NUCAPS Science EDRs
  satpy/etc/readers/nucaps.yaml
  satpy/readers/nucaps.py
  satpy/tests/reader_tests/test_nucaps.py
Labels: component:readers, enhancement

#1078 Tropomi l2 reader to handle more types of products
  satpy/etc/readers/tropomi_l2.yaml
Labels: bug, component:readers

#1052 Delegate dask delays to pyninjotiff
  satpy/tests/writer_tests/test_ninjotiff.py
  satpy/writers/ninjotiff.py
Labels: component:writers, enhancement

#1079 Metop level 2 EUMETCAST BUFR reader
  AUTHORS.md
  doc/source/index.rst
  satpy/etc/readers/iasi_l2_so2_bufr.yaml
  satpy/readers/iasi_l2_so2_bufr.py
  satpy/tests/reader_tests/__init__.py
  satpy/tests/reader_tests/test_iasi_l2_so2_bufr.py
Labels: component:readers, enhancement

#1084 Add latitude_bounds and longitude_bounds to tropomi_l2
  satpy/readers/tropomi_l2.py
Labels: bug, component:readers

#1082 Update SLSTR composites
  satpy/etc/composites/slstr.yaml
  satpy/etc/readers/slstr_l1b.yaml
  satpy/readers/slstr_l1b.py
Labels: component:compositors, enhancement
