Repository pytroll/satpy, pull requests merged in 2020-06, with the labels that each got.

#1139 Keep int type and fix scale_factor/dim bug in tropomi_l2 reader
  satpy/etc/readers/tropomi_l2.yaml
  satpy/readers/tropomi_l2.py
Labels: bug, component:readers

#1227 Delete kdtree after saving cache
  satpy/resample.py
  satpy/tests/test_resample.py
Labels: component:resampling, enhancement

#1226 Add a feature for handling scheduled_time in ahi_hsd reader.
  AUTHORS.md
  satpy/readers/ahi_hsd.py
  satpy/tests/reader_tests/test_ahi_hsd.py
Labels: component:readers, enhancement

#1188 Add areas for FCI
  satpy/etc/areas.yaml
Labels: enhancement

#812 Add MOD06 support to 'modis_l2' reader
  satpy/etc/readers/modis_l2.yaml
  satpy/readers/modis_l2.py
Labels: component:readers, enhancement

#1189 Add option to supply sunz-threshold applied in Pyspectral
  satpy/composites/__init__.py
  satpy/etc/composites/visir.yaml
  satpy/tests/test_composites.py
Labels: PCW, component:compositors, enhancement

#1141 Add night lights composites for ABI, AHI and AMI
  satpy/etc/composites/abi.yaml
  satpy/etc/composites/ahi.yaml
  satpy/etc/composites/ami.yaml
  satpy/etc/composites/seviri.yaml
Labels: component:compositors, enhancement

#983 Add group method to MultiScene
  doc/source/multiscene.rst
  satpy/multiscene.py
  satpy/tests/compositor_tests/test_ahi.py
  satpy/tests/reader_tests/test_eps_l1b.py
  satpy/tests/reader_tests/test_utils.py
  satpy/tests/test_multiscene.py
Labels: component:multiscene, enhancement

#1100 Add support for GPM IMERG data
  doc/source/index.rst
  satpy/etc/readers/gpm_imerg.yaml
  satpy/readers/gpm_imerg.py
  satpy/tests/reader_tests/test_gpm_imerg.py
  satpy/tests/reader_tests/test_hy2_scat_l2b_h5.py
Labels: component:readers, enhancement

#1230 FCI: fix areadef when only pixel quality asked
  satpy/readers/fci_l1c_fdhsi.py
  satpy/tests/reader_tests/test_fci_l1c_fdhsi.py
Labels: bug, component:readers

#1219 Add VII L2 netCDF-reader.
  doc/source/index.rst
  satpy/etc/readers/vii_l2_nc.yaml
  satpy/readers/vii_l2_nc.py
  satpy/tests/reader_tests/test_vii_l2_nc.py
Labels: component:readers, enhancement

#1241 Add environment variables handeling to static image compositor
  AUTHORS.md
  satpy/composites/__init__.py
  satpy/tests/test_composites.py
Labels: component:scene, enhancement
