Repository pytroll/satpy, pull requests merged in 2021-04, with the labels that each got.

#1620 Add feature to StaticImageCompositor to allow filenames relative to Satpy 'data_dir'
  satpy/composites/__init__.py
  satpy/tests/test_composites.py
Labels: component:compositors, enhancement

#1634 Fix offline aux download not working for modifiers
  satpy/aux_download.py
  satpy/tests/test_data_download.py
Labels: bug, component:compositors

#1640 Fix AAPP l1b reader for negative slope on channel 2
  satpy/readers/aapp_l1b.py
  satpy/tests/reader_tests/test_aapp_l1b.py
Labels: bug, component:readers

#1631 Fix satellite altitude being in kilometers in ABI L2 reader
  AUTHORS.md
  satpy/readers/abi_l2_nc.py
  satpy/tests/reader_tests/test_abi_l2_nc.py
Labels: bug, component:readers

#1578 Fix nightly/unstable CI URL
  .github/workflows/ci.yaml
Labels: bug

#1644 Add id for GOMS3/Electro-l n3
  satpy/readers/electrol_hrit.py
Labels: bug, component:readers

#1643 Fix combine_metadata not handling lists of different sizes
  satpy/dataset/metadata.py
  satpy/tests/test_dataset.py
Labels: bug, component:compositors

#1646 Add new piecewise_linear_stretch enhancement method
  doc/source/enhancements.rst
  satpy/enhancements/__init__.py
  satpy/etc/enhancements/generic.yaml
  satpy/tests/enhancement_tests/test_enhancements.py
Labels: component:enhancements, enhancement

#1560 Allow custom dataset names in 'generic_image' reader and fix nodata handling
  satpy/readers/generic_image.py
  satpy/tests/reader_tests/test_generic_image.py
Labels: component:readers, enhancement
