Repository pytroll/satpy, pull requests merged in 2021-06, with the labels that each got.

#1701 Add pending deprecation reader names check
  satpy/readers/__init__.py
  satpy/tests/test_readers.py
Labels: component:readers, enhancement

#1697 Solves some Github issues regarding documentation
  doc/source/quickstart.rst
  satpy/resample.py
  satpy/writers/cf_writer.py
Labels: documentation

#1680 Implement reading of index map and auxiliary data in FCI L1c reader
  satpy/etc/readers/fci_l1c_fdhsi.yaml
  satpy/readers/fci_l1c_fdhsi.py
  satpy/tests/reader_tests/test_fci_l1c_fdhsi.py
Labels: PCW, component:readers, enhancement

#1700 Refactor SAR reader
  satpy/etc/readers/sar-c_safe.yaml
  satpy/readers/sar_c_safe.py
  satpy/tests/reader_tests/test_sar_c_safe.py
Labels: cleanup, component:readers

#1709 Add `pyorbital` requirement of SEVIRI calibration in setup.
  AUTHORS.md
  setup.py
Labels: cleanup

#1712 Rename the fci_l1c_fdhsi reader to fci_l1c_nc
  .github/CODEOWNERS
  doc/source/examples/fci_l1c_natural_color.rst
  doc/source/index.rst
  satpy/etc/readers/fci_l1c_nc.yaml
  satpy/readers/__init__.py
  satpy/readers/fci_l1c_nc.py
  satpy/tests/features/feature-real-load-process-write.feature
  satpy/tests/reader_tests/test_fci_l1c_nc.py
Labels: component:readers

#1711 Rewrite installation instructions to make conda use clearer
  doc/source/dev_guide/index.rst
  doc/source/install.rst
  doc/source/quickstart.rst
Labels: documentation

#1710 Fix NUCAPS reader having incorrect _FillValue attribute
  satpy/readers/nucaps.py
  satpy/tests/reader_tests/test_nucaps.py
Labels: bug, component:readers

#1706 Update SLSTR reader to choose correct file for interpolated angles
  satpy/readers/slstr_l1b.py
  satpy/tests/reader_tests/test_slstr_l1b.py
Labels: bug, component:readers

#1715 Fix benchmarks to run with older commits
  benchmarks/ahi_hsd_benchmarks.py
Labels: component:tests, enhancement

#1717 Add low resolution file patterns for AHI HSD reader
  AUTHORS.md
  satpy/etc/readers/ahi_hsd.yaml
Labels: component:readers, enhancement

#1698 Fix error when calling to_xarray_dataset on an empty scene
  satpy/scene.py
  satpy/tests/test_scene.py
Labels: bug, component:scene

#1297 Add support for MCMIP GOES ABI L2 files
  satpy/etc/readers/abi_l2_nc.yaml
  satpy/readers/abi_l2_nc.py
  satpy/tests/reader_tests/test_abi_l2_nc.py
Labels: component:readers, enhancement

#1720 Add a test to ensure seviri hrv has priority over vis008 when requesting 0.8µm
  satpy/tests/test_dataset.py
Labels: component:tests, enhancement

#1723 Fix package dependencies for the `msi_safe` reader
  satpy/readers/msi_safe.py
  setup.py
Labels: bug, component:readers

#1724 Replace doc references to PPP_CONFIG_DIR
  satpy/plugin_base.py
  satpy/resample.py
Labels: bug, documentation

#1628 Fix for transposed angles in safe-msi reader
  continuous_integration/environment.yaml
  satpy/readers/msi_safe.py
  satpy/tests/reader_tests/test_msi_safe.py
  setup.py
Labels: bug, component:readers

#1734 Remove valid_range from attributes in VIRR L1b reader
  satpy/readers/virr_l1b.py
  satpy/tests/reader_tests/test_virr_l1b.py
Labels: bug, component:readers

#1744 Fix VIRR reader handling valid_range when it is a numpy array
  satpy/readers/virr_l1b.py
Labels: bug, component:readers
