Repository pytroll/satpy, pull requests merged in 2021-11, with the labels that each got.

#1868 Fix MiRS reader not working with new versions of dask
  satpy/readers/amsr2_l1b.py
  satpy/readers/mirs.py
  satpy/tests/reader_tests/test_amsr2_l1b.py
  satpy/tests/reader_tests/test_mirs.py
Labels: bug, component:readers

#1884 Fix nucaps reader failing when given multiple input files
  satpy/readers/nucaps.py
  satpy/tests/reader_tests/test_nucaps.py
Labels: bug, component:readers

#1887 Remove confusing and unused cache_dir default of '.'
  .github/workflows/ci.yaml
  satpy/resample.py
Labels: cleanup

#1885 Add optional on-disk zarr caching to sensor angle generation
  doc/source/config.rst
  satpy/_config.py
  satpy/modifiers/_angles.py
  satpy/modifiers/_crefl.py
  satpy/modifiers/angles.py
  satpy/modifiers/atmosphere.py
  satpy/readers/abi_base.py
  satpy/tests/conftest.py
  satpy/tests/test_modifiers.py
  satpy/utils.py
Labels: enhancement, component:compositors

#1891 Fix file handlers improperly matching some file types
  satpy/readers/file_handlers.py
  satpy/tests/etc/readers/fake1.yaml
  satpy/tests/features/steps/steps-load.py
  satpy/tests/features/steps/steps-real-load-process-write.py
  satpy/tests/features/steps/steps-save.py
  satpy/tests/test_file_handlers.py
  setup.cfg
  utils/convert_to_ninjotiff.py
Labels: bug, component:readers

#1897 Update AHI gridded reader to use HTTP instead of FTP
  satpy/readers/ahi_l1b_gridded_bin.py
  satpy/tests/reader_tests/test_ahi_l1b_gridded_bin.py
Labels: enhancement

#1899 Fix loading multi-sensor composites for manually added data
  satpy/scene.py
  satpy/tests/etc/composites/fake_sensor.yaml
  satpy/tests/etc/readers/fake4.yaml
  satpy/tests/test_scene.py
Labels: bug

#1888 Optimize composite YAML loading
  .bandit
  .pre-commit-config.yaml
  satpy/aux_download.py
  satpy/composites/config_loader.py
  satpy/dependency_tree.py
  satpy/scene.py
  satpy/tests/compositor_tests/test_abi.py
  satpy/tests/compositor_tests/test_ahi.py
  satpy/tests/compositor_tests/test_glm.py
  satpy/tests/compositor_tests/test_viirs.py
  satpy/tests/reader_tests/test_fci_l1c_nc.py
  satpy/tests/test_composites.py
  satpy/tests/test_scene.py
  satpy/tests/utils.py
Labels: enhancement, component:compositors, component:scene, optimization

#1901 Update Scene.sensor_names to include sensors from readers and contained data
  .bandit
  .pre-commit-config.yaml
  satpy/composites/viirs.py
  satpy/modifiers/angles.py
  satpy/scene.py
  satpy/tests/etc/readers/fake4.yaml
  satpy/tests/test_scene.py
Labels: enhancement, component:scene

#1894 Add 'seadas_l2' reader for 'chlor_a' product
  doc/source/index.rst
  satpy/etc/enhancements/generic.yaml
  satpy/etc/readers/seadas_l2.yaml
  satpy/readers/seadas_l2.py
  satpy/tests/reader_tests/test_seadas_l2.py
Labels: enhancement, component:readers
