Repository pytroll/satpy, pull requests merged in 2021-07, with the labels that each got.

#1754 Add VIIRS SDR true_color benchmarks
  asv.conf.json
  benchmarks/ahi_hsd_benchmarks.py
  benchmarks/viirs_sdr_benchmarks.py
  satpy/demo/__init__.py
  satpy/demo/abi_l1b.py
  satpy/demo/ahi_hsd.py
  satpy/demo/viirs_sdr.py
  satpy/etc/composites/viirs.yaml
  satpy/modifiers/_crefl.py
  satpy/tests/modifier_tests/test_crefl.py
  satpy/tests/test_demo.py
Labels: optimization

#1760 Add benchmarks for seviri hrit
  benchmarks/ahi_hsd_benchmarks.py
  benchmarks/seviri_hrit_benchmarks.py
  benchmarks/utils.py
  satpy/demo/__init__.py
  satpy/demo/ahi_hsd.py
  satpy/demo/seviri_hrit.py
  satpy/demo/utils.py
  satpy/demo/viirs_sdr.py
  satpy/tests/test_demo.py
Labels: component:tests, enhancement

#1774 Fix the seviri benchmarks
  benchmarks/seviri_hrit_benchmarks.py
Labels: bug

#1766 Optimize "crefl" rayleigh correction
  satpy/modifiers/_crefl.py
  satpy/modifiers/_crefl_utils.py
  satpy/tests/test_crefl_utils.py
Labels: cleanup, optimization

#1771 Fix VIIRS SDR reader not handling multi-granule files with fewer scans
  satpy/readers/viirs_sdr.py
  satpy/tests/reader_tests/test_viirs_sdr.py
Labels: bug, component:readers

#1777 Fix mviri l1b fiduceo reader compatibility with newer xarray
  satpy/readers/mviri_l1b_fiduceo_nc.py
  satpy/scene.py
  satpy/tests/reader_tests/test_mviri_l1b_fiduceo_nc.py
Labels: bug, component:readers, component:tests

#1770 Fix CLAVR-x reader and 'awips_tiled' writer to produce AWIPS-compatible output
  satpy/etc/writers/awips_tiled.yaml
  satpy/readers/clavrx.py
  satpy/tests/reader_tests/test_clavrx.py
  satpy/tests/reader_tests/test_clavrx_nc.py
  satpy/tests/writer_tests/test_awips_tiled.py
  satpy/writers/awips_tiled.py
Labels: bug, component:readers, component:writers

#1776 Fix 'awips_tiled' writer producing an invalid y coordinate
  satpy/tests/writer_tests/test_awips_tiled.py
  satpy/writers/awips_tiled.py
Labels: bug, component:writers
