Repository pytroll/satpy, pull requests merged in 2021-02, with the labels that each got.

#1533 Fix SLSTR composites for oblique view
  satpy/etc/composites/slstr.yaml
Labels: bug, component:compositors

#1531 Update the HRPT reader to latest satpy api
  satpy/etc/readers/avhrr_l1b_hrpt.yaml
  satpy/readers/hrpt.py
  satpy/tests/reader_tests/test_avhrr_l0_hrpt.py
  satpy/tests/reader_tests/test_avhrr_l1b_gaclac.py
Labels: bug, component:readers

#1537 Add static scale_factor/add_offset/_FillValue to awips_tiled GLM config
  satpy/etc/writers/awips_tiled.yaml
Labels: bug, component:writers

#1534 Clarify usage of config 'config_path' option
  doc/source/config.rst
  satpy/_config.py
  satpy/tests/test_config.py
Labels: cleanup, documentation

#1542 Fix compression not being applied in awips_tiled writer
  satpy/tests/writer_tests/test_awips_tiled.py
  satpy/writers/awips_tiled.py
Labels: bug, component:writers

#1521 Fix config test when user environment variables are set
  satpy/tests/test_config.py
Labels: bug

#1541 Fix builtin coords swath
  satpy/readers/satpy_cf_nc.py
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/test_satpy_cf_nc.py
  satpy/tests/test_yaml_reader.py
Labels: bug, component:readers

#1522 Switch to 'ewa' and 'ewa_legacy' resamplers from pyresample
  satpy/resample.py
  satpy/tests/test_resample.py
Labels: component:resampling, enhancement

#1513 Add auxiliary data download API
  continuous_integration/environment.yaml
  doc/rtd_environment.yml
  doc/source/conf.py
  doc/source/config.rst
  doc/source/dev_guide/aux_data.rst
  doc/source/dev_guide/custom_reader.rst
  doc/source/dev_guide/index.rst
  satpy/_config.py
  satpy/aux_download.py
  satpy/composites/__init__.py
  satpy/composites/config_loader.py
  satpy/etc/composites/visir.yaml
  satpy/readers/yaml_reader.py
  satpy/tests/test_composites.py
  satpy/tests/test_data_download.py
  satpy/writers/__init__.py
  setup.py
Labels: component:compositors, component:readers, enhancement

#1544 Read wavelength ranges from netcdf
  satpy/dataset/dataid.py
  satpy/readers/satpy_cf_nc.py
  satpy/tests/reader_tests/test_satpy_cf_nc.py
  satpy/tests/test_dataset.py
  satpy/writers/cf_writer.py
Labels: component:readers, enhancement

#1545 Fix deprecated sphinx html_context usage in conf.py
  .github/workflows/ci.yaml
  doc/source/conf.py
Labels: bug, documentation

#1546 Make viirs-compact datasets compatible with dask distributed
  satpy/readers/viirs_compact.py
  satpy/tests/reader_tests/test_viirs_compact.py
Labels: bug, component:readers

#1548 Add 'environment_prefix' to AWIPS tiled writer for flexible filenames
  satpy/etc/writers/awips_tiled.yaml
  satpy/tests/writer_tests/test_awips_tiled.py
  satpy/writers/awips_tiled.py
Labels: bug, component:writers

#1551 Fix composite metadata overwriting and 'sensor' filename formatting
  satpy/composites/__init__.py
  satpy/scene.py
  satpy/tests/test_composites.py
  satpy/tests/test_writers.py
  satpy/writers/__init__.py
Labels: bug, component:compositors, component:writers

#1553 Remove unnecessary use of numpy masked arrays in awips_tiled writer
  satpy/writers/awips_tiled.py
Labels: cleanup, component:writers

#1556 Fix the dataid sorting
  satpy/dataset/dataid.py
  satpy/tests/test_dataset.py
Labels: bug, component:dep_tree

#1559 Fix geotiff writer FAQ link
  .gitignore
  satpy/writers/geotiff.py
Labels: documentation

#1561 Remove deprecated VIIRSFog compositor in favor of DifferenceCompositor
  satpy/composites/viirs.py
Labels: backwards-incompatibility, cleanup, component:compositors

#1563 Allow 'glm_l2' reader to accept arbitrary filename prefixes
  continuous_integration/environment.yaml
  satpy/etc/readers/glm_l2.yaml
  satpy/tests/reader_tests/test_glm_l2.py
Labels: component:readers, enhancement

#1564 Fix DifferenceCompositor ignoring YAML metadata
  satpy/composites/__init__.py
  satpy/tests/test_composites.py
Labels: bug, component:compositors

#1565 Rename min_area() and max_area() methods
  satpy/resample.py
  satpy/scene.py
  satpy/tests/test_regressions.py
  satpy/tests/test_scene.py
Labels: backwards-incompatibility, component:scene, enhancement

#1555 add altitude in the list of dataset for OLCI.nc
  satpy/etc/readers/olci_l1b.yaml
Labels: component:readers, enhancement

#1570 Add the SAR Ice Log composite
  satpy/composites/sar.py
  satpy/etc/composites/sar.yaml
  satpy/etc/enhancements/generic.yaml
  satpy/tests/compositor_tests/test_sar.py
Labels: component:compositors, enhancement

#1575 Fix issue template using old check_satpy import
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: cleanup
