Repository pytroll/satpy, pull requests merged in 2021-05, with the labels that each got.

#1655 Apply valid_range in MiRS reader when present
  satpy/readers/mirs.py
  satpy/tests/reader_tests/test_mirs.py
Labels: bug, component:readers

#1657 Add parallax-corrected file patterns to the nwcsaf-geo reader
  satpy/etc/readers/nwcsaf-geo.yaml
Labels: component:readers, enhancement

#1662 Fix cira fire temperature and green snow
  satpy/etc/composites/seviri.yaml
  satpy/etc/enhancements/abi.yaml
Labels: bug, component:compositors

#1663 Ignore raw metadata when combining metadata
  satpy/dataset/metadata.py
  satpy/tests/test_dataset.py
Labels: bug, component:scene

#1659 Add SEVIRI + NWC SAF GEO VIS/IR cloud overlay composite
  satpy/etc/composites/seviri.yaml
  satpy/etc/enhancements/seviri.yaml
Labels: component:compositors, enhancement

#1636 Add first benchmarks (uses asv)
  asv.conf.json
  benchmarks/__init__.py
  benchmarks/ahi_hsd_benchmarks.py
  doc/source/dev_guide/index.rst
  satpy/demo/__init__.py
  satpy/tests/test_demo.py
Labels: enhancement

#1499 Fix: clipping of values for geotiff writer if enhance=False and no dtype is specified
  satpy/tests/writer_tests/test_geotiff.py
  satpy/writers/geotiff.py
Labels: component:writers, enhancement

#1639 Fix MultiScene writer handling of multiple delayed objects
  satpy/multiscene.py
  satpy/tests/test_multiscene.py
  satpy/writers/cf_writer.py
Labels: bug, component:multiscene

#1670 Fix combination of raw metadata (again)
  satpy/dataset/metadata.py
  satpy/tests/test_dataset.py
Labels: bug, component:readers

#1673 Cleanup optional dependencies in setup.py
  .github/workflows/ci.yaml
  setup.cfg
  setup.py
Labels: cleanup

#1677 Fix SATPY_CONFIG_PATH being unusable when imported in a subprocess
  satpy/_config.py
  satpy/tests/test_config.py
Labels: bug

#1648 Fix bucket resamplers trying to print non-existent name
  satpy/resample.py
Labels: bug, component:resampling

#1671 Improve MiRS reader handling of missing metadata
  satpy/etc/readers/mirs.yaml
  satpy/readers/mirs.py
  satpy/tests/reader_tests/test_mirs.py
Labels: bug, component:readers

#1679 Remove extra attributes tag and fix indentation
  satpy/etc/writers/awips_tiled.yaml
Labels: bug, component:writers

#1690 Fix SandwichCompositor modifying input data
  satpy/composites/__init__.py
  satpy/etc/composites/abi.yaml
  satpy/tests/test_composites.py
Labels: bug, component:compositors

#1691 Fix reference to sector_id global key in 'awips_tiled' writer YAML
  satpy/etc/writers/awips_tiled.yaml
  satpy/tests/writer_tests/test_awips_tiled.py
  satpy/writers/awips_tiled.py
Labels: bug, component:writers
