Repository pytroll/satpy, pull requests merged in 2021-12, with the labels that each got.

#1915 Fix radiance units in SEVIRI L1.5 nat/nc and FCI L1c nc readers
  satpy/etc/readers/fci_l1c_nc.yaml
  satpy/etc/readers/seviri_l1b_native.yaml
  satpy/etc/readers/seviri_l1b_nc.yaml
  satpy/readers/fci_l1c_nc.py
  satpy/tests/reader_tests/test_fci_l1c_nc.py
Labels: component:readers, PCW

#1909 Refactor 'ahi_hsd' reader and make overview/overview_raw consistent with ABI
  satpy/etc/composites/ahi.yaml
  satpy/readers/ahi_hsd.py
  satpy/readers/utils.py
Labels: component:readers, component:compositors, cleanup

#1910 Refactor SZA and cos(SZA) generation to reduce duplicate computations
  satpy/modifiers/angles.py
  satpy/modifiers/atmosphere.py
  satpy/modifiers/geometry.py
  satpy/resample.py
  satpy/utils.py
Labels: component:compositors, refactor, optimization

#1905 Updated mpef product header to include new fields
  satpy/readers/eum_base.py
  satpy/readers/seviri_base.py
  satpy/tests/reader_tests/test_eum_base.py
Labels: enhancement, component:readers

#1926 Update seadas_l2 chlor_a enhancement to use new log10 stretch
  satpy/etc/enhancements/generic.yaml
Labels: bug, component:enhancements

#1922 Fix ABI cloud_phase composite recipe and enhancement
  satpy/etc/composites/abi.yaml
  satpy/etc/enhancements/abi.yaml
Labels: bug, component:enhancements, component:compositors

#1370 Add support for reading AAPP level-1c MHS/AMSU-B data
  doc/source/index.rst
  satpy/dataset/dataid.py
  satpy/etc/composites/mhs.yaml
  satpy/etc/enhancements/mhs.yaml
  satpy/etc/readers/amsub_l1c_aapp.yaml
  satpy/etc/readers/mhs_l1c_aapp.yaml
  satpy/readers/aapp_l1b.py
  satpy/readers/aapp_mhs_amsub_l1c.py
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/test_aapp_mhs_amsub_l1c.py
  satpy/tests/test_dataset.py
  satpy/tests/test_yaml_reader.py
Labels: enhancement, component:readers, PCW

#1931 When no fill value is used, write TransparentPixel=-1 in ninjogeotiff headers
  satpy/tests/writer_tests/test_ninjogeotiff.py
  satpy/writers/ninjogeotiff.py
Labels: bug, component:writers

#1917 Add support to read and visualize NOAA GOESR L2+ cloud mask products
  satpy/etc/enhancements/abi.yaml
  satpy/etc/readers/abi_l2_nc.yaml
Labels: enhancement, component:readers

#1882 Update GDAL_OPTIONS with driver= and COG-specific options
  satpy/writers/geotiff.py
Labels: enhancement

#1918 Fix geo interpolation for aapp data
  satpy/readers/aapp_l1b.py
  satpy/tests/reader_tests/test_aapp_l1b.py
Labels: bug, component:enhancements

#1938 Create SECURITY.md
  SECURITY.md
Labels: cleanup

#1935 Add additional pre-commit checks for yaml syntax
  .git_archival.txt
  .github/workflows/ci.yaml
  .github/workflows/deploy-sdist.yaml
  .pre-commit-config.yaml
  AUTHORS.md
  MANIFEST.in
  README.rst
  changelog_pre0.9.0.rst
  doc/Makefile
  doc/source/_static/theme_overrides.css
  doc/source/data_download.rst
  doc/source/dev_guide/custom_reader.rst
  doc/source/dev_guide/xarray_migration.rst
  doc/source/faq.rst
  doc/source/install.rst
  doc/source/quickstart.rst
  doc/source/readers.rst
  doc/source/writers.rst
  satpy/etc/composites/msi.yaml
  satpy/etc/composites/scatterometer.yaml
  satpy/etc/composites/tropomi.yaml
  satpy/etc/enhancements/mimic.yaml
  satpy/etc/enhancements/scatterometer.yaml
  satpy/etc/eps_avhrrl1b_6.5.xml
  satpy/etc/readers/acspo.yaml
  satpy/etc/readers/agri_l1.yaml
  satpy/etc/readers/ami_l1b.yaml
  satpy/etc/readers/ascat_l2_soilmoisture_bufr.yaml
  satpy/etc/readers/avhrr_l1c_eum_gac_fdr_nc.yaml
  satpy/etc/readers/fci_l2_nc.yaml
  satpy/etc/readers/geocat.yaml
  satpy/etc/readers/iasi_l2_so2_bufr.yaml
  satpy/etc/readers/jami_hrit.yaml
  satpy/etc/readers/li_l2.yaml
  satpy/etc/readers/maia.yaml
  satpy/etc/readers/mirs.yaml
  satpy/etc/readers/modis_l2.yaml
  satpy/etc/readers/nwcsaf-msg2013-hdf5.yaml
  satpy/etc/readers/omps_edr.yaml
  satpy/etc/readers/seadas_l2.yaml
  satpy/etc/readers/seviri_l1b_nc.yaml
  satpy/etc/readers/tropomi_l2.yaml
  satpy/etc/readers/viirs_edr_active_fires.yaml
  satpy/etc/writers/geotiff.yaml
  satpy/tests/features/feature-load.feature
  satpy/tests/features/feature-save.feature
Labels: cleanup

#1942 Fix dynamic_dnb composite converting NaNs to 0s
  satpy/composites/viirs.py
  satpy/tests/compositor_tests/test_viirs.py
Labels: bug, component:compositors

#1941 Fix SAFE SAR azimuth noise array construction
  continuous_integration/environment.yaml
  satpy/readers/sar_c_safe.py
  satpy/tests/reader_tests/test_sar_c_safe.py
  setup.py
Labels: bug, component:readers

#1674 Feature add support for AHI True Color Reproduction
  satpy/composites/ahi.py
  satpy/enhancements/ahi.py
  satpy/etc/composites/ahi.yaml
  satpy/etc/enhancements/ahi.yaml
  satpy/tests/enhancement_tests/test_ahi.py
Labels: enhancement, component:enhancements, component:compositors

#1946 Fix angle generation not working for StackedAreaDefinitions
  satpy/modifiers/angles.py
  satpy/tests/test_modifiers.py
Labels: bug, component:compositors

#1950 Fix formatting in configuration documentation
  doc/source/config.rst
  satpy/tests/writer_tests/test_awips_tiled.py
Labels: documentation
