Repository pytroll/satpy, pull requests merged in 2021-08, with the labels that each got.

#1692 Add raw 'counts' calibration to 'abi_l1b' reader
  satpy/etc/readers/abi_l1b.yaml
  satpy/readers/abi_l1b.py
  satpy/tests/reader_tests/test_abi_l1b.py
Labels: component:readers, enhancement

#1784 Fix ABI readers not assigning 'platform_name' for GOES-18/19
  satpy/readers/abi_base.py
Labels: bug, component:readers

#1787 Fix 'viirs_sdr' repeating data when TC geolocation was not available
  satpy/readers/viirs_sdr.py
  satpy/tests/reader_tests/test_viirs_sdr.py
Labels: bug, component:readers

#1792 Maintain categorical clavrx data as integer arrays
  satpy/readers/clavrx.py
  satpy/tests/reader_tests/test_clavrx.py
  satpy/tests/reader_tests/test_clavrx_nc.py
Labels: bug, component:readers

#1733 Fix geotiff writer ignoring dtype argument
  satpy/tests/writer_tests/test_geotiff.py
  satpy/writers/geotiff.py
Labels: bug, component:writers

#1739 Improve documentation for available_dataset_ids
  satpy/scene.py
Labels: cleanup

#1765 Add missing demo data directory entry to config documentation
  doc/source/config.rst
  satpy/_config.py
Labels: documentation

#1751 Improve documentation for MultiScene.blend
  satpy/multiscene.py
Labels: documentation, component:multiscene

#1772 Add access point to global_attrs to netCDF4FileHandler
  satpy/readers/netcdf_utils.py
  satpy/tests/reader_tests/test_netcdf_utils.py
Labels: enhancement, component:readers

#1801 added link to the GOES-2-go package in the docs as a download source.
  doc/source/data_download.rst
Labels: enhancement, documentation

#1800 Fix for missing attributes when requesting 'counts' calibration from ABI L1B reader.
  AUTHORS.md
  satpy/readers/abi_l1b.py
  satpy/tests/reader_tests/test_abi_l1b.py
Labels: bug, component:readers

#1804 Fix consistency with nucaps sensor metadata (set/lowercase)
  satpy/etc/readers/nucaps.yaml
  satpy/readers/nucaps.py
  satpy/tests/reader_tests/test_nucaps.py
Labels: bug, component:readers

#1802 Add warning in 'awips_tiled' writer when 'units' are too long
  satpy/tests/writer_tests/test_awips_tiled.py
  satpy/writers/awips_tiled.py
Labels: bug, component:writers
