Repository pytroll/satpy, pull requests merged in 2021-01, with the labels that each got.

#1459 Remove unnecessary string decode in agri_l1 reader
  AUTHORS.md
  satpy/readers/agri_l1.py
Labels: bug, component:readers

#1502 Fix the linting error of test_agri_l1
  satpy/tests/reader_tests/test_agri_l1.py
Labels: bug, component:tests

#1501 Add central configuration object
  continuous_integration/environment.yaml
  doc/rtd_environment.yml
  doc/source/composites.rst
  doc/source/conf.py
  doc/source/config.rst
  doc/source/index.rst
  doc/source/quickstart.rst
  satpy/__init__.py
  satpy/_config.py
  satpy/composites/__init__.py
  satpy/composites/config_loader.py
  satpy/composites/viirs.py
  satpy/config.py
  satpy/plugin_base.py
  satpy/readers/__init__.py
  satpy/readers/eps_l1b.py
  satpy/readers/yaml_reader.py
  satpy/resample.py
  satpy/scene.py
  satpy/tests/reader_tests/test_acspo.py
  satpy/tests/reader_tests/test_agri_l1.py
  satpy/tests/reader_tests/test_amsr2_l1b.py
  satpy/tests/reader_tests/test_amsr2_l2.py
  satpy/tests/reader_tests/test_amsr2_l2_gaasp.py
  satpy/tests/reader_tests/test_clavrx.py
  satpy/tests/reader_tests/test_cmsaf_claas.py
  satpy/tests/reader_tests/test_eps_l1b.py
  satpy/tests/reader_tests/test_fci_l1c_fdhsi.py
  satpy/tests/reader_tests/test_geocat.py
  satpy/tests/reader_tests/test_glm_l2.py
  satpy/tests/reader_tests/test_gpm_imerg.py
  satpy/tests/reader_tests/test_grib.py
  satpy/tests/reader_tests/test_hy2_scat_l2b_h5.py
  satpy/tests/reader_tests/test_mersi2_l1b.py
  satpy/tests/reader_tests/test_mimic_TPW2_lowres.py
  satpy/tests/reader_tests/test_mimic_TPW2_nc.py
  satpy/tests/reader_tests/test_mviri_l1b_fiduceo_nc.py
  satpy/tests/reader_tests/test_nucaps.py
  satpy/tests/reader_tests/test_omps_edr.py
  satpy/tests/reader_tests/test_seviri_l1b_icare.py
  satpy/tests/reader_tests/test_smos_l2_wind.py
  satpy/tests/reader_tests/test_tropomi_l2.py
  satpy/tests/reader_tests/test_viirs_edr_active_fires.py
  satpy/tests/reader_tests/test_viirs_edr_flood.py
  satpy/tests/reader_tests/test_viirs_l1b.py
  satpy/tests/reader_tests/test_viirs_sdr.py
  satpy/tests/reader_tests/test_virr_l1b.py
  satpy/tests/test_config.py
  satpy/tests/test_dependency_tree.py
  satpy/tests/test_readers.py
  satpy/tests/test_scene.py
  satpy/tests/test_utils.py
  satpy/tests/test_writers.py
  satpy/tests/writer_tests/test_cf.py
  satpy/utils.py
  satpy/writers/__init__.py
  satpy/writers/awips_tiled.py
  setup.py
Labels: backwards-incompatibility, cleanup, enhancement

#1503 Fix issue with reading MSG GRIB products from the eumetsat datastore
  satpy/etc/readers/seviri_l2_grib.yaml
  satpy/readers/seviri_l2_grib.py
Labels: bug, component:readers

#1512 Switch setuptools_scm to write version.py file
  MANIFEST.in
  pyproject.toml
  satpy/__init__.py
  setup.py
Labels: optimization

#1514 Correct the pdict a_name of agri_l1 reader
  satpy/readers/agri_l1.py
Labels: bug, component:readers

#1519 Allow to pass pathlike-objects to FSFile
  satpy/readers/__init__.py
  satpy/tests/test_readers.py
Labels: bug, component:readers
