Repository pytroll/satpy, pull requests merged in 2022-10, with the labels that each got.

#2217 Fix failing get_satpos precision test and other CI failures
  continuous_integration/environment.yaml
  satpy/enhancements/viirs.py
  satpy/tests/test_modifiers.py
  satpy/tests/test_utils.py
Labels: component:tests

#2216 Fix coord renaming for AOD product in abi l2
  satpy/readers/abi_base.py
  satpy/tests/reader_tests/test_abi_l2_nc.py
Labels: bug, component:readers

#2210 Fix VIIRS EDR Active Fires reader for new format and fix fine/coarse 1D swath handling
  satpy/readers/viirs_edr_active_fires.py
  satpy/scene.py
  satpy/tests/reader_tests/test_viirs_edr_active_fires.py
  satpy/tests/test_scene.py
Labels: bug, component:readers

#2221 Fix ici after mws merge
  satpy/etc/readers/ici_l1b_nc.yaml
  satpy/etc/readers/mws_l1b_nc.yaml
Labels: bug

#2220 Fix CLAVR-x configuration in 'awips_tiled' writer to be backwards compatible
  satpy/etc/writers/awips_tiled.yaml
Labels: bug, component:writers

#2235 Fix Scene.load modifiers keyword argument having no effect
  satpy/dataset/dataid.py
  satpy/scene.py
  satpy/tests/test_scene.py
Labels: bug, component:scene

#2239 Fix incorrect rows_per_scan in 'acspo' reader
  satpy/readers/acspo.py
  satpy/tests/reader_tests/test_acspo.py
Labels: bug

#2236 CF-compliant storage for lon/lat case
  satpy/tests/utils.py
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: bug, component:writers

#2232 Make longitude masker & filler single band
  satpy/composites/__init__.py
  satpy/tests/test_composites.py
Labels: bug, component:compositors

#2225 Update writer table docs
  doc/source/writers.rst
Labels: documentation, component:writers

#2240 Refactor RGB ratio sharpening again for better performance
  satpy/composites/__init__.py
  satpy/modifiers/angles.py
Labels: component:compositors, optimization, cleanup
