Repository pytroll/satpy, pull requests merged in 2022-05, with the labels that each got.

#2098 Fix Scene.coarsest/finest_area not returning consistent results
  satpy/readers/viirs_sdr.py
  satpy/scene.py
  satpy/tests/test_scene.py
Labels: bug, component:scene

#2094 Fix area defs in cmsaf-claas2 reader
  satpy/readers/cmsaf_claas2.py
  satpy/tests/reader_tests/test_cmsaf_claas.py
Labels: component:readers

#1017 Add pass through of xr compute, persist and chunk to Scene
  satpy/scene.py
  satpy/tests/test_scene.py
Labels: enhancement

#2103 Update SEVIRI ICARE reader to properly use dask.
  satpy/readers/seviri_l1b_icare.py
  satpy/tests/reader_tests/test_seviri_l1b_icare.py
Labels: bug

#2102 Add more products to fci_l2_nc reader
  satpy/etc/readers/fci_l2_nc.yaml
  satpy/readers/fci_l2_nc.py
Labels: enhancement, component:readers

#2105 Enable solar zenith angle caching for the DayNightCompositor
  satpy/composites/__init__.py
  satpy/modifiers/angles.py
  satpy/tests/test_composites.py
  satpy/tests/test_modifiers.py
Labels: enhancement, component:compositors, optimization, cleanup

#2099 Fix MultiScene.group in case of differing identifier properties
  satpy/multiscene.py
  satpy/tests/test_multiscene.py
Labels: bug, component:multiscene

#2096 Convert remote files to FSFile objects automatically
  continuous_integration/environment.yaml
  doc/source/index.rst
  doc/source/remote_reading.rst
  satpy/readers/__init__.py
  satpy/scene.py
  satpy/tests/test_scene.py
  satpy/tests/test_utils.py
  satpy/utils.py
  setup.py
Labels: enhancement, component:scene

#2104 Improvements in custom reader documentation
  doc/source/dev_guide/custom_reader.rst
Labels: documentation

#2107 Fix 'ahi_hsd' reader crashing when 'observation_timeline' was invalid
  satpy/readers/ahi_hsd.py
  satpy/tests/reader_tests/test_ahi_hsd.py
Labels: bug, component:readers

#1547 Add support for fsspec files to seviri_l1b_nc reader
  doc/source/conf.py
  doc/source/dev_guide/custom_reader.rst
  doc/source/dev_guide/index.rst
  doc/source/dev_guide/remote_file_support.rst
  doc/source/index.rst
  doc/source/readers.rst
  satpy/etc/readers/seviri_l1b_nc.yaml
  satpy/readers/file_handlers.py
  satpy/readers/seviri_l1b_nc.py
  satpy/tests/reader_tests/test_seviri_l1b_nc.py
  satpy/tests/test_file_handlers.py
Labels: enhancement, component:readers

#2114 Fix ACSPO 'sensor' attribute not being lowercase
  .pre-commit-config.yaml
  doc/rtd_environment.yml
  doc/source/dev_guide/remote_file_support.rst
  satpy/readers/acspo.py
  satpy/tests/reader_tests/test_acspo.py
  setup.py
Labels: bug, component:readers

#2115 Update 'viirs_edr_active_fires' to work with newer Active Fires output
  satpy/etc/readers/viirs_edr_active_fires.yaml
  satpy/readers/viirs_edr_active_fires.py
  satpy/tests/reader_tests/test_viirs_edr_active_fires.py
Labels: bug, component:readers
