Repository pytroll/satpy, pull requests merged in 2022-04, with the labels that each got.

#2075 Add documentation on how the colorize enhancement can be used
  doc/source/enhancements.rst
Labels: documentation

#2071 Add example to the documentation using multiple readers
  satpy/scene.py
Labels: documentation

#2079 Remove marine_clean_aerosol from default AHI rayleigh_corrected modifier
  continuous_integration/environment.yaml
  satpy/etc/composites/ahi.yaml
Labels: bug, component:compositors

#2080 Ignore alpha when adding luminance in Sandwich compositor
  satpy/composites/__init__.py
  satpy/tests/test_composites.py
Labels: bug, component:compositors

#2081 Refactor olci nc reader to remove duplicate code
  satpy/readers/olci_nc.py
Labels: component:readers, cleanup

#2068 Make sure RGBs do not have units attributes.
  satpy/composites/__init__.py
  satpy/composites/viirs.py
  satpy/tests/compositor_tests/test_viirs.py
  satpy/tests/test_composites.py
Labels: enhancement, component:compositors

#2074 Added test to confirm string IDs are accepted in ninjogeotiff writer
  satpy/tests/writer_tests/test_ninjogeotiff.py
Labels: component:writers, cleanup

#2078 Add possibility to define the dataset rectification longitude in seviri_l2_bufr reader
  satpy/readers/seviri_l2_bufr.py
  satpy/tests/reader_tests/test_seviri_l2_bufr.py
Labels: enhancement, component:readers

#2077 Fix missing 'rb' mode for opening files
  satpy/readers/hrit_base.py
  satpy/readers/seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_utils.py
Labels: bug, component:readers

#2048 Fix CMIC CRE product in nwcsaf yaml reader
  satpy/etc/readers/nwcsaf-pps_nc.yaml
  satpy/readers/nwcsaf_nc.py
  satpy/tests/reader_tests/test_nwcsaf_nc.py
Labels: bug, component:readers

#2057 Add option to replace saturated MODIS L1b values with max valid value
  satpy/readers/hdfeos_base.py
  satpy/readers/modis_l1b.py
  satpy/tests/reader_tests/_modis_fixtures.py
  satpy/tests/reader_tests/test_modis_l1b.py
Labels: enhancement, component:readers

#2083 Fix VIIRS L1B reader sensor not matching VIIRS SDR reader
  satpy/readers/viirs_l1b.py
  satpy/tests/reader_tests/test_viirs_l1b.py
Labels: bug, component:readers

#2076 Support reading FSFiles in SEVIRI HRIT reader.
  satpy/readers/__init__.py
  satpy/readers/hrit_base.py
  satpy/readers/seviri_l1b_hrit.py
  satpy/readers/utils.py
  satpy/tests/reader_tests/test_hrit_base.py
  satpy/tests/reader_tests/test_utils.py
Labels: enhancement, component:readers

#2016 Fix the sensor name for msu_gsa_l1b reader
  satpy/readers/msu_gsa_l1b.py
  satpy/tests/reader_tests/test_msu_gsa_l1b.py
Labels: bug

#2084 Fix CREFL using incorrect coefficients for MODIS
  satpy/modifiers/_crefl.py
  satpy/modifiers/_crefl_utils.py
  satpy/tests/modifier_tests/test_crefl.py
  satpy/tests/test_crefl_utils.py
Labels: bug, component:compositors

#2086 Update FCI reader for new test data release and add patches for IDPF data
  doc/source/examples/fci_l1c_natural_color.rst
  satpy/readers/fci_l1c_nc.py
  satpy/tests/reader_tests/test_fci_l1c_nc.py
Labels: enhancement, component:readers, pre-launch

#1410 Fix osisaf SST reader
  doc/source/index.rst
  satpy/composites/__init__.py
  satpy/etc/readers/ghrsst_l2.yaml
  satpy/etc/readers/ghrsst_l3c_sst.yaml
  satpy/readers/ghrsst_l2.py
  satpy/readers/slstr_l2.py
  satpy/tests/reader_tests/test_ghrsst_l2.py
  satpy/tests/reader_tests/test_slstr_l2.py
Labels: bug, enhancement, hacktoberfest, component:readers

#2087 Refactor HRIT/LRIT format reader.
  satpy/readers/hrit_base.py
Labels: component:readers, refactor

#2091 Fix link to rad2refl document in SEVIRI base reader
  satpy/readers/seviri_base.py
Labels: documentation
