Repository pytroll/satpy, pull requests merged in 2022-08, with the labels that each got.

#2156 Added filename pattern for CLASS subscription files.
  satpy/etc/readers/avhrr_l1b_gaclac.yaml
Labels: enhancement, component:readers

#1952 Keep original varnames of tropomi_l2
  satpy/etc/readers/tropomi_l2.yaml
Labels: component:readers

#2153 Document alternative for get_min/max_area
  satpy/scene.py
Labels: documentation

#1886 Update quickstart documentation so that HRV channel is not loaded
  doc/source/quickstart.rst
Labels: documentation

#1769 Add new composite (true_color_with_night_fires) to GOES/ABI: True color (day) with fires (night)
  satpy/etc/composites/abi.yaml
  satpy/etc/enhancements/abi.yaml
Labels: enhancement, component:compositors

#1818 Add a ratio and a sum compositor as suggested by HP (hproe)
  satpy/composites/__init__.py
  satpy/tests/test_composites.py
Labels: help wanted, component:compositors

#2160 Add reader for ESA's Ocean Color CCI data
  satpy/etc/readers/oceancolorcci_l3_nc.yaml
  satpy/readers/oceancolorcci_l3_nc.py
  satpy/tests/reader_tests/test_oceancolorcci_l3_nc.py
Labels: enhancement, component:readers

#2131 Refactor the ratio-sharpened RGB compositor to use dask map_blocks
  satpy/composites/__init__.py
Labels: component:compositors, cleanup

#2165 Update AGRI reader to deal with invalid `valid_range` HDF attribute
  satpy/readers/agri_l1.py
  satpy/tests/reader_tests/test_agri_l1.py
Labels: bug, component:readers

#2133 Rewrite 'apply_enhancement' as individual decorators to allow for easier dask map_blocks usage
  satpy/enhancements/__init__.py
  satpy/enhancements/abi.py
  satpy/enhancements/ahi.py
  satpy/enhancements/viirs.py
  satpy/tests/enhancement_tests/test_enhancements.py
Labels: enhancement, component:enhancements

#2174 Fix 3d effect enhancement
  satpy/enhancements/__init__.py
  satpy/tests/enhancement_tests/test_enhancements.py
Labels: bug, component:enhancements

#2118 Add a reader for EPS-SG Ice Cloud Imager
  AUTHORS.md
  satpy/etc/readers/ici_l1b_nc.yaml
  satpy/etc/readers/mwi_l1b_nc.yaml
  satpy/readers/ici_l1b_nc.py
  satpy/tests/reader_tests/test_ici_l1b_nc.py
Labels: enhancement, component:readers

#2177 Fix plugins not working with new versions of setuptools
  satpy/_config.py
  satpy/tests/test_config.py
Labels: bug, component:compositors

#2185 Refactor HRIT readers to be smarter about compression and reading data
  satpy/readers/file_handlers.py
  satpy/readers/hrit_base.py
  satpy/readers/seviri_base.py
  satpy/readers/utils.py
  satpy/tests/reader_tests/test_goes_imager_nc.py
  satpy/tests/reader_tests/test_hrit_base.py
  satpy/tests/reader_tests/test_safe_sar_l2_ocn.py
  satpy/tests/test_file_handlers.py
Labels: bug, enhancement, component:readers

#2190 Fix some enhancements producing dask arrays wrapped in dask arrays
  satpy/enhancements/__init__.py
  satpy/tests/enhancement_tests/test_enhancements.py
Labels: bug, component:enhancements

#2191 Fix automatic reader table not listing readers with missing dependencies
  doc/source/_static/main.js
  doc/source/reader_table.py
  satpy/composites/config_loader.py
  satpy/plugin_base.py
  satpy/readers/__init__.py
  satpy/readers/yaml_reader.py
  satpy/tests/test_readers.py
  satpy/utils.py
  satpy/writers/__init__.py
  setup.py
  utils/convert_to_ninjotiff.py
Labels: documentation

#2176 Fix cf write-read roundtrip
  satpy/readers/satpy_cf_nc.py
  satpy/tests/reader_tests/test_viirs_compact.py
  satpy/tests/test_cf_roundtrip.py
Labels: bug, component:readers

#2195 Add additional logging information about enhancements being used
  satpy/tests/test_writers.py
  satpy/writers/__init__.py
Labels: documentation
