Repository pytroll/satpy, pull requests merged in 2022-03, with the labels that each got.

#2034 Update angle generation to prefer "actual" satellite position
  doc/source/config.rst
  satpy/_config.py
  satpy/modifiers/angles.py
  satpy/tests/test_modifiers.py
Labels: enhancement, component:compositors

#2040 Refactor composite generation to avoid unneeded warnings
  satpy/scene.py
Labels: refactor, component:scene

#2032 Fix various metadata bugs in 'awips_tiled' writer
  satpy/etc/writers/awips_tiled.yaml
  satpy/tests/writer_tests/test_awips_tiled.py
  satpy/writers/awips_tiled.py
Labels: bug, component:writers

#2044 Fix unit handling in ERF DNB normalization's saturation correction
  satpy/composites/viirs.py
  satpy/tests/compositor_tests/test_viirs.py
Labels: bug, component:compositors

#2047 Add missing GOES-18 support to glm_l2 reader
  satpy/readers/glm_l2.py
Labels: enhancement, component:readers

#1934 Factorize area computation in goes_imager_hrit
  satpy/readers/goes_imager_hrit.py
  satpy/tests/reader_tests/test_goes_imager_hrit.py
Labels: component:readers, refactor

#2033 Remove use of legacy satellite position attributes
  doc/source/quickstart.rst
  satpy/readers/abi_l2_nc.py
  satpy/readers/electrol_hrit.py
  satpy/readers/goes_imager_nc.py
  satpy/readers/hrit_jma.py
  satpy/readers/scmi.py
  satpy/readers/seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_abi_l2_nc.py
  satpy/tests/reader_tests/test_ahi_hrit.py
  satpy/tests/reader_tests/test_goes_imager_nc.py
  satpy/tests/reader_tests/test_scmi.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit_setup.py
Labels: enhancement, component:readers

#2039 Fix angle caching using a large amount of memory
  satpy/modifiers/angles.py
Labels: component:compositors, optimization

#2049 Bugfix fci_l2_nc reader
  satpy/etc/readers/fci_l2_nc.yaml
  satpy/readers/fci_l2_nc.py
  satpy/tests/reader_tests/test_fci_l2_nc.py
Labels: bug, component:readers

#2054 Fix DifferenceCompositor not using metadata from YAML
  satpy/composites/__init__.py
  satpy/tests/test_composites.py
Labels: bug, component:compositors

#2055 Skip dataset flipping in GEOFlippableFileYAMLReader in case of SwathDefinition data
  satpy/readers/yaml_reader.py
  satpy/tests/test_yaml_reader.py
Labels: enhancement, component:readers

#2056 Update SLSTR calibration coefficients
  satpy/readers/slstr_l1b.py
Labels: enhancement, component:readers

#2064 Exclude subprocess and Popen usage in HRIT reader from Bandit
  satpy/readers/hrit_base.py
Labels: cleanup

#1980 Adapt AAPP reader for generic chunk size
  satpy/readers/aapp_l1b.py
  satpy/readers/hrpt.py
  satpy/tests/test_utils.py
  satpy/utils.py
Labels: enhancement, component:readers

#2070 Fix linting errors
  satpy/readers/aapp_l1b.py
  satpy/readers/eps_l1b.py
  satpy/readers/mviri_l1b_fiduceo_nc.py
  satpy/readers/nwcsaf_nc.py
  satpy/readers/sar_c_safe.py
  satpy/tests/reader_tests/test_eps_l1b.py
  satpy/tests/reader_tests/test_nwcsaf_msg.py
  satpy/tests/reader_tests/test_viirs_compact.py
  satpy/tests/reader_tests/utils.py
Labels: bug, component:readers

#2060 Allow reading Bz2 hrit segments
  satpy/etc/readers/ahi_hrit.yaml
  satpy/etc/readers/seviri_l1b_hrit.yaml
  satpy/readers/hrit_base.py
  satpy/readers/seviri_l1b_hrit.py
  satpy/readers/utils.py
  satpy/tests/reader_tests/test_hrit_base.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit_setup.py
  satpy/tests/reader_tests/test_utils.py
Labels: enhancement, component:readers
