Repository pytroll/satpy, pull requests merged in 2022-11, with the labels that each got.

#2246 Fix MODIS reader tests failing with new geotiepoints
  satpy/readers/hdfeos_base.py
Labels: bug

#2252 Create dependabot.yml
  .github/dependabot.yml
Labels: cleanup

#2247 Document behaviour on default enhancement
  doc/source/composites.rst
Labels: documentation

#2262 Fix ratio sharpening not sharing invalid mask between bands
  satpy/composites/__init__.py
  satpy/tests/test_composites.py
Labels: bug, component:compositors

#2207 Add SEVIRI level 2 AMV BUFR
  AUTHORS.md
  satpy/etc/readers/seviri_l2_bufr.yaml
  satpy/readers/seviri_l2_bufr.py
  satpy/tests/reader_tests/test_seviri_l2_bufr.py
Labels: enhancement, component:readers

#2260 Fix VIIRS L1B I-band angle names being inconsistent with VIIRS SDR
  satpy/etc/readers/viirs_l1b.yaml
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/test_viirs_l1b.py
Labels: bug, component:readers

#2257 Fix failure creating directory if it already exists.
  satpy/writers/__init__.py
Labels: bug, component:writers

#2230 Add support for compressed FSFiles to HRIT readers
  satpy/etc/readers/jami_hrit.yaml
  satpy/etc/readers/mtsat2-imager_hrit.yaml
  satpy/readers/__init__.py
  satpy/readers/hrit_base.py
  satpy/readers/hrit_jma.py
  satpy/tests/reader_tests/test_hrit_base.py
Labels: enhancement, component:readers

#2166 Correct the sun azimuth angle range within satpy.
  satpy/modifiers/angles.py
  satpy/tests/modifier_tests/test_angles.py
  satpy/tests/test_modifiers.py
Labels: bug

#2187 adding a reader for ATMS level1b data
  satpy/etc/readers/atms_l1b_nc.yaml
  satpy/etc/readers/mwi_l1b_nc.yaml
  satpy/readers/atms_l1b_nc.py
  satpy/tests/reader_tests/test_atms_l1b_nc.py
Labels: enhancement, component:readers

#2164 Add low level moisture composite
  doc/source/conf.py
  satpy/enhancements/atmosphere.py
  satpy/etc/composites/visir.yaml
  satpy/etc/enhancements/generic.yaml
  satpy/tests/enhancement_tests/test_atmosphere.py
  satpy/tests/test_scene.py
Labels: enhancement, component:enhancements, component:compositors

#2175 Add utility function to compute the relative azimuth angle.
  satpy/modifiers/angles.py
  satpy/modifiers/atmosphere.py
  satpy/tests/modifier_tests/test_angles.py
Labels: enhancement, component:compositors

#2268 Cleanup hy2 reader
  satpy/readers/hy2_scat_l2b_h5.py
  satpy/tests/reader_tests/test_hy2_scat_l2b_h5.py
Labels: component:readers, cleanup

#2276 Update AGRI for fill values and cailbration LUTs.
  satpy/readers/fy4_base.py
  satpy/tests/reader_tests/test_agri_l1.py
Labels: bug, component:readers

#1678 Add a reader for Meris L2 data
  satpy/etc/readers/meris_nc_sen3.yaml
  satpy/readers/meris_nc_sen3.py
  satpy/readers/olci_nc.py
  satpy/tests/reader_tests/test_meris_nc.py
Labels: enhancement, component:readers

#2284 Fix import sorting from recently merged PR
  satpy/readers/meris_nc_sen3.py
  satpy/tests/reader_tests/test_meris_nc.py
Labels: cleanup

#2274 Documentation correction: Not all built-in compositors derive from GenericCompositor
  doc/source/composites.rst
Labels: documentation, component:compositors

#2265 Add a reader for insat 3d imager data (`insat3d_img_l1b_h5`)
  continuous_integration/environment.yaml
  doc/rtd_environment.yml
  satpy/etc/composites/insat3d_img.yaml
  satpy/etc/readers/insat3d_img_l1b_h5.yaml
  satpy/readers/insat3d_img_l1b_h5.py
  satpy/tests/reader_tests/test_insat3d_img_l1b_h5.py
  satpy/tests/test_utils.py
  satpy/utils.py
  setup.py
Labels: enhancement, component:readers

#2291 Fix native resampler not working for some chunk sizes
  satpy/resample.py
  satpy/tests/test_resample.py
Labels: bug

#2295 Fix documentation reference links to EUMeTrain webpages
  satpy/etc/composites/abi.yaml
  satpy/etc/composites/agri.yaml
  satpy/etc/composites/viirs.yaml
  satpy/etc/composites/visir.yaml
  satpy/etc/enhancements/abi.yaml
  satpy/modifiers/atmosphere.py
Labels: documentation
