Repository pytroll/satpy, pull requests merged in 2022-12, with the labels that each got.

#2237 Optimise the FCI L1c/netcdf_utils by introducing on-demand variables collection and caching
  .github/workflows/ci.yaml
  satpy/etc/readers/fci_l1c_nc.yaml
  satpy/readers/fci_l1c_nc.py
  satpy/readers/netcdf_utils.py
  satpy/tests/reader_tests/test_fci_l1c_nc.py
  satpy/tests/reader_tests/test_netcdf_utils.py
Labels: enhancement, component:readers, optimization

#2287 Feature: add support for HRFI imagery in the FCI L1c reader
  satpy/_compat.py
  satpy/etc/areas.yaml
  satpy/etc/readers/fci_l1c_nc.yaml
  satpy/readers/fci_l1c_nc.py
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/test_fci_l1c_nc.py
  satpy/tests/test_yaml_reader.py
Labels: enhancement, component:readers, PCW, pre-launch

#2306 fix description for 500m resolution
  satpy/etc/areas.yaml
Labels: documentation

#1693 Add masking of data with line quality flags to seviri nc reader
  satpy/readers/seviri_base.py
  satpy/readers/seviri_l1b_hrit.py
  satpy/readers/seviri_l1b_nc.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit_setup.py
  satpy/tests/reader_tests/test_seviri_l1b_nc.py
Labels: enhancement, component:readers

#2317 Fix for bug regarding masking of good scan lines with seviri hrit reader introduced by #1693
  satpy/readers/seviri_base.py
  satpy/readers/seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit_setup.py
  satpy/tests/reader_tests/test_seviri_l1b_nc.py
Labels: bug, component:readers

#2318 Remove pylibtiff dependencies
  continuous_integration/environment.yaml
  setup.py
Labels: bug

#2278 Add MET09 IODC service mode
  satpy/etc/areas.yaml
  satpy/readers/eum_base.py
  satpy/tests/reader_tests/test_eum_base.py
  satpy/tests/reader_tests/test_seviri_l2_bufr.py
Labels: component:readers, component:resampling, PCW

#2335 Fix Scene modifying user-provided reader_kwargs
  satpy/tests/test_scene.py
  satpy/utils.py
Labels: bug, component:scene
