Repository pytroll/satpy, pull requests merged in 2022-09, with the labels that each got.

#2198 Add warning for SEVIRI native reader in case of bad data
  satpy/readers/seviri_l1b_native.py
  satpy/readers/seviri_l1b_native_hdr.py
  satpy/tests/reader_tests/test_seviri_l1b_native.py
Labels: enhancement, component:readers

#2200 Remove mention of fallback to GDAL in geotiff writer
  satpy/writers/geotiff.py
Labels: documentation

#2120 Add reader for MWS onboard EPS-SG-A
  doc/source/index.rst
  satpy/etc/readers/mhs_l1c_aapp.yaml
  satpy/etc/readers/mws_l1b_nc.yaml
  satpy/readers/aapp_mhs_amsub_l1c.py
  satpy/readers/mws_l1b.py
  satpy/readers/pmw_channels_definitions.py
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/test_mws_l1b_nc.py
  satpy/tests/test_dataset.py
  satpy/tests/test_yaml_reader.py
Labels: enhancement, component:readers

#1695 Add `get_area_def` to cf reader
  satpy/readers/satpy_cf_nc.py
  satpy/tests/reader_tests/test_satpy_cf_nc.py
Labels: enhancement, component:readers

#2205 Update URL to rasterio repository in CI
  .github/workflows/ci.yaml
Labels: cleanup
