Repository pytroll/satpy, pull requests merged in 2022-07, with the labels that each got.

#2128 Fix AHI source file segment order after decompressing.
  satpy/readers/ahi_hsd.py
  satpy/readers/utils.py
  satpy/tests/reader_tests/test_ahi_hsd.py
  satpy/tests/reader_tests/test_utils.py
Labels: bug, component:readers

#2141 Fix expected test results for pyorbital 1.7.2
  satpy/tests/reader_tests/test_seviri_l1b_calibration.py
  satpy/tests/reader_tests/test_utils.py
Labels: bug, component:tests

#2146 Update Metimage reader for L2 test data
  satpy/etc/composites/vii.yaml
  satpy/etc/readers/vii_l2_nc.yaml
  satpy/tests/reader_tests/test_vii_l2_nc.py
Labels: enhancement, component:readers

#2140 Add Natural Color / IR composites
  satpy/etc/composites/abi.yaml
  satpy/etc/composites/ahi.yaml
  satpy/etc/composites/ami.yaml
  satpy/etc/composites/seviri.yaml
  satpy/etc/composites/visir.yaml
Labels: enhancement, component:compositors

#2138 Add plugin functionality for readers, writers, and enhancements
  .readthedocs.yml
  doc/rtd_environment.yml
  doc/source/dev_guide/plugins.rst
  doc/source/dev_guide/xarray_migration.rst
  doc/source/remote_reading.rst
  satpy/composites/config_loader.py
  satpy/multiscene.py
  satpy/readers/__init__.py
  satpy/tests/conftest.py
  satpy/tests/test_composites.py
  satpy/tests/test_config.py
  satpy/writers/__init__.py
  setup.py
Labels: documentation, component:readers, component:writers, component:enhancements, component:compositors

#2150 Fix typos in reader table
  satpy/etc/readers/ascat_l2_soilmoisture_bufr.yaml
  satpy/etc/readers/avhrr_l1c_eum_gac_fdr_nc.yaml
  satpy/etc/readers/cmsaf-claas2_l2_nc.yaml
  satpy/etc/readers/iasi_l2.yaml
  satpy/etc/readers/modis_l2.yaml
  satpy/etc/readers/nwcsaf-msg2013-hdf5.yaml
  satpy/etc/readers/safe_sar_l2_ocn.yaml
  satpy/etc/readers/seviri_l1b_icare.yaml
  satpy/etc/readers/seviri_l1b_nc.yaml
  satpy/etc/readers/slstr_l1b.yaml
Labels: bug

#1904 Add parallax correction via new `ParallaxCorrectionModifier`
  .github/workflows/ci.yaml
  AUTHORS.md
  continuous_integration/environment.yaml
  doc/source/modifiers.rst
  satpy/modifiers/parallax.py
  satpy/readers/gpm_imerg.py
  satpy/tests/modifier_tests/test_parallax.py
  satpy/tests/test_utils.py
  satpy/utils.py
  setup.py
Labels: enhancement

#2151 Change default type of AWIPS tiled writer to int16 + _Unsigned
  satpy/etc/writers/awips_tiled.yaml
  satpy/tests/writer_tests/test_awips_tiled.py
  satpy/writers/awips_tiled.py
Labels: bug, component:writers

#2122 Fix yaml files for some seviri/abi/ahi BlackMarble background composites
  satpy/etc/composites/abi.yaml
  satpy/etc/composites/ahi.yaml
  satpy/etc/composites/seviri.yaml
  satpy/etc/composites/visir.yaml
Labels: bug, component:enhancements, component:compositors

#2123 Fix negative channel 3A slope calibration coefficient
  satpy/readers/aapp_l1b.py
Labels: bug, component:readers
