Repository pytroll/satpy, pull requests merged in 2022-02, with the labels that each got.

#2002 Update tests to be more flexible to CRS and enhancement changes
  satpy/tests/enhancement_tests/test_enhancements.py
  satpy/tests/enhancement_tests/test_viirs.py
  satpy/tests/reader_tests/test_generic_image.py
Labels: bug, component:tests

#1994 Refactor 'native' resampler to produce less dask tasks
  satpy/resample.py
  satpy/tests/test_resample.py
Labels: component:resampling, cleanup

#1986 Add reader kwarg to 'ahi_hrit' to disable exact start_time
  satpy/readers/hrit_jma.py
  satpy/tests/reader_tests/test_ahi_hrit.py
Labels: enhancement

#2007 Update abi_l2_nc to include filename metadata similar to abi_l1b
  satpy/etc/readers/abi_l2_nc.yaml
  satpy/readers/abi_l2_nc.py
  satpy/tests/reader_tests/test_abi_l2_nc.py
Labels: enhancement, component:readers

#2011 Fix memory leak in cached_property backport
  doc/source/conf.py
  satpy/_compat.py
  satpy/tests/test_compat.py
Labels: bug, component:readers, optimization

#2006 Fix Scene not being serializable
  satpy/dataset/dataid.py
  satpy/readers/yaml_reader.py
  satpy/tests/test_dataset.py
  satpy/tests/test_scene.py
  satpy/tests/test_yaml_reader.py
Labels: bug, component:readers, component:scene

#2015 Fix various dask array bugs in CREFL modifier
  satpy/modifiers/_crefl_utils.py
  satpy/tests/modifier_tests/test_crefl.py
  satpy/tests/utils.py
Labels: bug, component:compositors

#2020 Clarify documentation regarding attributes used in get_angles
  doc/source/readers.rst
  satpy/modifiers/angles.py
Labels: documentation

#2027 Include units with AVHRR EPS metadata
  satpy/readers/eps_l1b.py
  satpy/tests/reader_tests/test_eps_l1b.py
Labels: bug, component:readers

#2025 Allow skipping unit conversion in NinJoTIFF
  satpy/tests/writer_tests/test_ninjotiff.py
  satpy/writers/ninjotiff.py
Labels: enhancement, component:writers

#1983 More general filename filter for ascat soil moisture, allowing for Metop-B and Metop-C
  satpy/etc/readers/ascat_l2_soilmoisture_bufr.yaml
Labels: bug, component:readers

#1969 Improve modifier documentation
  doc/source/composites.rst
  doc/source/modifiers.rst
Labels: documentation

#1992 Add support for CMIC product from PPSv2021
  satpy/etc/composites/visir.yaml
  satpy/etc/readers/nwcsaf-pps_nc.yaml
  satpy/readers/nwcsaf_nc.py
  satpy/tests/reader_tests/test_nwcsaf_nc.py
Labels: enhancement, component:readers

#1979 Update VII reader for test data v2
  AUTHORS.md
  satpy/etc/readers/vii_l1b_nc.yaml
  satpy/readers/vii_base_nc.py
  satpy/readers/vii_l1b_nc.py
  satpy/tests/reader_tests/test_vii_l1b_nc.py
Labels: enhancement, component:readers

#2028 Add 'colormap_tag' keyword argument to geotiff writer
  satpy/writers/geotiff.py
Labels: enhancement, component:writers

#2030 Add 'preference' option to 'get_satpos' utility
  satpy/tests/modifier_tests/test_crefl.py
  satpy/tests/test_utils.py
  satpy/utils.py
Labels: enhancement

#2029 Remove unused caching in sunz_corrected and rayleigh modifiers
  satpy/modifiers/atmosphere.py
  satpy/modifiers/geometry.py
Labels: component:compositors, cleanup

#2031 Update AHI HSD reader with observation/scheduled times and nominal satellite position
  doc/source/dev_guide/custom_reader.rst
  doc/source/readers.rst
  satpy/readers/ahi_hsd.py
  satpy/readers/file_handlers.py
  satpy/tests/reader_tests/test_ahi_hsd.py
  satpy/tests/test_file_handlers.py
Labels: enhancement, component:readers

#1993 Add 'l2_flags' quality filtering to 'seadas_l2' reader
  satpy/readers/seadas_l2.py
  satpy/tests/reader_tests/test_seadas_l2.py
Labels: enhancement, component:readers
