Repository pytroll/satpy, pull requests merged in 2023-04, with the labels that each got.

#2432 Remove usage of open_rasterio in some readers
  satpy/readers/generic_image.py
  satpy/readers/msi_safe.py
  satpy/readers/sar_c_safe.py
  satpy/tests/reader_tests/test_generic_image.py
  satpy/tests/reader_tests/test_msi_safe.py
  satpy/tests/reader_tests/test_sar_c_safe.py
Labels: bug, component:readers

#2423 Support reading from S3 for AHI-HSD
  AUTHORS.md
  satpy/readers/utils.py
  satpy/tests/reader_tests/test_utils.py
Labels: enhancement, component:readers

#2314 Update `clavrx` reader file patterns and flag_meanings handling
  satpy/etc/readers/clavrx.yaml
  satpy/etc/writers/awips_tiled.yaml
  satpy/readers/clavrx.py
  satpy/tests/reader_tests/test_clavrx.py
  satpy/tests/reader_tests/test_clavrx_nc.py
Labels: enhancement, component:readers

#2407 VIIRS VGAC reader
  satpy/etc/readers/viirs_vgac_l1c_nc.yaml
  satpy/readers/viirs_vgac_l1c_nc.py
  satpy/tests/reader_tests/test_viirs_vgac_l1c_nc.py
Labels: enhancement, component:readers

#2448 Add section to FAQ to describe how `generate=False` may speed up RGBs
  doc/source/faq.rst
Labels: documentation

#2379 Add reader for IASI L2 CDR in NetCDF format
  satpy/etc/readers/iasi_l2_cdr_nc.yaml
  satpy/readers/iasi_l2.py
  satpy/tests/reader_tests/test_iasi_l2.py
Labels: enhancement, component:readers

#2437 Update MODIS composites with specific channel for Rayleigh correction
  satpy/etc/composites/modis.yaml
Labels: bug, component:compositors

#2394 Add weighted blended stacking to MultiScene (fixes multi-band handling)
  doc/source/conf.py
  satpy/multiscene/__init__.py
  satpy/multiscene/_blend_funcs.py
  satpy/multiscene/_multiscene.py
  satpy/readers/_geos_area.py
  satpy/readers/hsaf_h5.py
  satpy/tests/multiscene_tests/test_blend.py
  satpy/tests/multiscene_tests/test_misc.py
  satpy/tests/multiscene_tests/test_save_animation.py
  satpy/tests/multiscene_tests/test_utils.py
Labels: bug, enhancement, component:multiscene, cleanup

#2261 Add VIIRS day_microphysics and day_microphysics_hires composites
  AUTHORS.md
  satpy/etc/composites/viirs.yaml
Labels: component:compositors, PCW

#2124 Add reader for FY-3E / MERSI-LL
  continuous_integration/environment.yaml
  satpy/composites/viirs.py
  satpy/etc/composites/mersi-ll.yaml
  satpy/etc/readers/mersi2_l1b.yaml
  satpy/etc/readers/mersi_ll_l1b.yaml
  satpy/readers/mersi_l1b.py
  satpy/tests/compositor_tests/test_viirs.py
  satpy/tests/reader_tests/test_mersi2_l1b.py
  satpy/tests/reader_tests/test_mersi_l1b.py
  satpy/tests/writer_tests/test_cf.py
Labels: enhancement, component:readers

#2451 Fix assumption that arrays have 2+ dimensions in CF writer
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: bug, component:writers

#2439 Add support for unit conversion in image writers
  continuous_integration/environment.yaml
  satpy/tests/writer_tests/test_geotiff.py
  satpy/writers/__init__.py
  satpy/writers/geotiff.py
  setup.py
Labels: enhancement, component:writers

#2454 Change optional rayleigh prerequisites to required for MODIS
  satpy/etc/composites/modis.yaml
Labels: bug, component:compositors
