Repository pytroll/satpy, pull requests merged in 2023-02, with the labels that each got.

#2336 Fix ancillary variable confusion after resampling
  satpy/dataset/anc_vars.py
  satpy/tests/test_scene.py
Labels: bug, component:resampling

#2201 Fixes for PR#2146 so readers now also work for VII L2 water vapour pr…
  satpy/etc/composites/vii.yaml
  satpy/etc/readers/vii_l2_nc.yaml
  satpy/readers/vii_base_nc.py
  satpy/tests/reader_tests/test_vii_wv_nc.py
Labels: component:readers

#2372 add flash_area composite for LI L2
  satpy/etc/composites/li.yaml
  satpy/etc/enhancements/li.yaml
Labels: enhancement, component:compositors

#2281 group save_datasets result by file
  satpy/tests/test_writers.py
  satpy/writers/__init__.py
Labels: enhancement, component:writers

#2369 Add Getting Help section to documentation
  doc/source/index.rst
Labels: documentation

#2299 Fix filter in modis_l2.yaml
  satpy/etc/readers/modis_l2.yaml
  satpy/readers/hdfeos_base.py
Labels: bug, component:readers

#2373 Fix palette images for float data
  doc/source/enhancements.rst
  satpy/enhancements/__init__.py
  satpy/etc/enhancements/generic.yaml
  satpy/tests/enhancement_tests/test_enhancements.py
Labels: bug, component:enhancements, component:compositors

#2341 Seviri l2 cf harmonization
  satpy/etc/readers/seviri_l2_bufr.yaml
  satpy/etc/readers/seviri_l2_grib.yaml
Labels: enhancement, component:readers

#2378 Adapt unit test between categorical and continuous
  satpy/dataset/__init__.py
  satpy/tests/enhancement_tests/test_enhancements.py
Labels: enhancement

#2290 satpy_cf_nc reader to support reading variables with the same name with different resolutions from two files
  satpy/readers/satpy_cf_nc.py
  satpy/tests/reader_tests/test_satpy_cf_nc.py
Labels: bug, component:readers

#2382 Fix Scene storage options not being used if no other reader_kwargs are passed
  satpy/tests/test_scene.py
  satpy/utils.py
Labels: bug, component:scene

#2384 Improve handing of deprecation warnings for deprecated YAML composite recipes
  satpy/composites/__init__.py
  satpy/composites/spectral.py
  satpy/etc/composites/ahi.yaml
  satpy/etc/composites/ami.yaml
  satpy/tests/test_composites.py
Labels: enhancement, component:compositors

#2282 Add the 'Rocket Plume' RGB to satpy.
  satpy/etc/composites/visir.yaml
  satpy/etc/enhancements/generic.yaml
Labels: enhancement, component:compositors

#2380 Add an interface for reducing Rayleigh correction at high solar zenith angles in composites YAML
  satpy/modifiers/atmosphere.py
  satpy/tests/test_modifiers.py
Labels: enhancement, component:compositors

#2391 Increase warnings stacklevel
  satpy/composites/__init__.py
  satpy/composites/config_loader.py
  satpy/composites/spectral.py
  satpy/enhancements/__init__.py
  satpy/modifiers/_crefl.py
  satpy/modifiers/angles.py
  satpy/modifiers/parallax.py
  satpy/multiscene.py
  satpy/readers/__init__.py
  satpy/readers/ahi_hsd.py
  satpy/readers/mviri_l1b_fiduceo_nc.py
  satpy/readers/seviri_base.py
  satpy/readers/seviri_l1b_native.py
  satpy/readers/slstr_l1b.py
  satpy/readers/utils.py
  satpy/readers/yaml_reader.py
  satpy/resample.py
  satpy/scene.py
  satpy/tests/test_utils.py
  satpy/utils.py
  satpy/writers/__init__.py
  satpy/writers/awips_tiled.py
  satpy/writers/cf_writer.py
Labels: enhancement
