Repository pytroll/satpy, pull requests merged in 2023-03, with the labels that each got.

#2396 Remove DataID attribute access
  satpy/dataset/dataid.py
  satpy/readers/abi_l2_nc.py
  satpy/readers/fci_l2_nc.py
  satpy/readers/seviri_l2_grib.py
  satpy/tests/test_dataset.py
  satpy/tests/test_dependency_tree.py
Labels: enhancement

#2404 Convert TestYAMLFiles to pytest
  satpy/tests/enhancement_tests/test_ahi.py
  satpy/tests/reader_tests/test_fy4_base.py
  satpy/tests/reader_tests/test_ghi_l1.py
  satpy/tests/reader_tests/test_msi_safe.py
  satpy/tests/reader_tests/test_msu_gsa_l1b.py
  satpy/tests/reader_tests/test_oceancolorcci_l3_nc.py
  satpy/tests/test_readers.py
Labels: cleanup

#2388 Fix gap between day/night-only composites
  satpy/composites/__init__.py
  satpy/tests/test_composites.py
Labels: enhancement, component:compositors

#2390 Drop default compression in CF Writer
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: bug, documentation, component:writers

#2405 MWI v2 test dataset has BT calibration factors for each channel
  satpy/etc/readers/mwi_l1b_nc.yaml
Labels: bug, component:readers

#2412 Repair CF writer tests failing with libnetcdf >= 4.9.0
  satpy/tests/writer_tests/test_cf.py
Labels: bug, component:writers

#2403 Fix failing NWCSAF/PPS composites
  satpy/etc/composites/seviri.yaml
  satpy/etc/composites/visir.yaml
  satpy/etc/enhancements/generic.yaml
  satpy/tests/enhancement_tests/test_enhancements.py
Labels: bug, component:compositors

#2408 Remove DataID attribute access in seviri_l2_grib reader
  satpy/readers/seviri_l2_grib.py
  satpy/tests/reader_tests/test_seviri_l2_grib.py
Labels: bug, component:readers

#2411 Fix warning when CF-writing a Scene with SwathDefinition area
  satpy/writers/cf_writer.py
Labels: bug, component:writers

#2415 Fix dataid attribute access in JMA HRIT readers
  satpy/readers/hrit_jma.py
  satpy/tests/reader_tests/test_ahi_hrit.py
Labels: bug, component:readers

#2416 Drop support for Python 3.8 and add 3.11 tests
  .github/workflows/ci.yaml
  doc/source/index.rst
  setup.py
Labels: enhancement, backwards-incompatibility, cleanup, dependencies

#2421 Add MODIS 05 L2 datasets to `modis_l2` reader
  satpy/etc/readers/modis_l2.yaml
Labels: enhancement, component:readers

#2422 Update condition of xarray version in CF writer tests
  satpy/tests/writer_tests/test_cf.py
Labels: enhancement, component:tests

#2431 Add codescene badge to README
  README.rst
Labels: documentation

#2429 Cleanup and separate Scene unit tests
  satpy/tests/conftest.py
  satpy/tests/scene_tests/__init__.py
  satpy/tests/scene_tests/test_conversions.py
  satpy/tests/scene_tests/test_data_access.py
  satpy/tests/scene_tests/test_init.py
  satpy/tests/scene_tests/test_load.py
  satpy/tests/scene_tests/test_resampling.py
  satpy/tests/scene_tests/test_saving.py
  satpy/tests/test_scene.py
Labels: component:tests, cleanup
