Repository pytroll/satpy, pull requests merged in 2023-10, with the labels that each got.

#2574 Rename ABI "night_microphysics_abi" composite to "night_microphysics"
  satpy/etc/composites/abi.yaml
Labels: enhancement, component:compositors, backwards-incompatibility

#2587 Remove libnetcdf specific build from CI env
  .github/workflows/ci.yaml
Labels: cleanup

#2052 Add resolution dependent chunk sizing to 'modis_l1b' reader
  .pre-commit-config.yaml
  satpy/_compat.py
  satpy/_config.py
  satpy/etc/readers/modis_l1b.yaml
  satpy/readers/hdfeos_base.py
  satpy/readers/modis_l1b.py
  satpy/resample.py
  satpy/tests/reader_tests/modis_tests/_modis_fixtures.py
  satpy/tests/reader_tests/modis_tests/test_modis_l1b.py
  satpy/tests/test_compat.py
  satpy/tests/test_utils.py
  satpy/utils.py
Labels: enhancement, component:readers, optimization

#2572 Add reader for GERB high-resolution HDF5 files
  satpy/etc/readers/gerb_l2_hr_h5.yaml
  satpy/readers/gerb_l2_hr_h5.py
  satpy/tests/reader_tests/test_gerb_l2_hr_h5.py
Labels: enhancement, component:readers

#2584 Convert AHI HSD dask chunking to be based on band resolution
  satpy/modifiers/angles.py
  satpy/readers/ahi_hsd.py
  satpy/tests/reader_tests/test_ahi_hsd.py
  satpy/tests/test_modifiers.py
Labels: enhancement, component:readers

#2556 Implement modifier for reducing signal as a function of sunz angle
  satpy/etc/composites/ahi.yaml
  satpy/etc/composites/fci.yaml
  satpy/etc/composites/visir.yaml
  satpy/modifiers/__init__.py
  satpy/modifiers/angles.py
  satpy/modifiers/geometry.py
  satpy/tests/test_modifiers.py
Labels: enhancement, component:compositors

#2554 Implement non-linear scaling for NDVI hybrid green correction
  satpy/composites/spectral.py
  satpy/etc/composites/ahi.yaml
  satpy/etc/composites/ami.yaml
  satpy/etc/composites/fci.yaml
  satpy/tests/compositor_tests/test_spectral.py
Labels: enhancement, component:compositors

#2579 Adapt satpy to numpy 2
  satpy/readers/aapp_mhs_amsub_l1c.py
  satpy/readers/hdf4_utils.py
  satpy/readers/utils.py
  satpy/tests/reader_tests/test_utils.py
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
  setup.py
Labels: bug, component:writers

#2558 New reader for Himawari L2 NOAA enterprise cloud products.
  satpy/etc/readers/ahi_l2_nc.yaml
  satpy/readers/ahi_l2_nc.py
  satpy/tests/reader_tests/test_ahi_l2_nc.py
Labels: enhancement, component:readers

#2598 remove setuptools_scm_git_archive from requirement
  .git_archival.txt
  doc/rtd_environment.yml
  setup.cfg
Labels: bug

#2589 Add meirink calib
  satpy/readers/seviri_base.py
  satpy/tests/reader_tests/test_seviri_base.py
Labels: enhancement, component:readers

#2517 Add documentation on putting text onto images
  doc/source/index.rst
  doc/source/overview.rst
  doc/source/quickstart.rst
  doc/source/reading.rst
  doc/source/writing.rst
  satpy/dataset/dataid.py
  satpy/readers/modis_l2.py
  satpy/readers/seviri_base.py
  satpy/scene.py
Labels: documentation, component:scene

#2606 Change platform name for EPIC (DSCOVR) to upper case.
  satpy/readers/epic_l1b_h5.py
  satpy/tests/writer_tests/test_cf.py
Labels: bug, component:readers

#2607 Fix ABI L2 reader to produce reflectances as percentages
  satpy/readers/abi_l2_nc.py
  satpy/tests/reader_tests/test_abi_l2_nc.py
Labels: bug, component:readers

#2608 Fix ABI L2 to only convert reflectances to percentages
  satpy/readers/abi_l2_nc.py
Labels: bug, component:readers

#2610 Remove legacy resampler code
  satpy/resample.py
Labels: enhancement, component:resampling, cleanup

#2612 Remove tests for removed and deprecated functionality
  satpy/tests/test_resample.py
Labels: cleanup

#2617 Reduce Dask computations in `DayNightCompositor`
  satpy/composites/__init__.py
  satpy/modifiers/_crefl_utils.py
  satpy/tests/test_composites.py
Labels: bug, component:compositors, optimization
