Repository pytroll/satpy, pull requests merged in 2023-06, with the labels that each got.

#2420 Fix inconsistent behavior of time attributes in EUM L1 GEO readers
  AUTHORS.md
  satpy/etc/readers/fci_l1c_nc.yaml
  satpy/readers/fci_l1c_nc.py
  satpy/readers/hrit_base.py
  satpy/readers/seviri_base.py
  satpy/readers/seviri_l1b_hrit.py
  satpy/readers/seviri_l1b_native.py
  satpy/readers/seviri_l1b_nc.py
  satpy/tests/reader_tests/test_hrit_base.py
  satpy/tests/reader_tests/test_seviri_base.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit_setup.py
  satpy/tests/reader_tests/test_seviri_l1b_native.py
  satpy/tests/reader_tests/test_seviri_l1b_nc.py
Labels: enhancement, component:readers

#2501 Add Pygac reference to avhrr_l1b_gaclac documentation
  satpy/readers/avhrr_l1b_gaclac.py
Labels: enhancement, documentation

#2504 Improve flexibility of olci level2 reader
  satpy/etc/readers/olci_l2.yaml
  satpy/readers/olci_nc.py
  satpy/tests/reader_tests/test_olci_nc.py
Labels: enhancement, component:readers

#2489 Add "neutral_resolution_band" kwarg to RatioSharpenedRGB/SelfSharpenedRGB
  satpy/composites/__init__.py
  satpy/tests/test_composites.py
Labels: enhancement, component:compositors

#2508 Add support for OLCI L2 files which are missing Frame_IDs
  AUTHORS.md
  satpy/etc/readers/olci_l2.yaml
Labels: enhancement, component:readers

#2507 Fix HDF4 support in geocat reader with hardcoded engine
  satpy/etc/readers/nwcsaf-pps_nc.yaml
  satpy/readers/geocat.py
  satpy/tests/reader_tests/test_geocat.py
Labels: bug, component:readers

#2514 Fix argument name in DayNightComposite example document
  doc/source/composites.rst
Labels: documentation, component:compositors

#2516 Fix SEVIRI native reader failing when missing main header
  satpy/readers/seviri_l1b_native.py
  satpy/tests/reader_tests/test_seviri_l1b_native.py
Labels: bug, component:readers

#2499 Add option to clip negative ABI radiances
  doc/source/config.rst
  satpy/_config.py
  satpy/readers/abi_l1b.py
  satpy/tests/reader_tests/test_abi_l1b.py
Labels: enhancement, component:readers

#2117 Add reader for GMS-5 VISSR data
  continuous_integration/environment.yaml
  doc/rtd_environment.yml
  satpy/etc/readers/gms5-vissr_l1b.yaml
  satpy/readers/gms/__init__.py
  satpy/readers/gms/gms5_vissr_format.py
  satpy/readers/gms/gms5_vissr_l1b.py
  satpy/readers/gms/gms5_vissr_navigation.py
  satpy/tests/reader_tests/gms/__init__.py
  satpy/tests/reader_tests/gms/test_gms5_vissr_data.py
  satpy/tests/reader_tests/gms/test_gms5_vissr_l1b.py
  satpy/tests/reader_tests/gms/test_gms5_vissr_navigation.py
  satpy/tests/reader_tests/utils.py
  setup.py
Labels: enhancement, component:readers

#2497 Enable to pass a custom function to Scene.aggregate
  satpy/scene.py
  satpy/tests/scene_tests/test_resampling.py
Labels: enhancement, component:scene

#2259 Refactor `CFWriter.save_datasets` and enable retrieval of equivalent xr.Dataset with `scn.to_xarray()`
  satpy/_scene_converters.py
  satpy/scene.py
  satpy/tests/scene_tests/test_conversions.py
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf/__init__.py
  satpy/writers/cf/coords_attrs.py
  satpy/writers/cf/crs.py
  satpy/writers/cf_writer.py
Labels: enhancement, component:writers, component:scene

#2522 Fix CF tests due to new xarray release
  satpy/tests/writer_tests/test_cf.py
Labels: bug, component:tests

#2523 Convert CF Writer tests to pytest
  AUTHORS.md
  satpy/tests/writer_tests/test_cf.py
Labels: component:writers, cleanup

#2521 Add a median filter modifier
  continuous_integration/environment.yaml
  doc/rtd_environment.yml
  satpy/etc/composites/visir.yaml
  satpy/modifiers/filters.py
  satpy/tests/modifier_tests/test_filters.py
  setup.py
Labels: enhancement, component:compositors
