Repository pytroll/satpy, pull requests merged in 2024-11, with the labels that each got.

#2930 Fix data type when getting a line offset for a segmented hrit_jma
  AUTHORS.md
  satpy/readers/hrit_jma.py
  satpy/tests/reader_tests/test_ahi_hrit.py
Labels: bug, component:readers

#2953 Add altitude, landcover, and landseamask to mersi_ll_l1b reader
  AUTHORS.md
  satpy/etc/readers/mersi_ll_l1b.yaml
Labels: enhancement, component:readers

#2961 Fix CF writer crashing with netcdf development version
  satpy/tests/writer_tests/test_cf.py
  satpy/writers/cf_writer.py
Labels: bug, component:writers

#2965 Fix MODIS readers chunking compatibility with newer dask
  .github/workflows/ci.yaml
  satpy/readers/hdfeos_base.py
Labels: bug

#2968 Remove unneeded call to private scipy function in SAR reader
  satpy/readers/sar_c_safe.py
Labels: bug, component:readers

#2971 Pin flexparser before it breaks pint
  continuous_integration/environment.yaml
Labels: bug

#2973 Remove flexparser pinning
  continuous_integration/environment.yaml
Labels: enhancement

#2950 Fix dtype promotion in `SunZenithReduction`
  satpy/modifiers/angles.py
  satpy/tests/test_modifiers.py
Labels: bug, component:compositors

#2969 Fix geos proj parameters for Insat 3d satellites
  satpy/readers/insat3d_img_l1b_h5.py
  satpy/tests/reader_tests/test_insat3d_img_l1b_h5.py
Labels: bug, component:readers

#2985 li2_nc reader daskified
  satpy/readers/li_base_nc.py
  satpy/readers/li_l2_nc.py
  satpy/tests/reader_tests/test_li_l2_nc.py
Labels: bug, component:readers

#2995 Add new ABI L2 "CPS" variable name for Cloud Particle Size
  satpy/etc/readers/abi_l2_nc.yaml
Labels: bug, component:readers

#2941 Refactor MVIRI dataset access
  satpy/readers/mviri_l1b_fiduceo_nc.py
  satpy/tests/reader_tests/test_mviri_l1b_fiduceo_nc.py
Labels: enhancement
