Repository pytroll/satpy, pull requests merged in 2024-10, with the labels that each got.

#2896 Bugfix for Sentinel-2 radiance calculation
  satpy/readers/msi_safe.py
  satpy/tests/reader_tests/test_msi_safe.py
Labels: bug

#2916 Fix deprecated "compositor" usage in modifier definitions
  satpy/etc/composites/sgli.yaml
Labels: bug, component:compositors

#2913 Update `check_satpy` to use new `show_version` to display package versions
  satpy/tests/test_utils.py
  satpy/utils.py
Labels: enhancement

#2926 Import DataTree from xarray
  satpy/readers/insat3d_img_l1b_h5.py
Labels: bug, component:readers

#2929 Replace patched `print` with capsys fixture
  satpy/tests/test_utils.py
Labels: enhancement

#2923 Fix data promotion in `generic_image` reader and `satpy.composites.add_bands`
  satpy/composites/__init__.py
  satpy/readers/generic_image.py
  satpy/tests/reader_tests/test_generic_image.py
  satpy/tests/test_composites.py
Labels: bug, component:readers, component:compositors

#2717 Add combined GRIB reader for both SEVIRI and FCI L2 products
  AUTHORS.md
  satpy/etc/readers/fci_l2_grib.yaml
  satpy/etc/readers/seviri_l2_grib.yaml
  satpy/readers/eum_l2_grib.py
  satpy/readers/fci_base.py
  satpy/readers/seviri_base.py
  satpy/tests/reader_tests/test_eum_l2_grib.py
  satpy/tests/reader_tests/test_fci_base.py
  satpy/tests/reader_tests/test_seviri_l2_grib.py
Labels: enhancement, component:readers

#2933 Add no-op image_ready enhancement
  satpy/composites/__init__.py
  satpy/enhancements/__init__.py
  satpy/etc/enhancements/generic.yaml
  satpy/tests/enhancement_tests/test_enhancements.py
Labels: enhancement, component:enhancements

#2927 Use spline interpolation for faster processing
  satpy/readers/sar_c_safe.py
  satpy/readers/sgli_l1b.py
  satpy/tests/reader_tests/test_sar_c_safe.py
Labels: enhancement, component:readers

#2904 Add reader for Landsat L1 data
  satpy/etc/composites/oli_tirs.yaml
  satpy/etc/readers/oli_tirs_l1_tif.yaml
  satpy/readers/oli_tirs_l1_tif.py
  satpy/tests/reader_tests/test_oli_tirs_l1_tif.py
Labels: enhancement, component:readers

#2931 Enhance visibility of missing dependencies
  satpy/readers/__init__.py
  satpy/tests/test_readers.py
Labels: enhancement, component:readers

#2870 Include gradient/axisintercept for mode p
  satpy/tests/writer_tests/test_ninjogeotiff.py
  satpy/writers/ninjogeotiff.py
Labels: enhancement, component:writers

#2936 Drop python 3.9
  .github/workflows/ci.yaml
  .github/workflows/deploy-sdist.yaml
  .pre-commit-config.yaml
  doc/rtd_environment.yml
  pyproject.toml
Labels: enhancement

#2910 Remove deprecated usage of pyspectral's download_luts aerosol_type
  benchmarks/abi_l1b_benchmarks.py
  benchmarks/ahi_hsd_benchmarks.py
  benchmarks/seviri_hrit_benchmarks.py
  benchmarks/viirs_sdr_benchmarks.py
Labels: bug

#2944 Fix tests using `palettize`
  satpy/tests/enhancement_tests/test_enhancements.py
Labels: bug, component:enhancements, component:tests

#2943 Fix seviri_l2_grib end_time property bug.
  satpy/readers/eum_l2_grib.py
  satpy/tests/reader_tests/test_eum_l2_grib.py
Labels: bug, component:readers

#2956 Fix cira stretch upcasting the data
  satpy/enhancements/__init__.py
  satpy/tests/enhancement_tests/test_enhancements.py
Labels: bug, component:enhancements

#2954 Fix Rayleigh correction to use the same datatype as the input data
  satpy/modifiers/atmosphere.py
  satpy/tests/test_composites.py
  satpy/tests/test_modifiers.py
Labels: bug, component:compositors

#2957 Bugfix the VIIRS lowres version of the day-microphysics.
  satpy/etc/composites/viirs.yaml
Labels: bug, component:compositors
