Repository pytroll/satpy, pull requests merged in 2024-07, with the labels that each got.

#2844 Add more test skips when numba is involved in the unstable CI
  satpy/readers/vaisala_gld360.py
  satpy/tests/reader_tests/gms/test_gms5_vissr_l1b.py
  satpy/tests/reader_tests/gms/test_gms5_vissr_navigation.py
  satpy/tests/reader_tests/test_vaisala_gld360.py
  satpy/tests/reader_tests/utils.py
  satpy/tests/scene_tests/test_conversions.py
  satpy/tests/utils.py
Labels: cleanup

#2817 Implement support to set alpha range in create_colormap and yaml colorize enhancements
  continuous_integration/environment.yaml
  doc/source/enhancements.rst
  pyproject.toml
  satpy/composites/glm.py
  satpy/enhancements/__init__.py
  satpy/tests/enhancement_tests/test_enhancements.py
Labels: enhancement, documentation, component:enhancements, PCW, dependencies

#2850 Add parallel test execution to CI with pytest-xdist library
  .github/workflows/ci.yaml
  continuous_integration/environment.yaml
  satpy/tests/test_utils.py
  satpy/tests/test_writers.py
Labels: enhancement, component:tests

#2851 Fix start/end time properties of `hrit_jma` reader
  satpy/readers/avhrr_l1b_gaclac.py
  satpy/readers/gms/gms5_vissr_l1b.py
  satpy/readers/hrit_jma.py
  satpy/readers/viirs_vgac_l1c_nc.py
  satpy/tests/reader_tests/test_ahi_hrit.py
  satpy/tests/reader_tests/test_viirs_vgac_l1c_nc.py
  satpy/tests/test_utils.py
  satpy/utils.py
Labels: bug, component:readers

#2858 Fix default AWIPS tiled _FillValue of -1 for newer versions of xarray
  satpy/writers/awips_tiled.py
Labels: bug, component:writers

#2857 Fix typo in chunk setting example
  doc/source/overview.rst
Labels: documentation

#2806 Add ability to clip AMI negative radiances
  doc/source/config.rst
  satpy/readers/ami_l1b.py
  satpy/tests/reader_tests/test_ami_l1b.py
Labels: enhancement, component:readers

#2840 Add a testing utility for faking reading
  AUTHORS.md
  doc/source/dev_guide/index.rst
  doc/source/dev_guide/testing.rst
  satpy/testing.py
  satpy/tests/test_testing.py
Labels: enhancement

#2687 add support of masking olci l1b products by using quality flags
  satpy/etc/readers/olci_l1b.yaml
  satpy/readers/olci_nc.py
  satpy/tests/reader_tests/test_olci_nc.py
Labels: enhancement, component:readers

#2853 Add first version of LI composites and enhancements for point and accumulated products
  satpy/etc/areas.yaml
  satpy/etc/composites/fci.yaml
  satpy/etc/composites/li.yaml
  satpy/etc/composites/seviri.yaml
  satpy/etc/enhancements/generic.yaml
  satpy/etc/enhancements/li.yaml
Labels: enhancement, component:compositors

#2843 feat: Enable to read for the Q4 coverage and the IQTI files for the fci l1c data
  satpy/etc/readers/fci_l1c_nc.yaml
  satpy/readers/fci_l1c_nc.py
  satpy/tests/reader_tests/test_fci_l1c_nc.py
Labels: enhancement, component:readers

#2862 Update thresholds for FCI geo_color low-level cloud layer
  satpy/etc/composites/fci.yaml
Labels: component:compositors
