Repository pytroll/satpy, pull requests merged in 2024-01, with the labels that each got.

#2711 Add support for NOAA-21 in MiRS limb correction
  satpy/readers/mirs.py
  satpy/tests/reader_tests/test_mirs.py
Labels: bug, component:readers, cleanup

#2713 Add kwargs config option to turn off mitiff corner correction
  satpy/tests/writer_tests/test_mitiff.py
  satpy/writers/mitiff.py
Labels: bug, component:writers

#2714 Add QC-based filtering to the VIIRS EDR AOD550 product
  satpy/etc/readers/viirs_edr.yaml
  satpy/readers/viirs_edr.py
  satpy/tests/reader_tests/test_viirs_edr.py
Labels: enhancement, component:readers

#2534 Add fsspec functionality to `viirs_sdr` reader
  satpy/readers/__init__.py
  satpy/readers/hdf5_utils.py
  satpy/tests/test_readers.py
Labels: enhancement, component:readers

#2730 Pin pytest to fix CI
  continuous_integration/environment.yaml
Labels: bug

#2728 Update asv dependencies
  asv.conf.json
Labels: enhancement
