Repository pytroll/satpy, pull requests merged in 2024-04, with the labels that each got.

#2774 Fix the viirs EDR tests for newer xarray
  satpy/tests/reader_tests/test_viirs_edr.py
Labels: bug

#2763 Replace setup with pyproject.toml
  .gitignore
  pyproject.toml
  setup.cfg
  setup.py
Labels: enhancement

#2780 Add new (Eumetrain) FCI RGB composites
  satpy/etc/composites/fci.yaml
  satpy/etc/composites/visir.yaml
  satpy/etc/enhancements/fci.yaml
  satpy/etc/enhancements/generic.yaml
Labels: enhancement

#2779 Convert Sentinel-2 MSI sensor name to lowercase in the reader YAML config file and add support for "counts" calibration
  satpy/etc/readers/msi_safe.yaml
  satpy/readers/msi_safe.py
  satpy/tests/reader_tests/test_msi_safe.py
Labels: bug, component:readers

#2750 Add missing `h` docstring information to _geos_area.py
  satpy/readers/_geos_area.py
Labels: documentation

#2701 Ici reader tiepoints bugfix
  satpy/readers/ici_l1b_nc.py
  satpy/tests/reader_tests/test_ici_l1b_nc.py
Labels: bug, component:readers

#2696 Add double alpha channel support and improve metadata behaviours for BackgroundCompositor
  satpy/composites/__init__.py
  satpy/tests/reader_tests/test_olci_nc.py
  satpy/tests/test_composites.py
Labels: bug, enhancement, component:compositors

#2727 Refactor Sentinel-1 SAR-C reader
  satpy/etc/readers/sar-c_safe.yaml
  satpy/readers/__init__.py
  satpy/readers/sar_c_safe.py
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/test_sar_c_safe.py
  satpy/tests/test_readers.py
Labels: enhancement, component:readers

#2794 Fix ABI L2 datasets when unitless and no calibration
  satpy/readers/abi_l2_nc.py
  satpy/tests/reader_tests/test_abi_l2_nc.py
Labels: bug, component:readers
