Repository pytroll/satpy, pull requests merged in 2025-04, with the labels that each got.

#3093 Fix 3D masks with size 1 dimension in MaskingCompositor
  satpy/composites/__init__.py
  satpy/tests/test_composites.py
Labels: bug, component:compositors

#3097 Add SWIR composite to Sentinel-2/MSI.
  satpy/etc/composites/msi.yaml
Labels: enhancement, component:compositors

#3080 Add reader for EarthCARE MSI L1 data
  satpy/etc/composites/ec_msi.yaml
  satpy/etc/composites/sen2_msi.yaml
  satpy/etc/readers/msi_l1c_earthcare.yaml
  satpy/etc/readers/msi_safe.yaml
  satpy/readers/msi_ec_l1c_h5.py
  satpy/tests/reader_tests/test_msi_ec_l1c.py
Labels: enhancement, component:readers

#3112 Fci l1c handle other coverage
  satpy/readers/fci_l1c_nc.py
  satpy/tests/reader_tests/test_fci_l1c_nc.py
Labels: enhancement, component:readers

#3113 Fix angles tests computing xarray DataArrays instead of dask arrays
  satpy/tests/modifier_tests/test_angles.py
Labels: bug, component:tests

#3111 Fix unit radiance attrs
  satpy/dataset/metadata.py
  satpy/tests/reader_tests/test_fci_l1c_nc.py
  satpy/tests/test_dataset.py
Labels: bug, component:readers

#3115 Fix padding for FCI xx coverage
  satpy/etc/readers/fci_l1c_nc.yaml
  satpy/readers/fci_l1c_nc.py
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/test_fci_l1c_nc.py
  satpy/tests/test_yaml_reader.py
Labels: bug, enhancement, component:readers

#3039 Add filename variations to AWS MWR L1C
  satpy/etc/readers/aws1_mwr_l1b_nc.yaml
  satpy/etc/readers/aws1_mwr_l1c_nc.yaml
Labels: enhancement, component:readers

#2879 Initial implementation of EUMETSAT IASI-NG reader
  satpy/etc/readers/iasi_ng_l2_nc.yaml
  satpy/readers/iasi_ng_l2_nc.py
  satpy/tests/reader_tests/test_iasi_ng_l2_nc.py
Labels: enhancement, component:readers
