Repository pytroll/satpy, pull requests merged in 2025-02, with the labels that each got.

#3048 Change sensor attribute to lowercase in FCI L2 NetCDF reader
  doc/source/reading.rst
  satpy/readers/fci_l2_nc.py
  satpy/tests/reader_tests/test_fci_l2_nc.py
Labels: bug, component:readers

#3046 Fix MWR Polarisation
  satpy/etc/readers/aws1_mwr_l1b_nc.yaml
  satpy/etc/readers/aws1_mwr_l1c_nc.yaml
  satpy/etc/readers/eps_sterna_mwr_l1b_nc.yaml
Labels: bug, component:readers

#3050 Add VolcanicAsh product to VIIRS EDR reader
  satpy/etc/readers/viirs_edr.yaml
  satpy/readers/viirs_edr.py
  satpy/tests/reader_tests/test_viirs_edr.py
Labels: enhancement, component:readers

#3055 Update 'oci_l2_bgc' to allow .nc4 and .nc filename extensions
  satpy/etc/readers/oci_l2_bgc.yaml
Labels: bug, component:readers

#3063 add capability for M1 and M2 in MCMIP abi_l2_nc reader
  satpy/etc/readers/abi_l2_nc.yaml
Labels: bug, component:readers

#3065 Fix slack invite link in contributing docs
  doc/source/dev_guide/CONTRIBUTING.rst
Labels: documentation

#3074 Fix plugin tests not completely cleaning up after themselves
  satpy/tests/test_config.py
Labels: bug, component:tests

#3064 Add remote reading for hrit seviri
  continuous_integration/environment.yaml
  satpy/conftest.py
  satpy/readers/hrit_base.py
  satpy/readers/seviri_l1b_hrit.py
  satpy/readers/utils.py
  satpy/tests/reader_tests/test_hrit_base.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit.py
  satpy/tests/reader_tests/test_seviri_l1b_native.py
Labels: enhancement, component:readers

#3069 Prevent call to obj.__dict__ when obj is a compound variable.
  satpy/readers/netcdf_utils.py
Labels: bug, component:readers
