Repository pytroll/satpy, pull requests merged in 2025-10, with the labels that each got.

#3196 Use UPath for generic_open
  doc/rtd_environment.yml
  pyproject.toml
  satpy/readers/core/hrit.py
  satpy/readers/core/remote.py
  satpy/readers/core/utils.py
  satpy/tests/reader_tests/gms/test_gms5_vissr_l1b.py
  satpy/tests/reader_tests/test_seviri_l1b_hrit_setup.py
  satpy/tests/reader_tests/test_utils.py
Labels: component:readers, cleanup

#3250 Fix inconsistent docstring of correction limit in sunz modifiers
  AUTHORS.md
  satpy/modifiers/geometry.py
Labels: documentation

#3247 Fix automatic decompression for Paths in generic_open
  satpy/readers/core/utils.py
Labels: bug, component:readers

#3252 Fix 'awips_tiled' writer tests producing warnings on some hosts
  satpy/tests/writer_tests/test_awips_tiled.py
Labels: component:tests, cleanup

#3255 Fix NIRReflectance not matching optional inputs against required inputs
  satpy/modifiers/spectral.py
  satpy/tests/test_modifiers.py
Labels: bug, component:compositors, cleanup
