Repository pytroll/satpy, pull requests merged in 2025-01, with the labels that each got.

#2565 Add level-1 readers for the arctic weather satelliter data
  satpy/etc/composites/microwave.yaml
  satpy/etc/composites/mwr.yaml
  satpy/etc/enhancements/generic.yaml
  satpy/etc/enhancements/mwr.yaml
  satpy/etc/readers/atms_sdr_hdf5.yaml
  satpy/etc/readers/aws1_mwr_l1b_nc.yaml
  satpy/etc/readers/aws1_mwr_l1c_nc.yaml
  satpy/etc/readers/eps_sterna_mwr_l1b_nc.yaml
  satpy/readers/mwr_l1b.py
  satpy/readers/mwr_l1c.py
  satpy/tests/reader_tests/conftest.py
  satpy/tests/reader_tests/test_aws1_mwr_l1b.py
  satpy/tests/reader_tests/test_aws1_mwr_l1c.py
  satpy/tests/reader_tests/test_eps_sterna_mwr_l1b.py
Labels: enhancement, component:readers

#3013 Clip negative FCI radiances
  doc/source/config.rst
  satpy/readers/fci_l1c_nc.py
  satpy/tests/behave/features/image_comparison.feature
  satpy/tests/behave/features/steps/image_comparison.py
  satpy/tests/reader_tests/test_fci_l1c_nc.py
  utils/create_reference.py
Labels: enhancement, component:readers

#3030 Fix sdist tarball including unnecessary files
  MANIFEST.in
  pyproject.toml
Labels: bug, cleanup

#3031 Fix the handling of AMVs unit to units by applying suggestion in #2898
  satpy/readers/fci_l2_nc.py
  satpy/tests/reader_tests/test_fci_l2_nc.py
Labels: bug, component:readers

#913 Modis l2 available datasets
  doc/source/conf.py
  doc/source/reading.rst
  satpy/etc/readers/modis_l2.yaml
  satpy/readers/file_handlers.py
  satpy/readers/hdfeos_base.py
  satpy/readers/modis_l2.py
  satpy/readers/yaml_reader.py
  satpy/tests/reader_tests/modis_tests/_modis_fixtures.py
  satpy/tests/reader_tests/modis_tests/conftest.py
  satpy/tests/reader_tests/modis_tests/test_modis_l1b.py
  satpy/tests/reader_tests/modis_tests/test_modis_l2.py
Labels: enhancement, component:readers

#2827 Fix `to_xarray_dataset` merge error with conflicting values in coordinate
  satpy/scene.py
  satpy/tests/scene_tests/test_conversions.py
Labels: enhancement, component:scene

#2895 Add flash age compositor for li instruments
  satpy/composites/lightning.py
  satpy/etc/composites/fci.yaml
  satpy/etc/composites/li.yaml
  satpy/etc/enhancements/li.yaml
  satpy/tests/compositor_tests/test_lightning.py
Labels: enhancement, component:compositors

#3044 Add VIIRS EDR datasets
  doc/rtd_environment.yml
  satpy/etc/readers/viirs_edr.yaml
  satpy/readers/satpy_cf_nc.py
Labels: enhancement, component:readers
