Repository pytroll/satpy, pull requests merged in 2025-07, with the labels that each got.

#3172 Update VIIRS composites to use map_blocks instead of delayed
  satpy/composites/viirs.py
  satpy/tests/compositor_tests/test_viirs.py
Labels: bug, component:compositors, cleanup

#3169 Add surface type and terrain elevation to the AWS L1b loading
  satpy/etc/readers/aws1_mwr_l1b_nc.yaml
  satpy/etc/readers/aws1_mwr_l1c_nc.yaml
  satpy/readers/mwr_l1b.py
  satpy/readers/mwr_l1c.py
  satpy/tests/reader_tests/conftest.py
  satpy/tests/reader_tests/test_aws1_mwr_l1c.py
Labels: enhancement, component:readers

#3179 Fix some warnings produced from running the mitiff writer
  satpy/tests/writer_tests/test_mitiff.py
  satpy/writers/core/image.py
  satpy/writers/mitiff.py
Labels: component:writers, component:tests, cleanup

#3180 Fix all fiduceo warnings during tests
  satpy/readers/mviri_l1b_fiduceo_nc.py
  satpy/tests/reader_tests/test_mviri_l1b_fiduceo_nc.py
Labels: component:readers, component:tests, cleanup
