Repository pytroll/satpy, pull requests merged in 2025-03, with the labels that each got.

#3068 Update sphinx to use new sphinx.ext.apidoc extension
  .github/workflows/ci.yaml
  doc/Makefile
  doc/rtd_environment.yml
  doc/source/conf.py
Labels: documentation, cleanup

#3082 Add workaround so dask arrays are optimized in Delayed writing
  satpy/writers/__init__.py
Labels: bug, component:writers, optimization

#3085 Refactor "compute_relative_azimuth" to be more flexible
  satpy/modifiers/angles.py
  satpy/tests/modifier_tests/test_angles.py
Labels: bug, component:compositors, cleanup

#3081 Refactor MODIS readers to avoid extra dask tasks
  satpy/readers/hdfeos_base.py
  satpy/readers/modis_l1b.py
Labels: component:readers, cleanup

#3070 Add a reader for NWC SAF GEO HRW data
  satpy/etc/readers/nwcsaf-geo.yaml
  satpy/readers/nwcsaf_hrw_nc.py
  satpy/tests/reader_tests/test_nwcsaf_hrw_nc.py
Labels: enhancement, component:readers

#3057 Fix LightningTimeCompositor failing when data outside of the time range is passed
  satpy/composites/lightning.py
  satpy/tests/compositor_tests/test_lightning.py
Labels: bug

#3041 Fix MVIRI tests with unstable dependencies
  satpy/tests/reader_tests/test_mviri_l1b_fiduceo_nc.py
Labels: enhancement, component:readers

#3036 DOC: Clarify satpy.yaml use with nested dictionaries
  doc/source/config.rst
Labels: documentation

#3023 Add reader for CAMEL emissivity datasets.
  satpy/etc/readers/camel_l3_nc.yaml
  satpy/readers/camel_l3_nc.py
  satpy/tests/reader_tests/test_camel_l3_nc.py
Labels: enhancement, component:readers

#2998 Correct Unexpected floats when reading LI L2 LFL
  satpy/readers/li_base_nc.py
  satpy/readers/li_l2_nc.py
  satpy/tests/reader_tests/_li_test_utils.py
  satpy/tests/reader_tests/test_li_l2_nc.py
Labels: bug, enhancement, component:readers

#2997 Prepare for channel-specific SEVIRI calibration
  satpy/readers/seviri_base.py
  satpy/readers/seviri_l1b_hrit.py
  satpy/readers/seviri_l1b_native.py
  satpy/readers/seviri_l1b_nc.py
  satpy/readers/utils.py
  satpy/tests/reader_tests/test_seviri_base.py
  satpy/tests/reader_tests/test_seviri_l1b_calibration.py
Labels: enhancement, component:readers

#3028 add missing dependency for vii_l1b_reader
  pyproject.toml
Labels: bug, component:readers

#3040 Unpin dask
  continuous_integration/environment.yaml
  pyproject.toml
Labels: enhancement

#3016 Update scale factor and offset [viirs_l1b]
  satpy/readers/viirs_l1b.py
  satpy/tests/reader_tests/test_viirs_l1b.py
Labels: bug, component:readers
