Repository pytroll/satpy, pull requests merged in 2025-05, with the labels that each got.

#3119 Small Update to MultiScene documentation
  doc/source/multiscene.rst
Labels: documentation

#2993 fix: li missing platform name
  satpy/readers/fci_base.py
  satpy/readers/fci_l1c_nc.py
  satpy/readers/fci_l2_nc.py
  satpy/readers/li_base_nc.py
  satpy/tests/reader_tests/test_fci_l1c_nc.py
  satpy/tests/reader_tests/test_li_l2_nc.py
Labels: bug, component:readers

#3084 Updated the grid size to read claas3 data
  AUTHORS.md
  satpy/readers/cmsaf_claas2.py
  satpy/tests/reader_tests/test_cmsaf_claas.py
Labels: enhancement, component:readers

#3132 Move fci platform name translate to fci base
  satpy/readers/fci_l2_nc.py
Labels: component:readers, cleanup

#3126 Replace deprecated utcnow
  AUTHORS.md
  doc/source/conf.py
  satpy/cf/attrs.py
  satpy/readers/hrpt.py
  satpy/tests/reader_tests/test_satpy_cf_nc.py
  satpy/tests/reader_tests/test_viirs_vgac_l1c_nc.py
  satpy/tests/scene_tests/test_saving.py
  satpy/tests/writer_tests/test_geotiff.py
  satpy/tests/writer_tests/test_mitiff.py
  satpy/tests/writer_tests/test_simple_image.py
  satpy/writers/awips_tiled.py
Labels: enhancement

#3120 Fix invalid documentation references to python objects
  doc/Makefile
  doc/source/composites.rst
  doc/source/conf.py
  doc/source/dev_guide/aux_data.rst
  doc/source/dev_guide/custom_reader.rst
  doc/source/dev_guide/plugins.rst
  doc/source/dev_guide/satpy_internals.rst
  doc/source/enhancements.rst
  doc/source/multiscene.rst
  doc/source/quickstart.rst
  doc/source/reading.rst
  satpy/_scene_converters.py
  satpy/aux_download.py
  satpy/cf/attrs.py
  satpy/cf/data_array.py
  satpy/cf/datasets.py
  satpy/composites/__init__.py
  satpy/composites/abi.py
  satpy/composites/agri.py
  satpy/composites/config_loader.py
  satpy/composites/lightning.py
  satpy/composites/viirs.py
  satpy/dataset/data_dict.py
  satpy/dataset/dataid.py
  satpy/dataset/metadata.py
  satpy/decision_tree.py
  satpy/dependency_tree.py
  satpy/enhancements/__init__.py
  satpy/modifiers/parallax.py
  satpy/multiscene/_multiscene.py
  satpy/node.py
  satpy/readers/__init__.py
  satpy/readers/_geos_area.py
  satpy/readers/amsr2_l2_gaasp.py
  satpy/readers/clavrx.py
  satpy/readers/fci_l1c_nc.py
  satpy/readers/file_handlers.py
  satpy/readers/goes_imager_nc.py
  satpy/readers/hrit_jma.py
  satpy/readers/mirs.py
  satpy/readers/mviri_l1b_fiduceo_nc.py
  satpy/readers/mwr_l1c.py
  satpy/readers/mws_l1b.py
  satpy/readers/nucaps.py
  satpy/readers/pmw_channels_definitions.py
  satpy/readers/sar_c_safe.py
  satpy/readers/seviri_base.py
  satpy/readers/utils.py
  satpy/readers/viirs_sdr.py
  satpy/readers/yaml_reader.py
  satpy/resample.py
  satpy/scene.py
  satpy/tests/utils.py
  satpy/utils.py
  satpy/writers/__init__.py
  satpy/writers/awips_tiled.py
  satpy/writers/cf_writer.py
  satpy/writers/geotiff.py
Labels: bug, documentation

#3135 Fix more invalid sphinx object references
  doc/rtd_environment.yml
  doc/source/composites.rst
  doc/source/conf.py
  doc/source/dev_guide/custom_reader.rst
  doc/source/dev_guide/xarray_migration.rst
  doc/source/reading.rst
  doc/source/resample.rst
  satpy/modifiers/angles.py
  satpy/multiscene/_multiscene.py
  satpy/readers/_geos_area.py
  satpy/readers/eum_l2_bufr.py
  satpy/readers/eum_l2_grib.py
  satpy/readers/fci_l2_nc.py
  satpy/readers/ici_l1b_nc.py
  satpy/readers/modis_l2.py
  satpy/readers/seviri_base.py
  satpy/readers/utils.py
  satpy/readers/vii_base_nc.py
  satpy/readers/vii_l1b_nc.py
  satpy/readers/vii_l2_nc.py
  satpy/readers/viirs_edr_active_fires.py
  satpy/scene.py
  satpy/tests/utils.py
  satpy/utils.py
  satpy/writers/awips_tiled.py
  satpy/writers/cf_writer.py
  satpy/writers/geotiff.py
  satpy/writers/ninjotiff.py
Labels: bug, documentation, cleanup

#3139 Add missing metadata to 'ahi_l2_nc' reader
  satpy/readers/ahi_l2_nc.py
  satpy/tests/reader_tests/test_ahi_l2_nc.py
Labels: bug, component:readers
